<div class="detail-large-container">
	<div class="base-info-panel">
		<div class="bip-header">
			<div class="bip-header-title">
				<i class="recordPng"></i><span>{{mainModel.title}}</span>
			</div>
			<div class="bip-header-btn-group">
			<iv-button type="ghost" @click.stop="doShowTpaBoatEquipmentItemFormModal4Update">{{$t('gb.common.edition')}}</iv-button>
<!-- 				<iv-button v-if="mainModel.isReadOnly" type="ghost" @click.stop="mainModel.isReadOnly = false">{{$t('gb.common.edition')}}</iv-button> -->
<!-- 				<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave">{{$t('gb.comnon.save')}}</iv-button> -->
				<iv-button v-if="mainModel.opType != 'create'" type="ghost" @click="doDelete">{{$t("gb.common.del")}}</iv-button>
			</div>
		</div>
		<div class="bip-content">
			<el-form class="bip-content-form" :model="mainModel.vo" is-label-vertical :rules="mainModel.rules"  v-ref:ruleform>
				<iv-row class="bip-content-item">
					<el-form-item  label="编码" prop="code" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="设备设施子件名称" prop="name" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.name" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="设备设施主件id" prop="equipmentId" class="small-info-box" >
						<input-select :value="mainModel.vo.tpaBoatEquipment" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" @click="(!mainModel.isReadOnly) && (doShowTpaBoatEquipmentSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item  label="序列号" prop="serialNumber" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.serialNumber" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
				</iv-row>
<!--
				<iv-row class="bip-content-item">
					<el-form-item  label="是否禁用" prop="disable" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.disable" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="报废日期" prop="retirementDate" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.retirementDate"></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.retirementDate" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item  label="保修期(月)" prop="warranty" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.warranty" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="保修终止日期" prop="warrantyPeriod" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.warrantyPeriod"></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.warrantyPeriod" textonly class="inp"></iv-input>
					</el-form-item>
-->
			</el-form>
		</div>
	</div>

	<div class="rel-info-panel">
		<div class="rel-info-panel-content-tabs">
			<el-tabs active-key="relTab">
				<el-tab-pane label="相关" key="relTab">

				</el-tab-pane>
				<el-tab-pane label="资料" key="basTab">
					<div class="rip-item">
						<el-form :model="mainModel.vo" class="rip-item-form">
							<div class="rip-item-form-card">
								<p class="rip-item-form-card-title">基本信息</p>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('编码')">
											<span>{{mainModel.vo.code}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('设备设施子件名称')">
											<span>{{mainModel.vo.name}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('设备设施主件id')">
											<span>{{mainModel.vo.equipmentId}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('序列号')">
											<span>{{mainModel.vo.serialNumber}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
							</div>
							<div class="rip-item-form-card">
								<p class="rip-item-form-card-title">详细信息</p>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('是否禁用')">
											<span>{{mainModel.vo.disable}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('报废日期')">
											<span>{{mainModel.vo.retirementDate}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('保修期(月)')">
											<span>{{mainModel.vo.warranty}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('保修终止日期')">
											<span>{{mainModel.vo.warrantyPeriod}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
							</div>			
						</el-form>
					</div>	
				</el-tab-pane>
			</el-tabs>
		</div>
	</div>
		
</div>

<tpaboatequipment-select-modal :visible.sync="selectModel.tpaBoatEquipmentSelectModel.visible" :filter-data="selectModel.tpaBoatEquipmentSelectModel.filterData"  @do-save="doSaveTpaBoatEquipment"></tpaboatequipment-select-modal>

<tpaboatequipmentitem-form-modal
		:visible.sync="formModel.tpaBoatEquipmentItemFormModel.show"
		@do-update="doUpdateTpaBoatEquipmentItem"
		:query-url="formModel.tpaBoatEquipmentItemFormModel.queryUrl"
		v-ref:tpaboatequipmentitem-form-modal>
</tpaboatequipmentitem-form-modal>

