<div class="tab-container">
    <div class="main-panel">
        <div class="mp-header formTitle">
            <iv-row $main-header-row-attr-default-display>
                <iv-col $main-header-condition-div-attr-default>
                    <!-- <all-classification $main-header-classification-attr-default>
                    </all-classification> -->
                    <cust-filter-condition-group v-ref:condtion-group></cust-filter-condition-group>
                </iv-col>
                <!-- <iv-col $main-header-func-div-attr-default>
                    <div class="prelative addButton pull-right">
                        <vi-button v-if="hasAuth('create')" @click="doAdd">{{$t("gb.common.add")}}</vi-button>

                        <iv-dropdown trigger="click" placement="bottom-end">
                            <vi-button type="ghost" icon="chevron-down"></vi-button>
                            <iv-dropdown-menu slot="list">
                                <iv-dropdown-item>
                                   
                                    <div class="uploadAport" v-if="hasAuth('export')" @click="doExportExcel"><a>{{$t("gb.common.export")}}</a></div>
                                
                                </iv-dropdown-item>
                                
                            </iv-dropdown-menu>
                        </iv-dropdown>
                    </div>
                    $main-header-refresh-button
                </iv-col> -->
            </iv-row>
            <iv-row $main-header-row-attr-default-hidden>
                <iv-col span="24">
                  
                    <!-- <vi-button v-if="hasAuth('export') " type="text" class="mp-header-item-btn" @click="">导出</vi-button> -->
                   
                </iv-col>
            </iv-row>
        </div>
        <div class="mp-content" id="approvalUsers">
            <vue-bootstrap-table show-seq $main-center-table-attr-default>
            </vue-bootstrap-table>
        </div>
    </div>
</div>

<aside :show.sync="detailModel.show" :class="mainModel.detailPanelClass">
    <detail-panel
            @do-detail-user-add="doDetailUserAdd"
            @do-detail-update="doDetailFinshed"
            @change-auth-menu="doMenuAndFunc"
            @change-auth-data="doAlotData"
    ></detail-panel>
</aside>
