<div class="detail-container" v-if="detailShow">
    <div class="few-info-panel pull-left">
        <div class="fip-header">
            <Icon type="ios-photos"></Icon>
            <span>{{$t("gb.common.basicInfo")}}</span>
            <span slot="title" v-if="!showSetTab && enableUserWorkState"><span :style="styleObj">{{mainModel.vo.workState === '1' ? '上班中' : '已下班'}}</span></span>
        </div>
        <div class="fip-content">

            <el-tabs v-if="mainModel.showTabs && showSetTab" @tab-click="doTabs">

                <el-tab-pane :label="$t('gb.common.basicDocu')">
                    <basic-information :base-data="mainModel.vo"></basic-information>
                </el-tab-pane>
                <el-tab-pane :label="$t('gb.common.modifyPsd')" v-if="showModifyPsdTabPane">
                    <change-password :passfrom="mainModel.pwd"></change-password>
                </el-tab-pane>
            </el-tabs>

            <el-tabs v-if="mainModel.showTabs && !showSetTab" @tab-click="doTabs">

                <el-tab-pane :label="$t('gb.common.basicDocu')">
                    <basic-information :base-data="mainModel.vo"></basic-information>
                </el-tab-pane>

                <el-tab-pane  :label="$t('gb.common.avatarSetting')">
                    <avatar-settings></avatar-settings>
                </el-tab-pane>

                <el-tab-pane :label="$t('gb.common.modifyPsd')" v-if="showModifyPsdTabPane">
                    <change-password :passfrom="mainModel.pwd"></change-password>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
    <div class="few-info-sider pull-right">
        <iv-button type="ghost" @click="doClose" icon="close-round"  v-if="buttonModal.closeButton">{{$t("gb.common.close")}}</iv-button>
        <!--<iv-button type="ghost" @click="doUpdate" icon="compose" v-if="buttonModal.update">{{$t("gb.common.modify")}}</iv-button>-->
        <iv-button type="ghost" @click="doSave" icon="android-document" v-if="buttonModal.submitButton && buttonModal.updateButton">{{$t("gb.comnon.save")}}</iv-button>
        <iv-button type="ghost" @click="doUpdateWorkState" icon="clock" v-if="!showSetTab && enableUserWorkState">{{mainModel.vo.workState === '1' ? '下班打卡':'上班打卡'}}</iv-button>
        <iv-button type="ghost" @click="doPwdSave" icon="android-document" v-if="buttonModal.showPassButton">{{$t("gb.comnon.save")}}</iv-button>

    </div>
</div>