<div class="detail-container contacts" style="padding: 0;">
    <div class="few-info-panel pull-left mailList">
        <div class="fip-header">
            <Icon type="ios-photos"></Icon>
            <span>工作台</span>
            <span style="margin-left: 200px;font-size: 15px;">全部群阻</span>
        </div>
        <div class="fip-content" style="padding: 10px 10px;">
            <iv-input icon="ios-search-strong" style="width:380px"></iv-input>
            <ul class="dealt">
                <li>
                    <div style="position:relative;float: left;width: 10%">
                        <img src="../html/images/all.png" style="width: 50px;border-radius: 50%;">
                    </div>
                    <div style="position:relative;float: left;width: 90%">
                        <div>产品组</div><span>成员(33人)</span>
                    </div>
                </li>
                <li>
                    <div style="position:relative;float: left;width: 10%">
                        <img src="../html/images/all.png" style="width: 50px;border-radius: 50%;">
                    </div>
                    <div style="position:relative;float: left;width: 90%">
                        <div>产品组</div><span>成员(33人)</span>
                    </div>
                </li>
                <li>
                    <div style="position:relative;float: left;width: 10%">
                        <img src="../html/images/all.png" style="width: 50px;border-radius: 50%;">
                    </div>
                    <div style="position:relative;float: left;width: 90%">
                        <div>产品组</div><span>成员(33人)</span>
                    </div>
                </li>
                <li>
                    <div style="position:relative;float: left;width: 10%">
                        <img src="../html/images/all.png" style="width: 50px;border-radius: 50%;">
                    </div>
                    <div style="position:relative;float: left;width: 90%">
                        <div>产品组</div><span>成员(33人)</span>
                    </div>
                </li>
                <li>
                    <div style="position:relative;float: left;width: 10%">
                        <img src="../html/images/all.png" style="width: 50px;border-radius: 50%;">
                    </div>
                    <div style="position:relative;float: left;width: 90%">
                        <div>产品组</div><span>成员(33人)</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="few-info-sider pull-right">
    </div>
</div>