<div class="detail-container contacts" style="padding: 0;">
    <div class="few-info-panel pull-left">
        <div class="fip-header">
            <Icon type="ios-photos"></Icon>
            <span>工作台</span>
            <span style="margin-left: 200px;font-size: 15px;">待整改</span>
        </div>
        <div class="fip-content" style="padding: 0 10px;">
            <el-tabs  >
                <el-tab-pane label="待办">
                    <ul class="dealt">
                        <li>
                            <div>防火检查 <span>待整改</span></div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                        <li>
                            <div>防火检查 <span>待整改</span></div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                        <li>
                            <div>防火检查 <span>待整改</span></div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                        <li>
                            <div>防火检查 <span>待整改</span></div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                        <li>
                            <div>防火检查 <span>待整改</span></div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                    </ul>
                </el-tab-pane>
                <el-tab-pane label="已完成">
                    <ul class="dealt">
                        <li>
                            <div>防火检查 </div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                        <li>
                            <div>防火检查 </div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                        <li>
                            <div>防火检查 </div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                        <li>
                            <div>防火检查 </div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                        <li>
                            <div>防火检查 </div>
                            <div>创建时间:2017-06-16</div>
                        </li>
                    </ul>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
    <div class="few-info-sider pull-right">
    </div>
</div>