<div class="tab-container">
    <div class="main-panel">
        <div class="mp-header formTitle">
            <iv-row $main-header-row-attr-default-display>

                <iv-col span="18">
                    <all-classification $main-header-classification-attr-default></all-classification>
					<cust-filter-condition-group v-ref:condtion-group></cust-filter-condition-group>
                </iv-col>
                <iv-col span="6">
                    <div class="prelative addButton pull-right">
                        <vi-button v-if="hasAuth('create')" @click="doAdd">{{$t("gb.common.add")}}</vi-button>
                        
                        <iv-dropdown trigger="click" placement="bottom-end">
							<vi-button type="ghost" icon="chevron-down"></vi-button>
							<iv-dropdown-menu slot="list">
                                <iv-dropdown-item>
                                    <div v-if="hasAuth('export')" class="uploadAport" @click="doExportExcel"><a>{{$t("gb.common.export")}}</a></div>
                                </iv-dropdown-item>
                                <iv-dropdown-item>
                                    <div v-if="hasAuth('import')" class="uploadAport" @click="doImport"><a>{{$t("gb.common.import")}}</a></div>
                                </iv-dropdown-item>
                                $main-header-dropdown-item-tag-common-display
							</iv-dropdown-menu>
						</iv-dropdown>
                    </div>
                    $main-header-refresh-button

                    <!--<div class="main-special-box-1">
                        <a @click="doFilterBySpecial('1')" :class="{'checked': filterTabId === 'todo1'}" class="main-special-item"  href="javascript:void(0);">待办 ({{undoCount}})</a>
                        <a @click="doFilterBySpecial()" :class="{'checked': filterTabId === 'todo'}" class="main-special-item" href="javascript:void(0);">所有</a>
                    </div>-->
                </iv-col>
            </iv-row>
            <iv-row $main-header-row-attr-default-hidden>
                <iv-col span="24">
                    <vi-button type="text" class="mp-header-item-btn">{{$t("gb.common.selItem", [tableModel.selectedDatas.length])}}
                    </vi-button>
                    <vi-button v-if="hasAuth('preview')" type="text" class="mp-header-item-btn" @click="doPreview()">预览</vi-button>
                    <vi-button v-if="hasAuth('edit') && showSubmit" type="text" class="mp-header-item-btn"
                               @click="doUpdate">{{$t("gb.common.edition")}}
                    </vi-button>
                    <vi-button v-if="hasAuth('audit') && showAudit" type="text" class="mp-header-item-btn"
                               @click="doAudit()">审核
                    </vi-button>
                    <!--<vi-button v-if="hasAuth('copy')" type="text" class="mp-header-item-btn"
                               @click="doAdd4Copy">复制
                    </vi-button>-->

                    <vi-button v-if="hasAuth('submit') && showSubmit" type="text" class="mp-header-item-btn"
                               @click="doConfirmCallback('doSubmit', '确定提交审核?')">提交审核
                    </vi-button>
                    <vi-button v-if="hasAuth('publish') && showPublish" type="text" class="mp-header-item-btn"
                               @click="doConfirmCallback('doPublish', '确定发布任务?')">发布
                    </vi-button>
                    <vi-button v-if="hasAuth('delete')" type="text" class="mp-header-item-btn"
                               @click="doDelete">{{$t("gb.common.del")}}
                    </vi-button>
                </iv-col>
            </iv-row>
        </div>
        <div class="mp-content">
            <vue-bootstrap-table $main-center-table-attr-default @on-data-loaded="onTableDataLoaded"></vue-bootstrap-table>
        </div>
    </div>
</div>

<preview-modal :visible.sync="previewModel.visible" :id="previewModel.id"></preview-modal>

<aside :show.sync="detailModel.show" :class="mainModel.detailPanelClass">
    <detail-panel @do-preview="doPreview" @do-audit="doAudit"></detail-panel>
</aside>

<Modal :visible.sync="auditObj.visible" footer-hide title="审核操作任务">
    <div class="edit-pop-container" >
        <div class="epc-content">
            <el-form :model="auditObj" :rules="auditRules" v-ref:auditform>

                <el-form-item  label="审核结果" prop="status">
                    <iv-radio-group :model.sync="auditObj.status">
                        <iv-radio value="2">通过</iv-radio>
                        <iv-radio value="0">不通过</iv-radio>
                    </iv-radio-group>
                </el-form-item>
                <!--<el-form-item  label="审批意见" prop="remarks">
                    <iv-input type="textarea" :rows="4" :value.sync="auditObj.remarks"></iv-input>
                </el-form-item>-->
                <el-form-item label="签名" prop="signatures">
                    <image-view :images="auditObj.signatures" @on-close="doDeleteFile" v-if="auditObj.signatures.length > 0"></image-view>

                    <vue-file-upload :params="signatureModel.params" @on-success-upload="doUploadSignature" class="file_upload"
                                     :filters="signatureModel.filters" v-if="auditObj.signatures.length < 1"></vue-file-upload>
                </el-form-item>
            </el-form>
        </div>
        <div class="epc-footer">
            <vi-button type="primary" @click="doPass" class="pull-right">保存</vi-button>
        </div>
    </div>
</Modal>

<import-progress @do-export-excel="doExportExcel" :url="uploadModel.url" :helper-url="importHelperUrl" :templete-url="templete.url" :import-model.sync="importProgress.show"></import-progress>