<div class="detail-container">
	<div class="few-info-panel pull-left">
		<div class="fip-header">
			<Icon type="ios-photos"></Icon>
			<span>{{mainModel.title}}</span>
		</div>
		<div class="fip-content">
			<!-- 模型基础信息 -->
			<simple-card class="fip-content-item">
				<p slot="title"><i class="basicPng"></i><span>{{$t('gb.common.basicInfo')}}</span></p>
				<el-form class="fip-content-item-form" :model="mainModel.vo"
						 :rules="baseRules" v-ref:ruleform>
					<el-form-item :label="$t('gb.common.code')" prop="code">
						<code-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item label="作业开始时间" prop="workStartTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.workStartTime" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.workStartTime)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.state')" prop="disable">
						<disable-select :value.sync="mainModel.vo.disable" :read-only="mainModel.isReadOnly" :show-input="mainModel.opType === 'update'"></disable-select>
					</el-form-item>
					<el-form-item label="预约评审人" prop="auditor.id">
						<input-select :value="mainModel.vo.auditor" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" clearable @click="(!mainModel.isReadOnly) && (doShowAuditorSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item label="作业类型" prop="workCatalog.id">
						<input-select :value="mainModel.vo.workCatalog" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" clearable @click="(!mainModel.isReadOnly) && (doShowWorkCatalogSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item label="作业地点" prop="workPlace">
						<iv-input :value.sync="mainModel.vo.workPlace" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="作业结束时间" prop="workEndTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.workEndTime" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.workEndTime)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="是否启用预约机制" prop="enableReservation">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_card_enable_reservation', mainModel.vo.enableReservation) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableReservation" :list="getDataDicList('iptw_work_card_enable_reservation')" clearable></i-select>
					</el-form-item>
					<el-form-item label="作业内容" prop="workContent">
						<iv-input :value.sync="mainModel.vo.workContent" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.ownedComp')" prop="compId">
						<company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.compId)['compName']" textonly></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.ownedDept')" prop="orgId">
						<department-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.orgId" :comp-id.sync ="mainModel.vo.compId" clearable></department-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.orgId)['deptName']" textonly></iv-input>
					</el-form-item>
					<el-form-item label="评审意见" prop="auditOpinion">
						<iv-input :value.sync="mainModel.vo.auditOpinion" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="评审结果" prop="auditResult">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_card_audit_result', mainModel.vo.auditResult) }}</span>
						<i-select v-else :model.sync="mainModel.vo.auditResult" :list="getDataDicList('iptw_work_card_audit_result')" clearable></i-select>
					</el-form-item>
					<el-form-item label="评审时间" prop="auditTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.auditTime" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.auditTime)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="最新作业许可" prop="lastPermitId">
						<iv-input :value.sync="mainModel.vo.lastPermitId" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="作业状态" prop="status">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_card_status', mainModel.vo.status) }}</span>
						<i-select v-else :model.sync="mainModel.vo.status" :list="getDataDicList('iptw_work_card_status')" clearable></i-select>
					</el-form-item>
					<el-form-item label="作业所在设备" prop="workEquipment">
						<iv-input :value.sync="mainModel.vo.workEquipment" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="作业分级" prop="workLevelId">
						<iv-input :value.sync="mainModel.vo.workLevelId" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
				</el-form>
			</simple-card>
			
			<div class="rel-info-panel" :class="{'rel-info-panel-mask': showPanelMask}">
			<simple-card class="fip-content-item"  filter filter-when>
				<p slot="title"><i class="basicPng"></i><span>作业许可</span></p>
				<a slot="extra" v-show="mainModel.opType != 'create'" @click.prevent="doShowWorkPermitFormModal4Create" >
					<span><Icon type="plus"></Icon>添加</span>
				</a>
				<vue-bootstrap-table
					:setting="tableModel.workPermitTableModel"
					@on-del-row="doRemoveWorkPermit"
					@on-edit-row="doShowWorkPermitFormModal4Update"
					v-ref:workpermit-table
					>
				</vue-bootstrap-table>
			</simple-card>

			<simple-card class="fip-content-item"  filter filter-when>
				<p slot="title"><i class="basicPng"></i><span>作业许可历史</span></p>
				<a slot="extra" v-show="mainModel.opType != 'create'" @click.prevent="doShowWorkHistoryFormModal4Create" >
					<span><Icon type="plus"></Icon>添加</span>
				</a>
				<vue-bootstrap-table
					:setting="tableModel.workHistoryTableModel"
					@on-del-row="doRemoveWorkHistory"
					@on-edit-row="doShowWorkHistoryFormModal4Update"
					v-ref:workhistory-table
					>
				</vue-bootstrap-table>
			</simple-card>

		<!-- 无需附件上传请删除此段代码 -->
		<!--
			<file-list-simple-card title="附件列表" class="fip-content-item" :data="fileModel.file.data" :config="fileModel.file.cfg"> </file-list-simple-card>
		-->
			</div>

			
		</div>
	</div>
	<div class="few-info-sider pull-right">
		<iv-button type="ghost" icon="close-round" @click.stop="doClose" >{{$t("gb.common.close")}}</iv-button>
		<iv-button v-if="mainModel.isReadOnly && hasAuth('edit')" type="ghost" @click.stop="doEdit" icon="android-document">{{$t('gb.common.edition')}}</iv-button>
		<iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click="doAdd4Copy" icon="android-document">复制</iv-button>
		<vi-button v-if="mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('enable')" type="ghost" icon="ios-minus-outline" @click="doEnableDisable">{{$t("gb.common.EnableDisable")}}</vi-button>
		<iv-button v-if="mainModel.isReadOnly && mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('delete')" type="ghost" @click="doDelete" icon="trash-a">{{$t("gb.common.del")}}</iv-button>
		<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave" icon="android-document">{{$t('gb.comnon.save')}}</iv-button>
		<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" class="mp-header-item-btn" @click="doCancel" icon="ios-information-outline ">{{$t("gb.common.cancel")}}</vi-button>
	</div>
</div>

<ptwcatalog-select-modal :visible.sync="selectModel.workCatalogSelectModel.visible" :filter-data="selectModel.workCatalogSelectModel.filterData" single-select @do-save="doSaveWorkCatalog"></ptwcatalog-select-modal>
<member-select-modal :visible.sync="selectModel.auditorSelectModel.visible" :filter-data="selectModel.auditorSelectModel.filterData" single-select @do-save="doSaveAuditor"></member-select-modal>

<ptwworkpermit-form-modal
		:visible.sync="formModel.workPermitFormModel.show"
		@do-save="doSaveWorkPermit"
		@do-update="doUpdateWorkPermit"
		:query-url="formModel.workPermitFormModel.queryUrl"
		:hidden-fields="formModel.workPermitFormModel.hiddenFields"
		v-ref:workpermit-form-modal>
</ptwworkpermit-form-modal>
<ptwworkhistory-form-modal
		:visible.sync="formModel.workHistoryFormModel.show"
		@do-save="doSaveWorkHistory"
		@do-update="doUpdateWorkHistory"
		:query-url="formModel.workHistoryFormModel.queryUrl"
		:hidden-fields="formModel.workHistoryFormModel.hiddenFields"
		v-ref:workhistory-form-modal>
</ptwworkhistory-form-modal>
