<div style="width:870px;">
    <div class="ptw-tab-title base-border-bottom">许可签发</div>
    <div class="ptw-tab-content flex-layout pdt5" style="align-items:flex-start">
        <div class="flex-grow1 flex-layout-vertical">
            <div class="flex-grow1">
                <div>
                    <!--<p style="padding-left:1em;padding-top:15px;">-->
                        <!--会签次序固化：<br>-->
                        <!--[作业申请人] 是第一签名确认次序，[作业批准人]是最后一个签名确认次序，其他签名人员次序可以设置和调整。-->
                    <!--</p>-->
                    <!--流程图预留-->
                    <div class=""></div>
                    <div class="flex-h-end">
                        <!--<iv-checkbox @on-change="doChangeOrder" :checked.sync="model.enableSignOrder" false-value="0" true-value="1">签发需要按次序执行</iv-checkbox>-->
                        <!--<label  v-show="model.enableSignOrder==1" class="ml20 link-ele" @click="doSetSignOrder">设置签发次序</label>-->
                        <label class="ml20 link-ele" @click="doShowRoles">新增添加</label>
                        <label class="ml20 link-ele" @click="doSetSignOrder">设置签发次序</label>
                    </div>
                </div>
                <!--xxxxxxxxxxxx流程图xxxxxxxxxxxxx-->
                <div>

                </div>
            </div>
            <div class="ml10 mt20 my-ivu-timeline-item-content">
                <timeline>
                    <timeline-item v-for="(index,item) of tplRoleList">
                        <span class="ptw-timeline-serialnumber" style="width:1.8em;height: 1.8em;" slot="dot">{{item.signStep}}</span>
                        <div style="margin-top:-7px;">
                            <div style="cursor: pointer;padding-right:10px;" class="ptw-license-roleitemtitle" @click="item.show=!item.show">
                                <span class="flex-noshrink">{{item.signCatalog.name}}</span>
                                <p style="font-size:14px;">
                                    <icon  type="ios-close" style="margin-right: 5px;"
                                          @click.stop="doRemoveRole(index)"
                                    ></icon>
                                    <icon style="font-size:14px;" type="chevron-up" v-show="item.show" @click.stop="item.show=false" class="mr10" ></icon>
                                    <icon style="font-size:14px;" type="chevron-down"v-show="!item.show" @click.stop="item.show=true"  class="mr10"></icon>
                                </p>
                            </div>
                            <div class="ptw-license-roleitemcontent child-mt5 xuke-liebiao" v-show="item.show">
                                <div class="flex-layout ">
                                    <!--<div class="form-item-label bgw">{{item.signCatalog.name}}</div>-->
                                    <div class="form-item-label bgw form-item-label-min-60">人员</div>

                                    <div class="form-item-input disable-style" style="background: none;" v-if="item.signCatalog.signerType==1">申请人</div>
                                    <div class="flex-grow1" v-else>
                                            <multi-input-select   :overflow-hover="false" :values="item.users" @click="doAddUser(item.users)"></multi-input-select>
                                    </div>
                                    <div class="form-item-btn"></div>
                                </div>
<!--                                <div class="flex-layout" v-if="item.enableCommitment==1">-->
                                <div class="flex-layout" v-show="item.signCatalog.enableCommitment == '1'">
                                    <!--<div class="form-item-label ptw-flex-start bgw">{{item.signCatalog.name}}承诺</div>-->
                                    <div class="form-item-label ptw-flex-start bgw form-item-label-min-60">承诺</div>
                                    <div class="form-item-input disable-active-style">
                                        {{item.signCatalog.content}}
                                    </div>
                                    <div class="form-item-btn link-ele" @click="gotoDic(item.signCatalog)">定制内容</div>
                                </div>
                                <div class="flex-layout" >
                                    <!--<div class="form-item-label bgw">{{item.signCatalog.name}}意见</div>-->
                                    <div class="form-item-label bgw form-item-label-min-60">意见</div>

                                    <div class="form-item-input disable-style">手动填写意见</div>
                                    <div class="form-item-btn link-ele"></div>
                                </div>
                                <div class="flex-layout">
                                    <!--<div class="form-item-label bgw">{{item.signCatalog.name}}签名</div>-->
                                    <div class="form-item-label bgw form-item-label-min-60">签名</div>

                                    <div class="flex-grow1 flex-layout ">
                                        <div class="form-item-input disable-style">人员签名</div>
                                        <div class="form-item-input ml20 disable-style">签名日期时间</div>
                                    </div>
                                    <div class="form-item-btn"></div>
                                </div>
                            </div>
                        </div>
                    </timeline-item>
                </timeline>
            </div>
        </div>
        <div style="cursor: pointer;background: #fff;" class="ptw-license-rolebox  child-mt10">
            <div style="text-align: left;color:#33a6ff;cursor: pointer;width:50px;" @click="gotoSign">配置</div>
            <div @click="doAddRole(item)" style="cursor: pointer;" class="ptw-roleitem-btn" v-for="item of selRoleList">
                <icon style="cursor: pointer;" type="ios-person-outline" class="mr10 ptw-icon-ios"></icon><label style="cursor: pointer;">{{item.name}}</label>
                <icon style="cursor: pointer;position: absolute;right: 10px;" type="plus" class="link-ele" style="position: absolute;right: 5px" ></icon>
            </div>
        </div>
    </div>
</div>
<modal-set-order v-ref:set-order></modal-set-order>
<user-select-modal :single-select="false" :visible.sync="showUserSelectModal" @do-save="doSaveUser"></user-select-modal>
<roles-model :visible.sync="showRolesModel" @do-save="doSaveRoles" ></roles-model>

