<div class="mechanism-setting">
    <div class="mechanism-item" v-if="showItem === 'person' || showItem === 'all'">
        <div class="mechanism-title" @click.prevent="userConfs.show = !userConfs.show">
            <div class="mechanism-side">
                <strong>{{$t('em.ms.personalp')}}</strong>
                <a href="javascript:void(0);" @click.prevent="userConfs.show = !userConfs.show">
                    <Icon type="chevron-up" v-show="userConfs.show" @click.prevent="userConfs.show = !userConfs.show">
                    </Icon>
                    <Icon type="chevron-down" v-show="!userConfs.show"
                        @click.prevent="userConfs.show = !userConfs.show"></Icon>
                </a>
            </div>
        </div>
        <div v-show="userConfs.show" style="margin-left: 20px;margin-top: 10px">
            <table border="1">
                <colgroup>
                    <col style="width: 50px;">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="my-td my-bg my-center" style="text-align: center;">{{$t('gb.common.serialNumber')}}
                        </td>
                        <td class="my-td my-bg">{{$t('em.ms.iai')}}</td>
                        <td class="my-td my-bg my-center" style="width:7%">{{$t('em.ms.ar')}}</td>
                    </tr>
                    <tr>
                        <td class="my-td my-center">1</td>
                        <td class="my-td">
                            {{$t('em.ms.coatt')}}
                            <iv-input-number :min="0" :disabled="!disabled" :value.sync="userConfs.vo.CheckNum.score">
                            </iv-input-number>{{$t('em.ms.pn')}}
                            {{$t('em.ms.tmlop')}}
                            <iv-input-number :min="0" :disabled="!disabled"
                                :value.sync="userConfs.vo.CheckNum.dailyMaxScore"></iv-input-number>
                            {{$t('em.ms.points')}}。
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="userConfs.vo.CheckNum.enabled" :disabled="!disabled">
                            </iv-checkbox>
                        </td>

                    </tr>
                    <tr>
                        <td class="my-td my-center">2</td>
                        <td class="my-td">
                            {{$t('em.ms.trodo')}}
                            <iv-input-number :min="0" :disabled="!disabled"
                                :value.sync="userConfs.vo.ImmedReformOfRadomObser.score"></iv-input-number>
                            {{$t('em.ms.points')}}。
                            {{$t('em.ms.tmlop')}}
                            <iv-input-number :min="0" :disabled="!disabled"
                                :value.sync="userConfs.vo.ImmedReformOfRadomObser.dailyMaxScore"></iv-input-number>
                            {{$t('em.ms.points')}}。
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="userConfs.vo.ImmedReformOfRadomObser.enabled"
                                :disabled="!disabled"></iv-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td class="my-td my-center">3</td>
                        <td class="my-td">{{$t('em.ms.tpfip')}}；
                            <br />
                            <div v-for="(m,model) in riskModelEffectiveProblems" style="clear:both">
                                <span style="float: left;">{{model.riskModelName}}: </span>
                                <div v-for="(i,range) in model.riskGradeLatRanges" style="float: left;">
                                    <div v-for="(index,conf) in userConfs.vo.EffectiveProblem.subRuleConfs"
                                        style="float: left;">
                                        <span v-if="conf.rangeId == range.id">
                                            {{range.level}} <iv-input-number :disabled="!disabled" :min="0"
                                                :value.sync="userConfs.vo.EffectiveProblem.subRuleConfs[index].score">
                                            </iv-input-number>{{$('em.ms.points')}} &nbsp;&nbsp;
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--                        <div v-for="(index,conf) in userConfs.vo.EffectiveProblem.subRuleConfs" style="float: left;" v-if="effectiveProblemRangeShow === true && riskGradeLatRanges.length > 0">-->
                            <!--                            <span>-->
                            <!--                                [{{conf.level}}]得<iv-input-number :disabled ="!disabled" :min="0" :value.sync="userConfs.vo.EffectiveProblem.subRuleConfs[index].score"></iv-input-number>分 &nbsp;&nbsp;-->
                            <!--                            </span>-->
                            <!--                        </div>-->
                            <br />
                            {{$t('em.ms.tmlop')}}
                            <iv-input-number :min="0" :disabled="!disabled"
                                :value.sync="userConfs.vo.EffectiveProblem.dailyMaxScore"></iv-input-number>
                            {{$('em.ms.points')}}。
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="userConfs.vo.EffectiveProblem.enabled" :disabled="!disabled">
                            </iv-checkbox>

                        </td>
                    </tr>
                    <tr>
                        <td class="my-td my-center">4</td>
                        <td class="my-td">
                            {{$t('em.ms.ipafb')}}
                            <iv-input-number :min="0" :disabled="!disabled"
                                :value.sync="userConfs.vo.RandomObservation.score"></iv-input-number>
                            {{$t('em.ms.points')}}。
                            {{$t('em.ms.tmlop')}}
                            <iv-input-number :min="0" :disabled="!disabled"
                                :value.sync="userConfs.vo.RandomObservation.dailyMaxScore"></iv-input-number>
                            {{$t('em.ms.points')}}。
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="userConfs.vo.RandomObservation.enabled" :disabled="!disabled">
                            </iv-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mechanism-item" v-if="showItem === 'department' || showItem === 'all'">
        <div class="mechanism-title" @click.prevent="deptConfs.show = !deptConfs.show">
            <div class="mechanism-side">
                <strong>{{$t('em.ms.dp')}}</strong>
                <a href="javascript:void(0);" @click.prevent="deptConfs.show = !deptConfs.show">
                    <Icon type="chevron-up" v-show="deptConfs.show" @click.prevent="deptConfs.show = !deptConfs.show">
                    </Icon>
                    <Icon type="chevron-down" v-show="!deptConfs.show"
                        @click.prevent="deptConfs.show = !deptConfs.show"></Icon>
                </a>
            </div>
        </div>
        <div v-show="deptConfs.show" style="margin-left: 20px;margin-top: 10px">
            <table border="1">
                <colgroup>
                    <col style="width: 50px;">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="my-td my-center my-bg">{{$t('gb.common.serialNumber')}}</td>
                        <td class="my-td my-bg">{{$t('em.ms.iai')}}</td>
                        <td class="my-td my-center my-bg" style="width: 7%">{{$t('em.ms.ar')}}</td>
                    </tr>
                    <tr>
                        <td class="my-td my-center">1</td>
                        <td class="my-td">{{$t('em.ms.attr')}}
                            <iv-input-number :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptPerCapitaScore.subRuleConfs.DeptPerCapitaScore1.score">
                            </iv-input-number>，{{$t('em.ms.tdvi')}}<iv-input-number :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptPerCapitaScore.subRuleConfs.DeptPerCapitaScore2.score">
                            </iv-input-number>
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="deptConfs.vo.DeptPerCapitaScore.enabled" :disabled="!disabled">
                            </iv-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td class="my-td my-center">2</td>
                        <td class="my-td">{{$t('em.ms.attrts')}}
                            <iv-input-number :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptPerCapitaProblem.subRuleConfs.DeptPerCapitaProblem1.score">
                            </iv-input-number>，{{$t('em.ms.tdvi')}}<iv-input-number :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptPerCapitaProblem.subRuleConfs.DeptPerCapitaProblem2.score">
                            </iv-input-number>
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="deptConfs.vo.DeptPerCapitaProblem.enabled"
                                :disabled="!disabled"></iv-checkbox>

                        </td>
                    </tr>
                    <tr>
                        <td class="my-td my-center">3</td>
                        <td class="my-td">{{$t('em.ms.attrtso')}}
                            <iv-input-number :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptReformRate.subRuleConfs.DeptReformRate1.score"
                                :disabled="disabled"></iv-input-number>，{{$t('em.ms.tdvi')}}<iv-input-number
                                :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptReformRate.subRuleConfs.DeptReformRate2.score">
                            </iv-input-number>
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="deptConfs.vo.DeptReformRate.enabled" :disabled="!disabled">
                            </iv-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td class="my-td my-center">4</td>
                        <td class="my-td">{{$t('em.ms.tswcth')}}。
                            <br />
                            <!--                            <div v-for="(i,range) in deptDiscoverHiddenDangers" style="float: left;" v-if="deptDiscoverHDRangeShow === false">-->
                            <!--                                <div v-for="(index,conf) in deptConfs.vo.DeptDiscoverHiddenDanger.subRuleConfs" style="float: left;">-->
                            <!--                                <span v-if="conf.rangeId == range.id">-->
                            <!--                                     [{{range.level}}]隐患（经过确认）<iv-input-number :disabled ="!disabled" :min="0" :value.sync="deptConfs.vo.DeptDiscoverHiddenDanger.subRuleConfs[index].score"></iv-input-number>分 &nbsp;&nbsp;-->
                            <!--                                </span>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div v-for="(m,model) in riskModelDeptDiscoverHiddenDangers" style="clear:both">
                                <span style="float: left;">{{model.riskModelName}}: </span>
                                <div v-for="(i,range) in model.riskGradeLatRanges" style="float: left;">
                                    <div v-for="(index,conf) in deptConfs.vo.DeptDiscoverHiddenDanger.subRuleConfs"
                                        style="float: left;">
                                        <span v-if="conf.rangeId == range.id">
                                            {{range.level}}<iv-input-number :disabled="!disabled" :min="0"
                                                :value.sync="deptConfs.vo.DeptDiscoverHiddenDanger.subRuleConfs[index].score">
                                            </iv-input-number>{{$('em.ms.points')}} &nbsp;&nbsp;
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div v-for="(index,conf) in deptConfs.vo.DeptDiscoverHiddenDanger.subRuleConfs" style="float: left;" v-if="deptDiscoverHDRangeShow === true && deptDiscoverHiddenDangers.length > 0">-->
                            <!--                            <span>-->
                            <!--                                [{{conf.level}}]隐患（经过确认）<iv-input-number :disabled ="!disabled" :min="0" :value.sync="deptConfs.vo.DeptDiscoverHiddenDanger.subRuleConfs[index].score"></iv-input-number>分 &nbsp;&nbsp;-->
                            <!--                            </span>-->
                            <!--                            </div>-->
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="deptConfs.vo.DeptDiscoverHiddenDanger.enabled"
                                :disabled="!disabled"></iv-checkbox>
                        </td>
                    </tr>

                    <tr>
                        <td class="my-td my-center">5</td>
                        <td class="my-td">{{$t('em.ms.actrtsoti')}}
                            <iv-input-number :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptRandomPassRate.subRuleConfs.DeptRandomPassRate1.score"
                                :disabled="disabled"></iv-input-number>，{{$t('em.ms.tdvi')}}<iv-input-number
                                :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptRandomPassRate.subRuleConfs.DeptRandomPassRate2.score">
                            </iv-input-number>
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="deptConfs.vo.DeptRandomPassRate.enabled" :disabled="!disabled">
                            </iv-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td class="my-td my-center">6</td>
                        <td class="my-td">{{$t('em.ms.attrtsotis')}}
                            <iv-input-number :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptPoolIdentifyRate.subRuleConfs.DeptPoolIdentifyRate1.score"
                                :disabled="disabled"></iv-input-number>，{{$t('em.ms.tdvi')}}<iv-input-number
                                :disabled="!disabled" :min="0"
                                :value.sync="deptConfs.vo.DeptPoolIdentifyRate.subRuleConfs.DeptPoolIdentifyRate2.score">
                            </iv-input-number>
                        </td>
                        <td class="my-td my-center">
                            <iv-checkbox :checked.sync="deptConfs.vo.DeptPoolIdentifyRate.enabled"
                                :disabled="!disabled"></iv-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--v-if="hasPermission('1060002002')"-->
    <!--  <iv-button @click="doSave" v-if="hasPermission('1060002002')"  style="margin-top: 10px;">保存</iv-button>-->
    <div style="background: #fff;padding: 0;margin-left: 20px">
        <vi-button class="pull-left ivu-btn btn" v-if="disabled" @click="doSave" style="margin-top: 10px;background: #00467c;
    color: #fff;"><span>{{$t('gb.comnon.save')}}</span></vi-button>
    </div>
</div>