<div class="detail-large-container" v-el:container>
	<div class="base-info-panel">
		<div class="bip-header">
			<div class="bip-header-title">
				<i class="recordPng"></i><span>{{mainModel.title}}</span>
			</div>
			<div class="bip-header-btn-group">
				<iv-button v-if="mainModel.isReadOnly && hasAuth('preview')" type="ghost" @click="doPreview">预览</iv-button>
				<!--<iv-button v-if="mainModel.isReadOnly && hasAuth('delete')" type="ghost" @click="doDelete">{{$t("gb.common.del")}}</iv-button>-->

				<iv-button type="ghost" @click="doClose">{{$t("gb.common.close")}}</iv-button>
			</div>
		</div>
		<div class="bip-content">
			<el-form class="bip-content-form"  :model="mainModel.vo" is-label-vertical :rules="baseRules"  v-ref:ruleform>
				<iv-row class="bip-content-item">
					<el-form-item :label="$t('gb.common.code')" prop="code" class="small-info-box" >
						<code-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item  label="操作任务名称" prop="name" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.name" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  :label="$t('gb.common.ownedComp')" prop="compId" class="small-info-box" >
						<iv-input v-if="!mainModel.isReadOnly" :value="getDataDic('org', mainModel.vo.compId)['compName']" disabled></iv-input>
						<span v-else>{{getDataDic('org', mainModel.vo.compId)['compName']}}</span>
					</el-form-item>
					<el-form-item  :label="$t('gb.common.ownedDept')" prop="orgId" class="small-info-box" >
						<iv-input v-if="!mainModel.isReadOnly" :value="getDataDic('org', mainModel.vo.orgId)['deptName']" disabled></iv-input>
						<span v-else>{{getDataDic('org', mainModel.vo.orgId)['deptName']}}</span>
					</el-form-item>
				</iv-row>
				<iv-row class="bip-content-item">
					<el-form-item  label="发令调度员编号" prop="dispatcherCode" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.dispatcherCode" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="发令调度员姓名" prop="dispatcherName" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.dispatcherName" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="调度令编号" prop="dispatchCode" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.dispatchCode" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="操作票" class="small-info-box" >
						<input-select :value="mainModel.vo.opCard" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" @click="(!mainModel.isReadOnly) && (doShowOpCardSelectModal())" ></input-select>
					</el-form-item>
				</iv-row>
				<iv-row class="bip-content-item">
					<el-form-item class="small-info-box" label="操作人" prop="operators">
						<div v-if="mainModel.isReadOnly" class="exam-paper-point">
							<div class="ivu-tag" v-for="tag in mainModel.vo.operators">
								<span class="ivu-tag-text">{{tag.name}}</span>
							</div>
						</div>
						<div v-else class="ivu-select-top ivu-select ivu-select-multiple exam-paper-point" @click.prevent="doShowOperatorSelectModal">
							<div class="ivu-select-selection" style="line-height: 24px;">
								<div class="ivu-tag" v-for="(index, tag) in mainModel.vo.operators">
									<span class="ivu-tag-text">{{tag.name}}</span>
									<i class="ivu-icon ivu-icon-ios-close-empty" @click.stop="doRemoveOperators(index)"></i>
								</div>
							</div>
                            <span style="font-size: 16px;" class="select-ico-add">
                                <i class="ivu-icon ivu-icon-plus"></i>
                            </span>
						</div>
					</el-form-item>
					<el-form-item class="small-info-box" label="监护人" prop="supervisors">
						<div v-if="mainModel.isReadOnly" class="exam-paper-point">
							<div class="ivu-tag" v-for="tag in mainModel.vo.supervisors">
								<span class="ivu-tag-text">{{tag.name}}</span>
							</div>
						</div>
						<div v-else class="ivu-select-top ivu-select ivu-select-multiple exam-paper-point" @click.prevent="doShowSupervisorSelectModal">
							<div class="ivu-select-selection" style="line-height: 24px;">
								<div class="ivu-tag" v-for="(index, tag) in mainModel.vo.supervisors">
									<span class="ivu-tag-text">{{tag.name}}</span>
									<i class="ivu-icon ivu-icon-ios-close-empty" @click.stop="doRemoveSupervisors(index)"></i>
								</div>
							</div>
                            <span style="font-size: 16px;" class="select-ico-add">
                                <i class="ivu-icon ivu-icon-plus"></i>
                            </span>
						</div>
					</el-form-item>
					<el-form-item class="small-info-box" label="审核人" prop="auditors">
						<div v-if="mainModel.isReadOnly" class="exam-paper-point">
							<div class="ivu-tag" v-for="tag in mainModel.vo.auditors">
								<span class="ivu-tag-text">{{tag.name}}</span>
							</div>
						</div>
						<div v-else class="ivu-select-top ivu-select ivu-select-multiple exam-paper-point" @click.prevent="doShowAuditorSelectModal">
							<div class="ivu-select-selection" style="line-height: 24px;">
								<div class="ivu-tag" v-for="(index, tag) in mainModel.vo.auditors">
									<span class="ivu-tag-text">{{tag.name}}</span>
									<i class="ivu-icon ivu-icon-ios-close-empty" @click.stop="doRemoveAuditors(index)"></i>
								</div>
							</div>
                            <span style="font-size: 16px;" class="select-ico-add">
                                <i class="ivu-icon ivu-icon-plus"></i>
                            </span>
						</div>
					</el-form-item>
				</iv-row>
				<iv-row class="bip-content-item" v-if="mainModel.isReadOnly">
					<el-form-item  :label="$t('gb.common.state')" prop="disable" class="small-info-box" >
						<span v-if="mainModel.isReadOnly">{{ getDataDic('jse_op_task_disable', mainModel.vo.disable) }}</span>
						<i-select disabled :model.sync="mainModel.vo.disable" :list="getDataDicList('jse_op_task_disable')" v-else></i-select>
					</el-form-item>
					<el-form-item  v-if="mainModel.vo.auditDate" label="实际审核人" prop="auditorId" class="small-info-box">
						<iv-input :value.sync="mainModel.vo.user.name" disabled :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  v-if="mainModel.vo.auditDate" label="审核时间" prop="auditDate" class="small-info-box">
						<iv-input :value.sync="mainModel.vo.auditDate" disabled :textonly="mainModel.isReadOnly" class="inp"></iv-input>
					</el-form-item>
				</iv-row>
			</el-form>
		</div>
	</div>

	<div class="rel-info-panel" :class="{'rel-info-panel-mask': showPanelMask}">
		<div style="padding: 10px;" class="fip-content-item simple-card simple-card-dis-hover">
			<div class="rel-info-panel-content-tabs">
				<el-tabs :active-name="activeTabName" @tab-click="changeTab">
					<el-tab-pane label="操作步骤" name="1">
						<div class="rip-item">
							<simple-card :show-content.sync="cardModel.stepCardModel.showContent">
								<p slot="title"><i class="basicPng"></i><span>操作步骤</span></p>
								<a slot="extra" @click.prevent="cardModel.stepCardModel.showContent = !cardModel.stepCardModel.showContent;" >
									<span v-if="cardModel.stepCardModel.showContent"><Icon type="arrow-up-b"></Icon>收起</span>
									<span v-else><Icon type="arrow-down-b"></Icon>展开</span>
								</a>

								<group-partial
										v-for="(index, group) in groups"
										:index="index"
										:group="group"
										:editable="false"
								>
									<vue-bootstrap-table
											:columns="groupColumns"
											:values="group.items"
											:show-empty-row="false"
											:show-pager="false"
											:show-filter="false"
											:page-size-opts="[200]"
											:show-column-picker="false"
									>
									</vue-bootstrap-table>
								</group-partial>
							</simple-card>
						</div>
					</el-tab-pane>

					<!--<el-tab-pane label="参考资料" name="2">
						<div class="rip-item">
							<file-list-simple-card title="参考资料" :data="fileModel.default.data" :config="fileModel.default.cfg">
								<a slot="extra" @click.prevent="doShowDocumentModal"><Icon type="plus"></Icon>引用公共文件库</a>
							</file-list-simple-card>
						</div>
					</el-tab-pane>-->

				</el-tabs>
			</div>
		</div>
	</div>

</div>
