<div class="edit-pop-container" >
    <div class="epc-content">
		
		 <el-form :model="mainModel.vo" :rules="rules"  v-ref:ruleform>
			 <el-form-item :label="$t('ori.perm.authCode')" prop="code">
				 <iv-input  v-if="mainModel.opType == 'create'" :value.sync="mainModel.vo.code"></iv-input>
				 <iv-input  v-if="mainModel.opType == 'update'" :value.sync="mainModel.vo.code" disabled></iv-input>
			 </el-form-item>
			<el-form-item :label="$t('ori.perm.authName')" prop="name">
			     <!--<input type="text" v-model="mainModel.vo.name">-->
                <iv-input  :value.sync="mainModel.vo.name"></iv-input>
			</el-form-item>

		</el-form> 
	</div>
	<div class="epc-footer" >
		<vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.comnon.save")}}</vi-button>
		<!--<vi-button type="primary" @click="doCancel" class="pull-right">{{$t("gb.common.cancel")}}</vi-button>-->
	</div>	
</div>	
