<Modal :visible.sync="visible" :title="mainModel.title" width="1200" :footer-hide="true" class="userSelectModal">
    <div class="sw-modal-body">
        <div class="sw-co-type">
            <span class="tit">{{$t('ri.bc.io')}}：</span>
            <span v-for="type in types" class="sw-co-t-item" :class="{'checked': checkedType === type.id}"
                @click="doChangeType(type.id)" v-show="isCheckObjectShow(type)">{{{type.name}}}</span>
            <span style="display: inline-block;position: absolute;right: 30px;"
                v-if="!isSingleCheck && checkedType != '4'">
                <iv-checkbox class="radios" :checked.sync="isObjCheck" @on-change="changeSignal">{{$t('ri.bc.ycsmtoo')}}</iv-checkbox>
            </span>
        </div>
        <div class="sw-cts-box">
            <div class="sw-cts-left">
                <div class="sw-co-condition" v-if="!showAreaLabel">
                    <span class="tit">{{$t('ri.bc.qc')}}：</span>
                    <company-tree-select :id.sync="mainModel.vo.compId" :disabled="!!compId && isCompDisable">
                    </company-tree-select>
                    <department-tree-select :id.sync="mainModel.vo.orgId" :comp-id.sync="mainModel.vo.compId" clearable>
                    </department-tree-select>
                    <input-select :value="mainModel.vo.dominationArea" :placeholder="$t('ri.bc.pcat')" id-field="id"
                        display-field="name" @click="openSelectDominationArea" clearable
                        @do-clear-input="doClearDominationArea"></input-select>
                    <!-- <dependency-tree :id.sync="mainModel.vo.dependencyId" :comp-id.sync="mainModel.vo.compId"
                        :org-id="mainModel.vo.orgId" @update-select="doSaveDominationArea"
                        @do-save="doSaveDependencyInfo" @do-cancel="closeDependencyInfo" clearable>
                    </dependency-tree> -->
                </div>
                <div class="sw-co-center sw-row" v-if="showArea">
                    <div style="flex: 1;">
                        <div class="sw-co-bar">
                            <span>{{$t('ri.bf.territory')}}：</span>
                            <div>
                                <iv-input :value.sync="rightKey"></iv-input>
                                <iv-button @click="doQuery">{{$t('gb.common.query')}}</iv-button>
                            </div>
                        </div>
                        <vue-bootstrap-table :url="url" :columns="columns" :filter-column="tableModel.filterColumn"
                            :show-pager="true" :selected-datas.sync="mainModel.selectedDatas"
                            :default-filter-value="tableModel.defaultFilterValue" @on-click-cell="onClickRow"
                            @on-data-loaded="onTableLoaded" lazy-load :show-filter="false" v-ref:table1
                            style="height: 493px;">
                        </vue-bootstrap-table>

                    </div>
                </div>


                <!--选择设备-->
                <div class="sw-co-center sw-row" v-if="showEquipment">
                    <div class="sw-co-left">
                        <div class="sw-co-bar">
                            <span>{{$t('gb.common.equipmentType')}}：</span>
                            <div>
                                <iv-input :value.sync="leftKey"></iv-input>
                            </div>
                        </div>
                        <div class="sw-co-left-box">
                            <iv-tree id-attr="id" pid-attr="parentId" display-attr="name" :model="treeData"
                                :selected-datas.sync="treeModel.selectedData" :show-checkbox="true"
                                :single-select="true" :trigger-parent-event="true" :data-query="leftKey" show-count
                                :display-func="displayFunc" @on-tree-node-click="doTreeNodeClick"></iv-tree>
                        </div>
                    </div>
                    <div class="sw-co-right">
                        <div class="sw-co-bar">
                            <span>{{$t('gb.common.equipment')}}：</span>
                            <div>
                                <iv-input :value.sync="rightKey"></iv-input>
                                <iv-button @click="doQuery">{{$t('gb.common.query')}}</iv-button>
                            </div>
                        </div>
                        <vue-bootstrap-table :url="url" :columns="columns" :filter-column="tableModel.filterColumn"
                            :show-pager="true" :selected-datas.sync="mainModel.selectedDatas"
                            :default-filter-value="tableModel.defaultFilterValue" @on-click-cell="onClickRow" lazy-load
                            :show-filter="false" v-ref:table2>
                        </vue-bootstrap-table>
                    </div>
                </div>

                <!--选择化学品-->
                <div class="sw-co-center sw-row" v-if="showChemical">
                    <div class="sw-co-left">
                        <div class="sw-co-bar">
                            <span>{{$t('ri.bc.toc')}}：</span>
                            <div>
                                <iv-input :value.sync="leftKey"></iv-input>
                            </div>
                        </div>
                        <div class="sw-co-left-box">
                            <iv-tree id-attr="id" pid-attr="parentId" display-attr="name" :model="treeData"
                                :selected-datas.sync="treeModel.selectedData" :show-checkbox="true"
                                :single-select="true" :trigger-parent-event="true" :data-query="leftKey" show-count
                                :display-func="displayFunc" @on-tree-node-click="doTreeNodeClick"></iv-tree>
                        </div>
                    </div>
                    <div class="sw-co-right">
                        <div class="sw-co-bar">
                            <span>{{$t('ri.bf.kc')}}：</span>
                            <div>
                                <iv-input :value.sync="rightKey"></iv-input>
                                <iv-button @click="doQuery">{{$t('gb.common.query')}}</iv-button>
                            </div>
                        </div>
                        <vue-bootstrap-table :url="url" :columns="columns" :filter-column="tableModel.filterColumn"
                            :show-pager="true" :selected-datas.sync="mainModel.selectedDatas"
                            :default-filter-value="tableModel.defaultFilterValue" @on-click-cell="onClickRow" lazy-load
                            :show-filter="false" v-ref:table3>
                        </vue-bootstrap-table>
                    </div>
                </div>


                <!--选择重大危险源-->
                <div class="sw-co-center sw-row" v-if="showRiskSource">
                    <div style="flex: 1;margin-left: 20px;">
                        <div class="sw-co-bar">
                            <span>{{$t('ri.bf.mhi')}}：</span>
                            <div>
                                <iv-input :value.sync="rightKey"></iv-input>
                                <iv-button @click="doQuery">{{$t('gb.common.query')}}</iv-button>
                            </div>
                        </div>
                        <vue-bootstrap-table :url="url" :columns="columns" :filter-column="tableModel.filterColumn"
                            :show-pager="true" :selected-datas.sync="mainModel.selectedDatas"
                            :default-filter-value="tableModel.defaultFilterValue" @on-click-cell="onClickRow" lazy-load
                            :show-filter="false" v-ref:table4 style="height: 493px;">
                        </vue-bootstrap-table>
                    </div>
                </div>

                <!--选择化学品工艺-->
                <div class="sw-co-center sw-row" v-if="showProcess">
                    <div class="sw-co-left">
                        <div class="sw-co-bar">
                            <span>{{$t('ri.bc.pt')}}：</span>
                            <div>
                                <iv-input :value.sync="leftKey"></iv-input>
                            </div>
                        </div>
                        <div class="sw-co-left-box">
                            <iv-tree id-attr="id" pid-attr="parentId" display-attr="name" :model="treeData"
                                :selected-datas.sync="treeModel.selectedData" :show-checkbox="true"
                                :single-select="true" :trigger-parent-event="true" :data-query="leftKey" show-count
                                :display-func="displayFunc" @on-tree-node-click="doTreeNodeClick"></iv-tree>
                        </div>
                    </div>
                    <div class="sw-co-right">
                        <div class="sw-co-bar">
                            <span>{{$t('ri.bc.kcp')}}：</span>
                            <div>
                                <iv-input :value.sync="rightKey"></iv-input>
                                <iv-button @click="doQuery">{{$t('gb.common.query')}}</iv-button>
                            </div>
                        </div>
                        <vue-bootstrap-table :url="url" :columns="columns" :filter-column="tableModel.filterColumn"
                            :show-pager="true" :selected-datas.sync="mainModel.selectedDatas"
                            :default-filter-value="tableModel.defaultFilterValue" @on-click-cell="onClickRow" lazy-load
                            :show-filter="false" v-ref:table5>
                        </vue-bootstrap-table>
                    </div>
                </div>

                <div class="sw-co-center sw-row" v-if="showAreaLabel">
                    <div style="flex: 1;margin-left: 20px;">
                        <div class="sw-co-bar">
                            <span>{{$t('ri.bc.tl')}}：</span>
                            <div>
                                <iv-input :value.sync="rightKey"></iv-input>
                                <iv-button @click="doQuery">{{$t('gb.common.query')}}</iv-button>
                            </div>
                        </div>
                        <vue-bootstrap-table :url="url" :columns="columns" :filter-column="tableModel.filterColumn"
                            :show-pager="true" :selected-datas.sync="mainModel.selectedDatas"
                            :default-filter-value="tableModel.defaultFilterValue" @on-click-cell="onClickRow" lazy-load
                            :show-filter="false" v-ref:table6 style="height: 493px;">
                        </vue-bootstrap-table>
                    </div>
                </div>
            </div>


            <div class="sw-cts-right">
                <div class="sw-co-condition">
                    <span class="tit">{{$t('ri.bc.qc')}}：</span>
                    <i-select @on-change="doQueryCheckTable" :model.sync="checkObjType" :list="checkObjTypes">
                        <i-option v-for="type in checkObjTypes" :value="type.id">{{type.name}}</i-option>
                    </i-select>
                </div>
                <div class="sw-co-bar">
                    <span>{{$t('gb.common.check')}}：</span>
                    <div>
                        <iv-input :value.sync="checkKey"></iv-input>
                        <iv-button @click="doQueryCheckTable">{{$t('gb.common.query')}}</iv-button>
                    </div>
                </div>
                <!--<vue-bootstrap-table-->
                <!--:url="checkTableModel.url"-->
                <!--:columns="checkTableModel.columns"-->
                <!--:filter-column="checkTableModel.filterColumn"-->
                <!--:show-pager="true"-->
                <!--:selected-datas.sync="checkTableModel.selectedDatas"-->
                <!--:default-filter-value="checkTableModel.defaultFilterValue"-->
                <!--@on-dbclick-cell="onDbClickCell"-->
                <!--@on-click-cell="doCheckTableRowClick"-->
                <!--lazy-load-->
                <!--:show-page-number="false"-->
                <!--:show-filter="false"-->
                <!--v-ref:check-table-->
                <!--style="height: 493px;"-->
                <!--&gt;-->
                <!--</vue-bootstrap-table>-->
                <vue-bootstrap-table :url="checkTableModel.url" :columns="checkTableModel.columns"
                    :filter-column="checkTableModel.filterColumn" :show-pager="true"
                    :selected-datas.sync="checkTableModel.selectedDatas"
                    :default-filter-value="checkTableModel.defaultFilterValue" @on-click-cell="doCheckTableRowClick"
                    @on-dbclick-cell="onDbClickCell" lazy-load :page-size-index="2" :page-size-opts="[20,50,100]"
                    :show-page-number="false" :show-filter="false" v-ref:check-table style="height: 493px;"
                    :is-single-check="isSingleCheck">
                </vue-bootstrap-table>
            </div>
        </div>


        <div class="sw-co-footer">
            <iv-button type="primary" @click="doSave" style="margin-right: 20px;">{{$t('gb.common.ok')}}</iv-button>
            <iv-button @click="doClose">{{$t('gb.common.cancel')}}</iv-button>
        </div>
    </div>
</Modal>

<dominationarea-select-modal single-select :visible.sync="dominationAreaSelectModel.visible"
    :filter-data="dominationAreaSelectModel.filterData" @do-save="doSaveDominationArea"></dominationarea-select-modal>
<dependency-tree :visible.sync="dependencyTreeModel.visible" :id.sync="mainModel.vo.dependencyId"
    :comp-id.sync="mainModel.vo.compId" :org-id="mainModel.vo.orgId" @update-select="getDependencyInfo"
    @do-save="doSaveDependencyInfo" @do-cancel="closeDependencyInfo" clearable>
</dependency-tree>