<simple-card class="fip-content-item" :show-content.sync="isShowPassword">
    <p slot="title"><img src="images/details/basic.png"><span>{{$t("gb.common.basicInfo")}}</span></p>
    <el-form :model="mainModel.vo" :rules="rules" class="fip-content-item-form" v-ref:ruleform>
        <el-form-item :label="$t('gb.common.oldPsd')"  >
            <iv-input type="password"  :value.sync="mainModel.vo.oldPwd" ></iv-input>
        </el-form-item>
        <el-form-item :label="$t('gb.common.newPsd')" >
            <iv-input type="password"   :value.sync="mainModel.vo.newPwd" ></iv-input>
            <div style="font-size: 12px">{{tpsName}}</div>
        </el-form-item>
        <el-form-item :label="$t('gb.common.repeatPsd')">
            <iv-input type="password"  :value.sync="mainModel.vo.resetPwd" ></iv-input>
        </el-form-item>
    </el-form>
</simple-card>