<div class="tab-container">
    <div class="main-panel">
        <div class="mp-header formTitle">

            <iv-row $main-header-row-attr-default-display>

                <!--<iv-col $main-header-condition-div-attr-default >-->
                <!--<cust-filter-condition-group v-ref:condtion-group></cust-filter-condition-group>-->
                <!--</iv-col>-->
                <iv-col $main-header-condition-div-attr-default>
                    <all-classification $main-header-classification-attr-mixBusiness>
                    </all-classification>
                    <cust-filter-condition-group v-ref:condtion-group></cust-filter-condition-group>
                </iv-col>
                <iv-col $main-header-func-div-attr-default>
                    <div class="prelative addButton pull-right export-btn">
                        <vi-button @click="doExportExcel" v-if="hasAuth('verifyExport')">{{$t("gb.common.export")}}</vi-button>
                        <iv-dropdown trigger="click" placement="bottom-end">
                            <vi-button type="ghost" icon="chevron-down"></vi-button>
                            <iv-dropdown-menu slot="list">
                                <!--<iv-dropdown-item>-->
                                    <!--<div class="uploadAport">-->
                                        <!--<a href="javascript:void(0);" @click="showTemplateSetting">导出模板设置</a>-->
                                    <!--</div>-->
                                <!--</iv-dropdown-item>-->
                                $main-header-dropdown-item-tag-common-display
                            </iv-dropdown-menu>
                        </iv-dropdown>
                    </div>
                    $main-header-refresh-button
                </iv-col>
            </iv-row>
            <iv-row $main-header-row-attr-default-hidden>
                <iv-col span="24">
                    <vi-button type="text" class="mp-header-item-btn">{{$t("gb.common.selItem", [tableModel.selectedDatas.length])}}</vi-button>
                    <vi-button type="text" class="mp-header-item-btn" @click="doVerify" v-if="hasAuth('verifyDone')">验证</vi-button>
                    <vi-button type="text" class="mp-header-item-btn" @click="doDelegate" v-if="hasAuth('verifyDelegate')">委托</vi-button>
                    <vi-button type="text" class="mp-header-item-btn" @click="doConfirmCallback('doDelete','删除选中数据?')" v-if="hasAuth('verifyDelete')">{{$t("gb.common.del")}}</vi-button>
                </iv-col>
            </iv-row>
        </div>
        <div class="mp-content">
            <vue-bootstrap-table $main-center-table-attr-default :code="tableCode" :show-scroll="true" @on-data-loaded="onTableDataLoaded">
            </vue-bootstrap-table>
        </div>
    </div>
</div>


<export-template title="导出模版设置" :visible.sync="templateModel.visible"></export-template>
<!-- 右滑弹框 -->
<aside :show.sync="detailModel.show" placement="right">
    <detail-component @do-verify="doVerify" @do-delegate="doDelegate"></detail-component>
</aside>
<Modal :visible.sync="delegateModel.show" :title="delegateModel.title" @on-cancel="doCloseDelegateModel" footer-hide>
    <pool-delegate-component :pool-id="delegateModel.poolId"></pool-delegate-component>
</Modal>
<!-- 弹框 -->
<Modal :visible.sync="verifyModel.show" :title="verifyModel.title" @on-cancel="doClose" footer-hide>
    <verify-component></verify-component>
</Modal>