<div style='width:100%;overflow: hidden;white-space: nowrap;'>
    <div class="zhongdashuomingfoshan">
        <div style="width:16px;height: 16px;background: #FF1E02;margin-left:10px;margin-right: 5px;border-radius: 4px;"></div>
        高风险
        <div style="width:16px;height: 16px;background: #F2F018;margin-left:10px;margin-right: 5px;border-radius: 4px;"></div>
        中风险
        <div style="width:16px;height: 16px;background: #91CF5A;margin-left:10px;margin-right: 5px;border-radius: 4px;"></div>
        低风险
    </div>
    <div class="wrapImgYumen" style="width:100%;">
        <img src='css/images/test/foshan2.png'  style='width:84%;'/>
    </div>
</div>


<style>
    .wrapImgYumen{
        width:1300px;
        position: relative;
    }
    .wrapImgYumen img{
        width:100%;
        /*height: 670px;*/
    }
    .btnGroupImgTest{
        position: absolute;
        top: 90px;
        left: 1040px;
        z-index: 5;
    }
    .changeStyleColor{
        color: #ffffff;
        background-color: #33adea;
    }
    .zhongdashuomingfoshan{
        position: absolute;
        display: flex;
        align-items: center;
        padding:10px;
        background: rgba(0,0,0,0.2);
        top:30px;
        left: 30px;
        color:#fff;
        z-index: 5;
        border-radius: 5px;
    }

</style>

