.edit-editDom{
    border: 1px solid #e9e9e9;
    max-width: 750px;
    margin-top: 15px;
    line-height: 24px;
    height: 350px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
}
.edit-dom-item{
    padding-left: 15px;
    border: 1px solid #e9e9e9;
    margin-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px
}
.editDomCheckBox{
    /*width:300px;*/
    /*min-height: 300px;*/
    background: #eaf0f5;
    /*position: absolute;*/
    /*top: 106px;*/
    /*right: 50px;*/
    border:1px #e9e9e9;
}

.editDomCheckBoxHeader{
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 40px 20px 20px;
    line-height: 1;
    background: #5e83a0;
    color: #fff;
    height: 60px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.editDomCheckInput{
    width:260px;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    /*margin: 6px 140px;*/
    display: inline-block;
    font-size: 18px;

}
.ediDomCheckBoxBtnGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}
.edit-dom-item-label{
    font-size: 16px;
    border-bottom: #e9e9e9 solid;
    /* border-left: #33adea solid 3px; */
    padding-left: 10px;
    margin-bottom: 15px;
    background: #33adea;
    color: #fff;
}
.edit-groups-name{
    width: 300px;
    border-bottom: 1px solid #e9e9e9;
    background: #55acff;
    color: #fff;
    padding-left: 10px;
}



.inputClass{
    border:none;
    border-bottom: 1px solid #d9d9d9;
    min-width:50px;
}
.myselect::-ms-expand { display: block !important; }