.window-poptip {
	max-width: 400px;
	max-height: 200px;
	overflow: auto;
	position: absolute;
	display: none;
	left: -1000px;
	top: -1000px;
	border-radius: 4px;
}

/*首页主页面*/
.content-wrapper{
	/*min-height: 977px;*/
}
.main-sidebar{
	/*min-height: 977px;*/
}
.homeCenter{
	background: #ebf0f5;
	overflow: auto;
	height: 100%;
	position: relative;
}
.homeRight{
	width:60%;
	background: #ebf0f5;
	right:10px;
	height: 100%;
	position: relative;
	float: left;
}
.homeLeft{
	width:39.5%;
	background: #fff;
	max-height: 100%;
    /*overflow-x: hidden;*/
	position: relative;
	float: left;
}
.homeCompLeft{
	width:50%;
	background: #fff;
	position: relative;
	float: left;
}
.contentHome .homeCompLeft:last-child{
	margin-left: 10px;
}
.homeRight .topHidden{
	background: #fff;
	width: 100%;
	/*height: 40%;*/
}
.homeRight .bottomTrain{
	background: #fff;
	width: 50%;
	max-height: 425px;
	top: 10px;
	position: relative;
	float: left;
	overflow: auto;
}
.homeRight .bottomForm{
	background: #fff;
	width: 49%;
	height:49%;
	top:10px;
	position: relative;
	float: left;
	left:10px;
}
.homeTitle{
	/*background: #f5f5f3;*/
	width: 100%;
	height:60px;
	padding-top: 20px;
}
.homeTitle span{
	font-size: 18px;
	margin-left: 30px;
	color: #363636;
	border-bottom: 3px solid #20a0ff;
	padding-right: 20px;
	padding-bottom: 10px;
	/*font-weight: bold;*/
}
.homeCompTitle{
	background: #f5f5f3;
	width: 100%;
	height:60px;
	padding-top: 20px;
}
.homeCompTitle span{
	font-size: 18px;
	margin-left: 30px;
	color: #363636;
	/*border-bottom: 3px solid #20a0ff;*/
	padding-right: 20px;
	padding-bottom: 10px;
	/*font-weight: bold;*/
}
.content{
	margin: 10px;
	height:auto;
}


/*Tab 图表 header	*/
.tabInfo .tabList{
	padding-left: 20px;
	overflow: hidden;
}
.tabInfo .tabList .active{
	border-bottom: 3px solid #56b5ff;
}
.tabInfo .tabList li{
	float: left;
	margin: 0 10px;
	font-family: 'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 50px;
	cursor: pointer;
}



/*//代办事项*/
.MatterListNav{
	width: 100%;
}
.MatterListNav .el-tabs__header{
	border-bottom: 0px;
	/*display: none;*/
}
.MatterListNav .el-tabs__item{
	font-size: 16px;
}
.MatterListNav .el-tabs__item b{
	font-weight: normal;
}
.MatterList {
	width: 100%;
	overflow: hidden;
	/*max-height: 400px;*/
	/*min-height: 300px;*/
	/*margin-bottom: 30px;*/
    border-bottom: 1px solid #f5f5f5;
}
.MatterCenter{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;;
}
.MatterCenter li{
	background: none;

}
/*//对其问题*/
.MatterList li:first-child,.MatterCenter li:first-child{
	padding-left: 20px;
}
.MatterList li,.MatterCenter li{
	float: left;
	/*margin: 0 10px;*/
	font-family: 'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	height: 40px;
	width: 20%;
	text-align: left;
	line-height: 40px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	color: #666666;
}
.MatterColor{
	color:#20a0ff !important;
	cursor: pointer;
}
/*//我的培训*/
.TrainingMain{
	max-height: 400px;
	overflow: hidden;
	margin-bottom: 30px;
}
.TrainingTitle{
	overflow: hidden;
    background:#f5f5f5;
}
.TrainingTitle li,.TrainingList li{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	color: #666666;
	float: left;
	height: 40px;
	line-height: 40px;
}
.TrainingList li{
    width: calc(20% - 10px);
    overflow: hidden;
    margin-right: 10px;
}
.homeConsole li{
	width: calc(25% - 10px);
    overflow: hidden;
    margin-right: 10px;
}
.homeTrain li{
	width: calc(20% - 10px);
    overflow: hidden;
    margin-right: 10px;
}

.TrainingList li:first-child{
	color: #20a0ff;
	padding-left: 17px;
	cursor: pointer;
}
.TrainingTitle li:first-child{
	padding-left: 17px;
}
.TrainingList{
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
}
/*//page 安全工具包*/
.page{
	background: #fff;
	/*overflow: hidden;*/
	border-top: 1px solid #999;
	margin-top: 50px;
	min-height: 354px;
	overflow: auto;
}
.pageTitle{
	margin: 20px 0;
	font-size: 16px;
	margin-left: 15px;
}
.pageList li{
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 3px;
	border:1px solid #999;
	text-align: center;
	vertical-align: bottom;
	margin-left: 30px;
	margin-bottom: 20px;
	color: #000;
	position: relative;
	cursor: pointer;
}
.pageList .radio{
	position: absolute;
	right: -10px;
	top: -10px;
	margin: 0px;
}
.pageList li img{
	width:45%;
	margin: 10px;
}
/*//例外 取得最后一个*/
.pageException li:last-of-type{
	font-size: 30px;
	line-height: 80px;
	color: #666666;
	font-weight: bold;
	cursor: pointer;
}
/*//日历底部信息*/
.calendarBootm{
	margin: 10px 10px;
	overflow: hidden;
	font-size: 14px;
}
.calendarBootm p{
	clear: both;
}
.calendarBootmLeft{
	float: left;
	color: #20a0ff;
}
.calendarBootmRigth{
	float: right;

}
.calendarBootmRigth span{
	cursor: pointer;
}
.calendarBootm p{
	cursor: pointer;
}
.calendarClick .calendarNext,.calendarClick .calendarPrev{
	position: absolute;
	top: 197px;
	font-size: 28px;
	width: 30px;
	z-index: 10;
	cursor: pointer;
	color: #c8c8c8;
}
.calendarClick .calendarNext{
	left: 50px;
}
.calendarClick .calendarPrev{
	right: 50px;
}

/*尾部class留白作用*/
.cler{
	clear: both;
	height: 50px;
	background:#ebf0f5;
}
/*日历插件css*/
.comp-full-calendar {
	max-width: 960px;
}

.full-calendar-body {
	/*padding: 10px 120px 0 120px;*/
}
.weeks {
	display: flex;
}
.week{
	flex:1;
	text-align: center;
}

.dates {
	position: relative;
	border-top: 1px solid #f5f5f5;
	padding-top: 5px;
	margin-top: 5px;
}
.week-row {
	display: flex;
	padding: 2px 0;
}
.day-cell {
	flex: 1;
	text-align: center;
}
.day-number{
	display: inline-block;
	text-align: center;
	opacity: 1;
	color: #000;
	height: 36px;
	width: 36px;
	line-height: 36px;
	border-radius: 50%;
	font-size: 12px;
	position: relative;
	cursor: pointer;
}
.day-number.event-tip::after {
	content: '';
	position: absolute;
	height: 6px;
	width: 6px;
	background-color: #1e88e5;
	bottom: 2px;
	left: 15px;
	border-radius: 3px;
}
.not-cur-month .day-number{
	color: #ccc;
}

.today .day-number{
	border: 1px solid #1e88e5;
}

.select-date .day-number {
	background-color:#1e88e5;
	color: #fff;
}



/*上面的遮罩*/
.dates-events {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.events-week {
	display: flex;
}
.events-day {
	cursor: pointer;
	flex: 0;
	/*min-height: 109px;*/
	overflow: hidden;
	text-overflow: ellipsis;
}

.event-box{}
.event-item {
	cursor: pointer;
	font-size: 12px;
	background-color: #C7E6FD;
	margin-bottom: 2px;
	color: rgba(0, 0, 0, .87);
	padding: 0 0 0 4px;
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.is-start{
	margin-left: 4px;
}
.is-end{
	margin-right: 4px;
}
.is-opacity{
	opacity: 0;
}

.more-link{
	cursor: pointer;
	/*// text-align: right;*/
	padding-left: 8px;
	padding-right: 2px;
	color: rgba(0,0,0,.38);
	font-size: 14px;
}
.more-events {
	position: absolute;
	width: 150px;
	z-index: 2;
	border: 1px solid #eee;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
}
.more-header {
	background-color: #eee;
	padding: 5px;
	display: flex;
	align-items: center;
	font-size: 14px;
}
.title{
	flex:1;
}
.close{
	margin-right: 2px;
	cursor: pointer;
	font-size: 16px;
}
.comp-full-calendar .Go{
	position: absolute;
	top: 10%;
	width: 78%;
}
.comp-full-calendar .Go .next-month{
	right: 0;
	position: absolute;
}
.more-body {
	height: 140px;
	overflow: hidden;
}
.body-list {
	height: 120px;
	padding: 5px;
	overflow: auto;
	background-color: #fff;
}
.body-item{
	cursor: pointer;
	font-size:12px;
	background-color:#C7E6FD;
	margin-bottom:2px;
	color: rgba(0,0,0,.87);
	padding:0 0 0 4px;
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.full-calendar-header {
	display: flex;
	align-items: center;
	/*background: #f5f5f3;*/
	width: 100%;
	height: 60px;
	/*padding-top: 10px;*/
}
.header-left{
	border-bottom: 3px solid #20a0ff;
	padding-bottom: 5px;
	flex: initial !important;
	padding-right: 10px;
}
.header-left,.header-right{
	flex:1;
	font-size: 18px;
	margin-left: 30px;
	color: #363636;
	/*font-weight: bold;*/
}
.header-center {
	flex: 3;
	text-align: center;
	font-size: 18px;
	margin-left: 30px;
	color: #363636;
	/*font-weight: bold;*/
}
.title{
	margin: 0 10px;
}
.prev-month,.next-month{
	cursor: pointer;
	color: #7ec4fb;
}

.full-calendar-body .prev-month{
	position: absolute;
	top: 10%;
}
.full-calendar-body .next-month{
	position: absolute;
	top: 10%;
	right: 5%;
}

.full-calendar-body .dates .dates-events .events-week .events-day {
	cursor: pointer;
	flex: 1;
	min-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*.minute{position: absolute;right: 95px;margin-top: -48px;font-size: 14px;}*/
.echarts{
	height: 300px;
}
.contentHome{
	/*height:calc(100%/2 - 10px);*/
	overflow: hidden;
	margin-bottom: 10px;
	display: flex;

}
/*公司主页*/
.homeMin{
	min-height: 300px;
}
.homeMin p,.homeLayout p{
	margin-bottom: 10px;
}
/*集团主页*/
.homeNews{
	background: #fff;
	width: 100%;
}
.homeList{
	width: 100%;
}
.homeList li{
  float: left;
  width: 33%;
  background: #fff;
  text-align: center;
  color: #000;
}
.homeList li span{
	font-size: 20px;
	margin-top: 15px;
	display: block;
	padding-bottom: 15px;
}
.homeList li p{
	text-align: center;
}
.homeList li p b{
	font-size: 52px;
	color: #666;
	display: inline-block;
	font-weight: normal;
}
.homeList li p i{
	width: 40px;
	height: 40px;
	display: inline-block;
	position: relative;
	top: 10px;
	left: 10px;
}
.homeList li:last-child{
	margin-left: 10px;
	width: calc(33% - 10px);
}
.homeList li:first-child{
	margin-right: 10px;
	width: calc(34% - 10px);
}
.homeList .homeCompIco{;
	background: url(../images/all.png) no-repeat -162px -211px;
}
.homeList .homeUserIco{
	background: url(../images/all.png) no-repeat -206px -209px;
}
.homeList .homeTaskIco{
	background: url(../images/all.png) no-repeat -162px -251px;
}
.homeEchartMain{
	min-height: 260px;
}
/*重置aside 滑窗 wh*/
.homeReustAside{
    top: 80px;
}
.homeReustAside .home-header{
	background: #00467c;
	color: #fff;
	padding: 10px;
	width:400px
}
.homeReustAside .home-header span{
	font-size: 18px;
	font-weight: bold;
}
.homeReustAside .home-header .home-ico{
	margin-right: 10px;
	font-size: 24px;
    position: relative;
    top:2px;
}
.homeReustAside .home-content{
	width: 400px;
	height: 100%;
}
.homeReustAside .el-tabs__header{
	border-bottom: 1px solid #f5f5f5 !important;
}
.homeReustAside .el-tabs__item.is-active{
	border-bottom: 2px solid;
}
.homeReustAside .home-content .el-tabs{
	/*overflow-y: auto;*/
	height: 100%;
	width: 389px;
}
.homeReustAside .contacts .dealt div span{
	font-size: 12px;
	color: #999;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

.homeReustAside .contacts .dealt li{
	margin: 20px 0;
	overflow: hidden;
	border-bottom: 1px solid #f5f5f5;
	position: relative;
}
.homeReustAside .contacts .dealt li:first-child{
	margin-top: 0px;
}
.homeReustAside .contacts .home-header{
	background: #00467c;
	color: #fff;
	padding: 10px;
}
.homeReustAside .contacts .home-header span{
	color: #fff;
}

.homeReustAside .contacts .dealt div{
	margin: 10px 0;
}
.homeReustAside .contacts{
	height: 100%;
}
/*.contacts .dealt div:nth-child(2){*/
	/*font-size: 12px;*/
/*}*/
.schedule .notice i{
	font-size: 20px;
	color: #d9aa49;
	margin: 0 10px 0 0;
}
.contacts .mailList  .dealt div span{
	margin-left: 0;
}
/*首页控制台模块的select 公用 wh*/
.homeSelect{
	float: right;
	width: 180px;
	color: #000;
	margin-right: 20px;
    margin-top: 2px;
}
.homeSelect i{
	font-size: 12px;
}
.homeSelect span{
	color: #666;
	font-size: 14px !important;
	font-weight: normal !important;
}
.homeSelect .ivu-select-selection{
	background: none;
	border: 0px;
}
.homeSelect .ivu-select-dropdown{
	width: 200px;
}
.homeReustAside .contacts .home-header .ivu-select-dropdown-list span{
	color: #666;
}
.homeReustAside .contacts .home-header .ivu-select-dropdown-list .custom-vi-tree-item-selected span{
	/*color: #fff;*/
}
.homeReustAside .contacts .home-header .ivu-select-dropdown-list .ivu-icon-chevron-right{
	color: #666;
}
.homeReustAside .contacts .home-header .ivu-select-dropdown-list .custom-vi-tree-item-selected{
	background: none;
}
.homeReustAside .el-tabs__content{
	height: calc(100% - 106px);
}
.homeReustAside  .el-tab-pane{
	/*overflow-y: scroll;*/
	height: 100%;
}
.homeReustAside  .el-tab-pane .homeScroll{
	/*overflow-y: scroll;*/
    overflow: auto;
	height: calc(100% - 20px);
}
/*通讯录模块 modal*/
.homePiptip{
	width: 330px;
	height: 450px;
	border-radius: 4px;
	background: #56b5ff;
	position: absolute;
	margin-left: -330px;
}
.homePiptip .homeModel{
	margin: 0px 20px;
}
.homePiptip .homeAsideTitle{
	margin: 20px 0px 10px 0px;
	border-bottom: 1px solid #66BCFF;
	overflow: hidden;
}
.homePiptip .homeAsideTitle .homeTitleImg{
	width: 130px;
	height: 130px;
	border-radius: 100%;
	margin: 0px auto;
	overflow: hidden;
}
.homePiptip .homeAsideTitle .homeTitleImg img{
	width: 100%;
	height: 100%;
}
.homePiptip .homeAsideTitle .homeTitleName{
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin: 15px 0px;
}
.homePiptip .homeAsideCenter{
	border-bottom: 1px solid #66BCFF;
	overflow: hidden;
	margin-bottom: 10px;
}
.homePiptip .homeAsideCenter p,.homePiptip .homeFooter p{
	overflow: hidden;
	margin: 8px 0px;
}
.homePiptip .homeAsideCenter span,.homePiptip .homeFooter span{
		color: #DAE3FF;
		width: 70px;
		font-size: 14px;
		float: left;
}
.homePiptip .homeAsideCenter b,.homePiptip .homeFooter b{
	font-family: normal;
	font-weight: normal;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	float: left;
	color: #fff;
}

/*通讯录内容区域*/
.home-Contacts-Center{
	height: calc(100% - 100px);
	overflow: auto;
    /*overflow-y: scroll;*/
}
.home-Contacts-Center  li{
	overflow: hidden;
	margin: 10px;
	border-bottom: 1px solid #f5f5f5;
	padding: 10px 0;
}
.home-Contacts-Center .home-lefts{
	width:55px;
	height: 55px;
	overflow: hidden;
	border-radius: 100%;
	margin: 0px 10px;
	float: left;
}
.home-Contacts-Center .home-lefts img{
	width: 100%;
	height: 100%;
}
.home-Contacts-Center .home-rigths{
	float: left;

}
.home-Contacts-Center .home-rigths p{
	margin-bottom: 10px;
}
.contactsIco{
	background: url(../images/all.png) no-repeat -59px -209px;;
	display: inline-block;
	font-weight: 400;
	line-height: 1;
	width: 21px;
	height: 24px;
	margin-right: 10px;
    position: relative;
    top:3px;
}
/*知识库 模块*/
/*知识库 ico*/
.homeHeaderCenter{
	float: right;
	margin-right: 20px;
}
.homeHeaderCenter .homeSelect{
	float: left;
}
.homeHeaderRigthIco{
	float: left;
	font-size: 24px;
	color: #fff;
	margin-top: -3px;
	cursor: pointer;
}
/*知识库 新建目录modal*/
.homeFileCenter{
	background: #fff;
}
.homeFileWarp li{
	margin: 20px 10px;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 1px solid #f5f5f5;
}
.homeFileWarp li .homeDocumentTextIco{
	color: #3da9e2;
	font-size: 24px
}
.homeFileWarp li .homeIosFolderIco{
	color: #DAAB4A;
	font-size: 24px;
	margin-right: 10px;
}
.homeFileCenter .homeModelButton{
	width: 100%;
	float: left;
	font-size: 14px !important;
	border: 1px solid #c8c8c8;
	text-align: center;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
	background: #fff;
	margin-left: 20px;
	border-radius: 5px;
}

.homeUploadIco{
	background: url(../images/all.png) no-repeat -82px -209px;
	display: inline-block;
	font-weight: 400;
	line-height: 1;
	width: 21px;
	height: 24px;
	margin-right: 20px;
}
/*弹窗*/
.homeFilePopup{
	background: #fff;
	border:1px solid #c8c8c8;
	margin-top: 10px;
}
.homeFilePopup li{
	padding:10px;
	border-bottom:1px solid #c8c8c8;
	height: 40px;
	margin: 0 15px;
}
.homeFilePopup li:last-child{
	border-bottom: 0px;
}
.homeFilePopup li .foderLeft{
	width: 70%;
	float: left;
	overflow: hidden;
}
.homeFilePopup li .foderRigth{
	float: right;
	width: 30%;
	overflow: hidden;
}
.homeFilePopup li .foderRigth i{
	text-align: right;
	width: 15%;
	float: right;
	cursor: pointer;
}
.homeFileTitle span{
	cursor: pointer;
}
/*资料库*/
.homeFileWarp{
	height: calc(100% - 140px);
    /*overflow-y: scroll;*/
    overflow: auto;
}
.homeFileWarp .nodeChiledItem{
    display: inline-block;
    font-size: 16px;
    margin-top: 5px !important;
    width: calc(100% - 70px);
}
.homeFileWarp .nodeChiledCheck{
    vertical-align: top;
    display: inline-block;
}
.homeFileWarp .homeInfoTo{
    font-size: 12px;
    margin-top: 5px;
}
.contacts  .file-down{
	background: url(../images/all.png) no-repeat -110px -215px;
	width: 20px;
	height: 20px;
}
.homeFileWarp .notice .ivu-icon-trash-a,.homeFileWarp .notice  .file-down{
	display: none;
	position: absolute;
	top: 40%;
}
.homeFileWarp .notice .ivu-icon-trash-a{
	right: 40px;
}
.homeFileWarp .notice .file-down{
	right: 10px;
}
.homeFileWarp li:hover .ivu-icon-trash-a,.homeFileWarp li:hover .file-down{
	display: block;
}
.homeFileWarp .homeFooter {
	position: absolute;
	bottom: 20px;
}
 .homeFooter i{
    display: inline-block;
    width: 30px;
    cursor: pointer;
}
.home-content .homeFooter .ivu-icon-trash-a{
	position: absolute;
	right: 40px;
}
.home-content .homeFooter{
	position: relative;
}
.home-content .homeFooter .file-down{
	position: absolute;
	right: 10px;

}
@media (max-width: 1680px){
    .homeTitle{
        height: 50px;
        padding-top: 15px;
    }
    .MatterList li,.MatterCenter li{
        height: 35px;
        line-height: 35px;
    }
}


/* 工作任务 */
.home-work,.home-work > .ivu-row-flex {
	height: 100%;
}
.home-work-left {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px 0 0;
}
.home-work-tabs {
	line-height: 40px;
	border-bottom: 1px solid #f5f5f5;
	padding: 0 10px;
}
.home-work-tabs a {
	color: #999;
	margin: 0 10px;
	display: inline-block;
	/*width: 80px;*/
	/*text-align: center;*/
}
.home-work-tabs a:hover {
	color: #56b5ff;
}
.home-work-tabs a.active {
	color: #56b5ff;
	border-bottom: 2px solid #56b5ff;
}
.home-work-tables {
	flex-grow: 1;
	overflow-y: auto;
	padding-left: 10px;
	position: relative;
}
.home-work-tables .hw-head {
	line-height: 40px;
	/*margin-top: 10px;*/
}
.home-work-tables table {
	table-layout: fixed;
	width: 100%;
	line-height: 36px;
	margin-bottom: 20px;
}
.home-work-tables table thead tr {
	background-color: #f5f5f5;
}
.home-work-tables table tbody tr {
	border-bottom: 1px solid #f5f5f5;
}
.home-work-tables table td,
.home-work-tables table th {
	padding: 0 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.home-work-tables table td > div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.home-work-tables table td .link{
	color:#33a6ff;
	cursor: pointer;
}
.home-work-right {
	padding-left: 10px;
}
.home-work-right-box {
	background-color: #fff;
	border-radius: 5px;
	padding: 10px 0 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.home-work-right .hw-tasks {
	list-style: none;
	font-size: 12px;
	/*border-top:1px solid #f5f5f5;*/
	/*margin-top: 10px;*/
	overflow-y: auto;
	padding-left: 10px;
}
.home-work-right .hw-tasks li {
	border-bottom: 1px solid #f5f5f5;
	height: 40px;
	line-height: 40px;
	display: flex;
	padding-right: 10px;
}
.home-work-right .hw-tasks .hw-task-type {
 	color: #b7b7b7;
	white-space: nowrap;
}
.home-work-right .hw-tasks .hw-task-content {
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 5px;
	display: inline-block;
}
.home-work-right .hw-tasks .hw-task-action {
	color: #56b5ff;
	white-space: nowrap;
}
.home-notice-left {
	overflow-y: auto;
	margin-right: 10px;
}
.home-notice-masonry {
	column-count: 2;
	column-gap: 0;
	counter-reset: item-counter;
	border-radius: 5px;
}
.home-notice-item {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	padding: 0 10px 10px 0;
	counter-increment: item-counter;
}
.home-notice-content{
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	position: relative;
}
.home-notice-content .notice-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
}
.home-notice-content .notice-date {
	color: #aaa;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #f5f5f5;
}
.home-notice-content .notice-content {
	line-height: 24px;
	font-size: 12px;
}
.home-notice-content .notice-document:hover {
	text-decoration: underline;
}
.home-notice-content .notice-delete {
	position: absolute;
	right:10px;
	top:15px;
}
.home-notice-title {
	line-height: 36px;
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 10px;
}
.home-notice-right {
	padding: 0 10px 0 0;
	display: flex;
	flex-direction: column;
}
.home-notice-right .form-placeholder {
	cursor: text;
	height: 30px;
	border:1px solid #d7dde4;
	border-radius: 5px;
}
.home-notice-form-file {
	display: flex;
	height: 30px;
	align-items: center;
}
.home-notice-form-file .ivu-icon {
	width: 20px;
	text-align: center;
}
.home-notice-form-file > span {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.home-notice-actions,
.home-notice-publish{
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
}
.home-notice-publish {
	margin-bottom: 10px;
}
.home-notice-actions {
	overflow-y: auto;
}
.home-notice-actions-ul {
	font-size: 12px;
	line-height: 26px;
	padding-bottom: 20px;
}
.home-notice-actions-ul li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.process-select-left-tree li {
	padding: 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	line-height: 36px;
}
.process-select-left-tree .active {
	color: #fff;
	background-color: #19a3e7;
}
.request-loading-box {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 1061;
	text-align: center;
	font-size: 24px;
	color: #fff;
	padding-top: 200px;
}
.home-af-notice-box {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 5px 1px #eee;
	width: 450px;
	max-height: 300px;
	overflow-y: auto;
	z-index: 2;
	padding: 20px;
}
.home-af-notice-box > h5 {
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.home-af-notice-box .pln {
	font-weight: bold;
}
.home-af-notice-box ul {
	padding-left: 15px;
}