/*课程管理 wh*/
.course_custom .el-form-item {
    overflow: inherit !important;
    clear: both;
}

/*矩阵 wh*/
.tpltable thead tr {
    background: none !important;
}

.tpltable thead td {
    border: 1px solid #eef3f5;
}

.tpltable .col-fst {
    background: #f9f9f9;
    text-align: center;
}

.tpltable .col-sec {
    cursor: pointer;
    color: #56B5FF
}

.tpltable .course-name {
    width: 93px;
    word-break: break-all;
}

.tpltable .ivu-icon-star {
    font-size: 14px;
}

/*矩阵 岗位管理 wh*/
.menu-dept {
    clear: both;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 14px;
}

.menu-selectall {
    margin-top: 10px;
    overflow: hidden;
}

.menu-selectall label {
    font-size: 12px;
}

.menu-selectall .menu-spacing {
    padding-left: 15px;
    margin-top: 8px;
    font-size: 13px;
}

.menu-selectall .menu-spacing input {
    height: 17px !important;
}

.menu-spacing b {
    font-weight: normal;
    cursor: pointer;
}

.menu-spacing {
    float: left;
    height: 19px;
    overflow: hidden;
}

.menu-selectall .menu-subnav {
    display: inline-block;
    margin-bottom: 20px;
}

.menu-selectall .ivu-checkbox {
    /*padding-right: 10px;*/
}

/*试卷管理模拟提示信息 wh*/
.samall-info-select .el-form-item__label:before {
    content: '* ';
    color: #ff4949;
    font-family: inherit;
    margin-left: -8px;
}

/*矩阵管理 wh*/
.mp-matrix {
    overflow-x: scroll;
}

/*5234 bug wh*/
.exam_pt {
    visibility: inherit;
    color: red;
}

.exam_none {
    visibility: hidden;
}

.custom_warp {
    clear: both;
}

.custom_fl {
    float: left;
}

.custom_customPaperTopic {
    width: 70px;
}

.custom_multiplePaperTopic {
    width: 85px;
}

.custom_judgmentPaperTopic {
    width: 140px;
}

.examQuestButton button {
    padding: 0 0 0 4px;
    margin-right: 3px;
}

.examQuestButton .ivu-dropdown {
    margin-left: 12px;
}

.examQuestButton .ivu-dropdown .ivu-dropdown-item i {
    margin-right: 10px;
}

.detail-container .fip-content .fip-content-item-form .fip-testCenter .el-form-item__content {
    width: 370px;
}

.detail-container .fip-content .fip-content-item-form .fip-testCenter .fip-total .el-form-item__content {
    width: 260px;
}

/*课程培训*/
.myTrainingPng {
    width: 36px;
    height: 32px;
    position: relative;
    display: block;
    float: left;
    background: url(../images/all.png) no-repeat -83px -105px transparent;
}

.myTrainingsDetailPng {
    /*受检对象(小)。。。*/
    width: 36px;
    height: 25px;
    position: relative;
    display: block;
    float: left;
    background: url(../images/all.png) no-repeat -235px -182px transparent;
}

/*线下培训*/
.offlineTrainPng {
    width: 30px;
    height: 25px;
    position: relative;
    display: block;
    float: left;
    background: url(../images/all.png) no-repeat -242px -184px transparent;
}

/*6577*/
.detail-container .fip-content .fip-content-item-form .el-form-item-2span .el-form-item__content {
    /* 	padding-top: 10px; */
    width: 470px;
}

/*6780bug wh*/
.userFile .el-tabs__header {
    border-bottom: 1px solid #d4d4d4;
}

.userFile .el-tabs__item {
    height: 60px;
    line-height: 60px;
}

.userFile .is-active {
    border-top: 2px solid #14a2e0;
    line-height: 58px

}

.userFile .simple-card {
    padding: 0px 20px;
}

.myTrainingFile.lite-box:hover i.ivu-icon {
    opacity: 0;
}

.isCourseDelIco .simple-card-body .lite-box:hover i.ivu-icon {
    opacity: 0;
}

/* 培训矩阵 */
.matirx-table {
    min-width: 100%;
    max-height: 600px;
    table-layout: fixed;
}

.matirx-table tr {
    height: 40px;
    background-color: #fff;
}

.matirx-table td {
    border: 1px solid #eef3f5;
    padding: 0 10px;
    text-align: center;
    word-break: break-all;
    background-color: #fff;
}

.matirx-table td .ivu-icon {
    font-size: 20px;
    color: #39f;
    cursor: pointer;
}

.matirx-table td a {
    color: #39f;
}

.matrix-poptip {
    line-height: 40px;
}

.matrix-poptip li {
    display: flex;
    align-items: center;
}

.matrix-poptip li .labl {
    width: 65px;
}

.matrix-poptip li .ivu-input-wrapper {
    width: 130px;
}

.matrix-poptip li .text {
    line-height: 20px;
    word-break: break-all;
    flex: 1;
}

.exam-paper-point .select-ico-add {
    position: absolute;
    top: 1px;
    bottom: 1px;
    line-height: 28px;
    right: 1px;
    padding: 0 7px;
    font-size: 16px;
    color: #9ea7b4;
}

/* 培训矩阵 岗位选择*/
.post-filter-tab {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.post-filter-tab-item {
    height: 30px;
    line-height: 30px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    /*margin-right: 2px;*/
    border: 1px solid #eee;
    border-bottom: none;
}
.post-filter-tab-item.active {
    color: #fff;
    background-color: #0075d3;
    border: none;
}
.post-filter-box {

}

.post-filter-content-box {
    background-color: #fff;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 420px;
    overflow-y: auto;
}

.post-filter-group {
    display: flex;
    /*align-items: center;*/
    border-bottom: 1px solid #eee;
    padding: 8px 0 6px;
}
.post-filter-group:last-child {
    border-bottom: none;
}
.post-filter-group__left {
    max-width: 230px;
    min-width: 230px;
    display: flex;
}

.post-filter-group__right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.post-filter-group__item {
    width: 170px;
}

.post-filter-group .ivu-checkbox-wrapper {
    font-size: 12px;
}