<div class="detail-container">
	<div class="few-info-panel pull-left">
		<div class="fip-header">
			<Icon type="ios-photos"></Icon>
			<span>{{mainModel.title}}</span>
		</div>
		<div class="fip-content">
			<!-- 模型基础信息 -->
			<simple-card class="fip-content-item">
				<p slot="title"><i class="basicPng"></i><span>{{$t('gb.common.basicInfo')}}</span></p>
				<el-form class="fip-content-item-form" :model="mainModel.vo"
						 :rules="baseRules" v-ref:ruleform>
					<el-form-item :label="$t('gb.common.code')" prop="code">
						<code-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.name')" prop="name">
						<iv-input :value.sync="mainModel.vo.name" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.state')" prop="disable">
						<disable-select :value.sync="mainModel.vo.disable" :read-only="mainModel.isReadOnly" :show-input="mainModel.opType === 'update'"></disable-select>
					</el-form-item>
					<el-form-item label="文本" prop="content">
						<iv-input :value.sync="mainModel.vo.content" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="课程" prop="courseId">
						<iv-input :value.sync="mainModel.vo.courseId" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="课件类型" prop="fileType">
						<iv-input :value.sync="mainModel.vo.fileType" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="是否可以试听" prop="isFree">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('ida_course_kpoint_is_free', mainModel.vo.isFree) }}</span>
						<i-select v-else :model.sync="mainModel.vo.isFree" :list="getDataDicList('ida_course_kpoint_is_free')" clearable></i-select>
					</el-form-item>
					<el-form-item label="节点类型" prop="kpointType">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('ida_course_kpoint_kpoint_type', mainModel.vo.kpointType) }}</span>
						<i-select v-else :model.sync="mainModel.vo.kpointType" :list="getDataDicList('ida_course_kpoint_kpoint_type')" clearable></i-select>
					</el-form-item>
					<el-form-item label="直播开始时间" prop="liveBeginTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.liveBeginTime" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.liveBeginTime)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="直播结束时间" prop="liveEndTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.liveEndTime" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.liveEndTime)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="直播地址" prop="liveUrl">
						<iv-input :value.sync="mainModel.vo.liveUrl" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="页数" prop="pageCount">
						<iv-input :value.sync="mainModel.vo.pageCount" type="number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="课后作业版本号" prop="paperVersion">
						<iv-input :value.sync="mainModel.vo.paperVersion" type="number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="父级" prop="parentId">
						<iv-input :value.sync="mainModel.vo.parentId" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="播放次数" prop="playCount">
						<iv-input :value.sync="mainModel.vo.playCount" type="number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="播放时间" prop="playTime">
						<iv-input :value.sync="mainModel.vo.playTime" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="视频类型" prop="videoType">
						<iv-input :value.sync="mainModel.vo.videoType" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="视频地址" prop="videoUrl">
						<iv-input :value.sync="mainModel.vo.videoUrl" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
				</el-form>
			</simple-card>
			

			
		</div>
	</div>
	<div class="few-info-sider pull-right">
		<iv-button type="ghost" icon="close-round" @click.stop="doClose" >{{$t("gb.common.close")}}</iv-button>
		<iv-button v-if="mainModel.isReadOnly && hasAuth('edit')" type="ghost" @click.stop="doEdit" icon="android-document">{{$t('gb.common.edition')}}</iv-button>
		<iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click="doAdd4Copy" icon="android-document">复制</iv-button>
		<vi-button v-if="mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('enable')" type="ghost" icon="ios-minus-outline" @click="doEnableDisable">{{$t("gb.common.EnableDisable")}}</vi-button>
		<iv-button v-if="mainModel.isReadOnly && mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('delete')" type="ghost" @click="doDelete" icon="trash-a">{{$t("gb.common.del")}}</iv-button>
		<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave" icon="android-document">{{$t('gb.comnon.save')}}</iv-button>
		<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" class="mp-header-item-btn" @click="doCancel" icon="ios-information-outline ">{{$t("gb.common.cancel")}}</vi-button>
	</div>
</div>


