<div class="tab-container">
  <div class="main-panel">
    <div class="mp-header formTitle">
      <iv-row $main-header-row-attr-default-display>

        <iv-col $main-header-condition-div-attr-default>
          <all-classification $main-header-classification-attr-default></all-classification>
          <cust-filter-condition-group v-ref:condtion-group></cust-filter-condition-group>
        </iv-col>
        <iv-col $main-header-func-div-attr-default>
          $main-header-refresh-button
        </iv-col>
      </iv-row>
      <iv-row $main-header-row-attr-default-hidden>
        <iv-col span="24">
          <vi-button type="text" class="mp-header-item-btn">
            {{$t("gb.common.selItem", [tableModel.selectedDatas.length])}}
          </vi-button>
          <vi-button
            v-if="mainModel.vo.status>2 && mainModel.vo.workPermit.cardTplId&&mainModel.vo.enableReservation && hasAuth('preview') && tableModel.selectedDatas.length == 1"
            type="text" class="mp-header-item-btn" @click="gotoPreview">预览
          </vi-button>

          <vi-button v-if="hasAuth('relate') && tableModel.selectedDatas.length == 1" type="text"
            class="mp-header-item-btn" @click="doConcatPtw">关联作业
          </vi-button>
          <vi-button v-if="hasAuth('delete')" type="text" class="mp-header-item-btn" @click="doDelete">
            {{$t("gb.common.del")}}
          </vi-button>
          <vi-button v-if="hasAuth('delete') && tableModel.selectedDatas.length == 1" type="text" class="mp-header-item-btn" @click="doStop">
            中止
          </vi-button>

          <!--<vi-button  type="text" v-if="tableModel.selectedDatas.length == 1" class="mp-header-item-btn"-->
          <!--@click="concatorShowFun()">承包商-->
          <!--</vi-button>-->
        </iv-col>
      </iv-row>
    </div>
    <div class="mp-content">
      <div style="position: absolute;bottom: 11px;left: 20px;">
        <iv-checkbox :checked.sync="isCheckKind" :middle="isHalfCheck" :disabled="" @change.stop="checkSelect"> 多选
        </iv-checkbox>
      </div>
      <vue-bootstrap-table $main-center-table-attr-default></vue-bootstrap-table>
    </div>
  </div>
</div>

<concat-member-select-modal :visible.sync="concatorShow"></concat-member-select-modal>

<preview :visible.sync="mainModel.previewShow" v-ref:preview></preview>

<aside :show.sync="detailModel.show" :class="mainModel.detailPanelClass">
  <detail-panel @show-preview="showPreview" v-ref:detail-panel></detail-panel>
</aside>

<Modal :visible.sync="mainModel.showDeleteResult" title="提示" :footer-hide="true">
  <div class="epc-header"></div>
  <div class="edit-pop-container">
    <div class="epc-content" style="font-size: 14px;background: #fff;">
      <span>{{mainModel.successMsg}}</span><br>
      <span>{{mainModel.faildMsg}}</span><br>
    </div>
  </div>
</Modal>

<contact-ptw v-ref:contact-ptw></contact-ptw>