<div class="detail-large-container">
	<div class="base-info-panel">
		<div class="bip-header">
			<div class="bip-header-title">
				<i class="recordPng"></i><span>{{mainModel.title}}</span>
			</div>
			<div class="bip-header-btn-group">
				<iv-button v-if="mainModel.isReadOnly" type="ghost" @click.stop="mainModel.isReadOnly = false">{{$t('gb.common.edition')}}</iv-button>
				<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave">{{$t('gb.comnon.save')}}</iv-button>
				<iv-button v-if="mainModel.opType != 'create'" type="ghost" @click="doDelete">{{$t("gb.common.del")}}</iv-button>
				<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" @click="doCancel">{{$t("gb.common.cancel")}}</vi-button>
			</div>
		</div>
		<div class="bip-content">
			<el-form class="bip-content-form" style="height:200px;"  :model="mainModel.vo" is-label-vertical :rules="mainModel.rules"  v-ref:ruleform>
				<iv-row class="bip-content-item">
					<el-form-item  label="编码" prop="code" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="是否禁用" prop="disable" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.disable" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="结束时间" prop="endTime" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.endTime"></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.endTime" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item  label="频率类型" prop="frequencyType" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.frequencyType" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
				</iv-row>
				<iv-row class="bip-content-item">
					<el-form-item  label="是否重复" prop="isRepeatable" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.isRepeatable" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="是否包含周末" prop="isWeekendInculed" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.isWeekendInculed" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="时间间隔" prop="period" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.period" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="开始时间" prop="startTime" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.startTime"></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.startTime" textonly class="inp"></iv-input>
					</el-form-item>
				</iv-row>
<!--
				<iv-row class="bip-content-item">
					<el-form-item  label="间隔单位" prop="unit" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.unit" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
-->
			</el-form>
		</div>
	</div>

	
</div>




