<Modal :visible.sync="visible"  :title="mainModel.title" :footer-hide="true">
	<div class="edit-pop-container">
		<div class="epc-content">
			<el-form :model="mainModel.vo" :rules="mainModel.rules" v-ref:ruleform>
					<el-form-item v-if="(hiddenFields.indexOf('code') == -1)" :label="$t('gb.common.code')" prop="code">
						<code-input :value.sync="mainModel.vo.code" :disabled="(disabledFields.indexOf('code') != -1)" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('name') == -1)" :label="$t('gb.common.name')" prop="name">
						<iv-input :value.sync="mainModel.vo.name" :disabled="(disabledFields.indexOf('name') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('compId') == -1)" :label="$t('gb.common.ownedComp')" prop="compId">
						<company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.compId)['compName']" :disabled="(disabledFields.indexOf('compId') != -1)" textonly></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workCatalogId') == -1)" label="作业类型" prop="workCatalog.id">
						<input-select :value="mainModel.vo.workCatalog" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('workCatalog') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowWorkCatalogSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('orgId') == -1)" :label="$t('gb.common.ownedDept')" prop="orgId">
						<department-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.orgId" :comp-id.sync ="mainModel.vo.compId" clearable></department-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.orgId)['deptName']" :disabled="(disabledFields.indexOf('orgId') != -1)" textonly></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('columnSetting') == -1)" label="字段启用禁用设置(json)" prop="columnSetting">
						<iv-input :value.sync="mainModel.vo.columnSetting" :disabled="(disabledFields.indexOf('columnSetting') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableDeptPrin') == -1)" label="是否需要主管部门负责人" prop="enableDeptPrin">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_dept_prin', mainModel.vo.enableDeptPrin) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableDeptPrin" :list="getDataDicList('iptw_card_tpl_enable_dept_prin')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableElectricIsolation') == -1)" label="是否启用电气隔离" prop="enableElectricIsolation">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_electric_isolation', mainModel.vo.enableElectricIsolation) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableElectricIsolation" :list="getDataDicList('iptw_card_tpl_enable_electric_isolation')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableGasDetection') == -1)" label="是否启用气体检测" prop="enableGasDetection">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_gas_detection', mainModel.vo.enableGasDetection) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableGasDetection" :list="getDataDicList('iptw_card_tpl_enable_gas_detection')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableMechanicalIsolation') == -1)" label="是否启用机械隔离" prop="enableMechanicalIsolation">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_mechanical_isolation', mainModel.vo.enableMechanicalIsolation) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableMechanicalIsolation" :list="getDataDicList('iptw_card_tpl_enable_mechanical_isolation')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableProcessIsolation') == -1)" label="是否启用工艺隔离" prop="enableProcessIsolation">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_process_isolation', mainModel.vo.enableProcessIsolation) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableProcessIsolation" :list="getDataDicList('iptw_card_tpl_enable_process_isolation')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableProdPrin') == -1)" label="是否需要生产单位现场负责人" prop="enableProdPrin">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_prod_prin', mainModel.vo.enableProdPrin) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableProdPrin" :list="getDataDicList('iptw_card_tpl_enable_prod_prin')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableRelPin') == -1)" label="是否需要相关方负责人" prop="enableRelPin">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_rel_pin', mainModel.vo.enableRelPin) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableRelPin" :list="getDataDicList('iptw_card_tpl_enable_rel_pin')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableSafetyEducator') == -1)" label="是否需要安全教育人" prop="enableSafetyEducator">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_safety_educator', mainModel.vo.enableSafetyEducator) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableSafetyEducator" :list="getDataDicList('iptw_card_tpl_enable_safety_educator')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableSecurityPrin') == -1)" label="是否需要安全部门负责人" prop="enableSecurityPrin">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_security_prin', mainModel.vo.enableSecurityPrin) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableSecurityPrin" :list="getDataDicList('iptw_card_tpl_enable_security_prin')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableSupervisor') == -1)" label="是否需要监护人员" prop="enableSupervisor">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_supervisor', mainModel.vo.enableSupervisor) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableSupervisor" :list="getDataDicList('iptw_card_tpl_enable_supervisor')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableSystemMask') == -1)" label="是否启用系统屏蔽" prop="enableSystemMask">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_card_tpl_enable_system_mask', mainModel.vo.enableSystemMask) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableSystemMask" :list="getDataDicList('iptw_card_tpl_enable_system_mask')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('ppeCatalogSetting') == -1)" label="启用的个人防护设备类型id串" prop="ppeCatalogSetting">
						<iv-input :value.sync="mainModel.vo.ppeCatalogSetting" :disabled="(disabledFields.indexOf('ppeCatalogSetting') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workLevelId') == -1)" label="作业分级" prop="workLevelId">
						<iv-input :value.sync="mainModel.vo.workLevelId" :disabled="(disabledFields.indexOf('workLevelId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
			</el-form>
		</div>
		<div class="epc-footer">
			<vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
		</div>
	</div>
</Modal>

<ptwcatalog-select-modal :visible.sync="selectModel.workCatalogSelectModel.visible" :filter-data="selectModel.workCatalogSelectModel.filterData" single-select @do-save="doSaveWorkCatalog"></ptwcatalog-select-modal>
