<Modal :visible.sync="visible"  :title="mainModel.title" :footer-hide="true">
	<div class="edit-pop-container">
		<div class="epc-content">
			<el-form :model="mainModel.vo" :rules="mainModel.rules" v-ref:ruleform>
					<el-form-item v-if="(hiddenFields.indexOf('code') == -1)" :label="$t('gb.common.code')" prop="code">
						<code-input :value.sync="mainModel.vo.code" :disabled="(disabledFields.indexOf('code') != -1)" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('operatorId') == -1)" label="操作人" prop="operator.id">
						<input-select :value="mainModel.vo.operator" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('operator') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowOperatorSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('operationType') == -1)" label="操作类型" prop="operationType">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_history_operation_type', mainModel.vo.operationType) }}</span>
						<i-select v-else :model.sync="mainModel.vo.operationType" :list="getDataDicList('iptw_work_history_operation_type')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workCardId') == -1)" label="作业票" prop="workCard.id">
						<input-select :value="mainModel.vo.workCard" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('workCard') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowWorkCardSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('operateTime') == -1)" label="操作时间" prop="operateTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.operateTime" :disabled="(disabledFields.indexOf('operateTime') != -1)" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.operateTime)" :disabled="(disabledFields.indexOf('operateTime') != -1)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workStatus') == -1)" label="操作时作业状态" prop="workStatus">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_history_work_status', mainModel.vo.workStatus) }}</span>
						<i-select v-else :model.sync="mainModel.vo.workStatus" :list="getDataDicList('iptw_work_history_work_status')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('isolationType') == -1)" label="隔离类型" prop="isolationType">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_history_isolation_type', mainModel.vo.isolationType) }}</span>
						<i-select v-else :model.sync="mainModel.vo.isolationType" :list="getDataDicList('iptw_work_history_isolation_type')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('relId') == -1)" label="操作关联" prop="relId">
						<iv-input :value.sync="mainModel.vo.relId" :disabled="(disabledFields.indexOf('relId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('resultType') == -1)" label="作业结果" prop="resultType">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_history_result_type', mainModel.vo.resultType) }}</span>
						<i-select v-else :model.sync="mainModel.vo.resultType" :list="getDataDicList('iptw_work_history_result_type')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('signType') == -1)" label="会签类型" prop="signType">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_history_sign_type', mainModel.vo.signType) }}</span>
						<i-select v-else :model.sync="mainModel.vo.signType" :list="getDataDicList('iptw_work_history_sign_type')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workPermitId') == -1)" label="作业许可" prop="workPermitId">
						<iv-input :value.sync="mainModel.vo.workPermitId" :disabled="(disabledFields.indexOf('workPermitId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
			</el-form>
		</div>
		<div class="epc-footer">
			<vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
		</div>
	</div>
</Modal>

<member-select-modal :visible.sync="selectModel.operatorSelectModel.visible" :filter-data="selectModel.operatorSelectModel.filterData" single-select @do-save="doSaveOperator"></member-select-modal>
<ptwworkcard-select-modal :visible.sync="selectModel.workCardSelectModel.visible" :filter-data="selectModel.workCardSelectModel.filterData" single-select @do-save="doSaveWorkCard"></ptwworkcard-select-modal>
