<style scoped>
	.top .ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-selected-value,
	.ivu-select-large.ivu-select-single .ivu-select-selection,
	.ivu-select-single .ivu-select-selection .ivu-select-placeholder {
		line-height: 24px !important;
		height: 24px !important;
	}

	.top .ivu-btn:hover {
		border: rgb(217, 217, 217) solid 1px;
		color: #666666;
	}

	#detail .custom-vi-tree-item div {
		padding-bottom: 0 !important;
		padding-top: 1px;
	}

	#detail .bold {
		font-weight: 400 !important;
	}


	.top .ivu-select-selected-value {
		margin-left: 90px;
	}


	#scDetail .table-content-box,
	.table-scroll-main {
		background-color: #fff !important;
	}

	/* .table tbody tr td,
	.table tbody tr td span,
	.table tbody tr td div {
		text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 8;
		line-clamp: 8;
		-webkit-box-orient: vertical;
		white-space: normal !important;
	} */

	.maxH {
		text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 8;
		line-clamp: 8;
		-webkit-box-orient: vertical;
		white-space: normal !important;
	}
</style>
<div class="detail-container">
	<div class="few-info-panel pull-left">
		<div class="fip-header">
			<Icon type="ios-photos"></Icon>
			<span>{{mainModel.title}}</span>
		</div>
		<div class="fip-content" style="position: relative;">
			<!-- 模型基础信息 -->
			<div class="top"
				style="position: absolute;left: 110px;top:10px;z-index: 99;display: flex;width: 320px;height: 24px;">
				<!-- <iv-button v-if='!isReviseStatus&&mainModel.opType=="view"' style='line-height: 14px;cursor: auto;'>修订历史</iv-button> -->
				<iv-button v-if='isReviseStatus&&mainModel.opType=="view"' style='line-height: 14px;cursor: auto;'>新版本
				</iv-button>
				<div v-if='!isReviseStatus&&mainModel.opType=="view"'
					style="position: absolute;top: 3px;left: 10px;z-index: 5;">修订历史</div>
				<i-select v-show='!isReviseStatus&&mainModel.opType=="view"'
					style="display: inline-block;height: 24px!important;" size='large' :popper-fixed="false"
					:model.sync="revise" :list="reviseList">

					<i-option v-for="upper in reviseList" :value="upper.regulationId">{{upper.reviseDate.substring(0,10)}}
					</i-option>
				</i-select>

				<button v-if='!isReviseStatus&&mainModel.opType=="view"'
					style='outline: none;width: 100px;border-radius: 5px;background-color: white; line-height: 14px;margin-left: 20px;color: #00cc66!important;border: #00cc66 solid 1px!important;cursor: auto;'>
					{{getDataDic('regulation_limitation', mainModel.vo.limitation)}} </button>
			</div>
			<simple-card class="fip-content-item">
				<p slot="title"><i class="basicPng"></i><span>{{$t('gb.common.basicInfo')}}</span></p>
				<el-form class="fip-content-item-form" :model="mainModel.vo"
						 :rules="baseRules" v-ref:ruleform>
					
					<el-form-item :label="$t('gb.common.name')" prop="name">
						<iv-input :value.sync="mainModel.vo.name" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="文件编号" prop="number">
						<iv-input :value.sync="mainModel.vo.number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="文件级别" prop="fileLevel">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('regulation_file_level', mainModel.vo.fileLevel) }}</span>
						<i-select v-else :model.sync="mainModel.vo.fileLevel" :list="getDataDicList('regulation_file_level')" clearable></i-select>
					</el-form-item>
					<el-form-item label="文件类型" prop="fileType">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('regulation_file_type', mainModel.vo.fileType) }}</span>
						<i-select v-else :model.sync="mainModel.vo.fileType" :list="getDataDicList('regulation_file_type')" clearable></i-select>
					</el-form-item>
					<el-form-item label="管理范围" prop="manageScope">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('regulation_manage_scope', mainModel.vo.manageScope) }}</span>
						<i-select v-else :model.sync="mainModel.vo.manageScope" :list="getDataDicList('regulation_manage_scope')" clearable></i-select>
					</el-form-item>
					<el-form-item label="管理要素" prop="manageElement">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('regulation_manage_element', mainModel.vo.manageElement) }}</span>
						<i-select v-else :model.sync="mainModel.vo.manageElement" :list="getDataDicList('regulation_manage_element')" clearable></i-select>
					</el-form-item>
					<el-form-item label="文件时效" prop="limitation">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('regulation_limitation', mainModel.vo.limitation) }}</span>
						<i-select v-else :model.sync="mainModel.vo.limitation" :list="getDataDicList('regulation_limitation')" clearable></i-select>
					</el-form-item>
					<el-form-item label="发布日期" prop="publishDate">
						<date-picker :default-date="false" v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.publishDate" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.publishDate)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="实施日期" prop="effectiveDate">
						<date-picker :default-date="false" v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.effectiveDate" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.effectiveDate)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="文件作者" prop="author">
						<iv-input :value.sync="mainModel.vo.author" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					
					<el-form-item label="专业审核人" prop="audit">
						<iv-input :value.sync="mainModel.vo.audit" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="批准人" prop="approver">
						<iv-input :value.sync="mainModel.vo.approver" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="管理部门" prop="managerOrg">
						<iv-input :value.sync="mainModel.vo.managerOrg" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="归口部门" prop="underOrg">
						<iv-input :value.sync="mainModel.vo.underOrg" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="文件概述" prop="content">
						<iv-textarea :value.sync="mainModel.vo.content" :readonly="mainModel.isReadOnly"></iv-textarea>
					</el-form-item>
					<!-- <el-form-item label="分类" prop="typeId">
						<iv-tree-select v-if="!mainModel.isReadOnly" :model.sync="mainModel.vo.typeId"
							:list="legalRegulationTypes" id-attr="id" display-attr="name">
							<iv-tree :model="legalRegulationTypes" :serch-filterable="true" id-attr="id"
								:selected-datas.sync="typeSelectData" pid-attr="parentId" display-attr="name"
								:single-select="true" :allow-parent-checked="true"></iv-tree>
						</iv-tree-select>
						
						<iv-input v-else :value.sync="mainModel.vo.regulationType.name" textonly></iv-input>
					</el-form-item> -->
					<el-form-item label="文件附件" style="margin-bottom: 20px;position: relative;">
						<div v-for='(index,item) in fileList' v-if='fileList.length>0'><span style="cursor: pointer;"
								@click='doClickFile(index)' class="link-ele">{{item.orginalName}}</span>
							<Icon v-if='!mainModel.isReadOnly' @click.stop="removeFile(item.id, index)"
								type="close-circled" style="margin-left: 10px ; cursor: pointer; color: red;">
							</Icon>
						</div>
						<vue-file-upload v-ref:uploader style="display: none;" :multi-selection="true"
							:params="uploadModel.params" @on-before-upload="doUploadBefore"
							@on-success-upload="doUploadSuccess" @on-upload-complete="onUploadComplete"
							:filters="uploadModel.filters">
						</vue-file-upload>
						<span v-if='!mainModel.isReadOnly' class="link-ele" @click="uploadClicked">添加</span>
					</el-form-item>
					<p style="text-align: left;margin:5px 0;line-height: 18px;position: relative;">
						<span
							style="border-left: 3px solid #33a6ff;height: 12px;position: absolute;top:3px;left:-10px;display: inline-block;"></span>修订信息
					</p>
					<el-form-item label="修订信息" prop="revise">
						<iv-textarea :value.sync="mainModel.vo.revise" :readonly="reviseOnly"></iv-textarea>
						<span @click='resiveInfo.visible=true' class="link-ele" v-if='isReviseStatus'>附加
						</span>
					</el-form-item>
					<el-form-item v-if='mainModel.isReadOnly' label="修订历史" style="margin-bottom: 30px;">
						<div class="link-ele" v-for="item in reviseList" @click='selectRevise(item.regulationId)'>
							{{item.name}}</div>
							<!-- ({{item.createDate.substring(0,4)}}修订) -->
					</el-form-item>
					<p style="text-align: left;margin:5px 0;line-height: 18px;position: relative;margin-top: 12px;">
						<span
							style="border-left: 3px solid #33a6ff;height: 12px;position: absolute;top:3px;left:-10px;display: inline-block;"></span>
						废止信息</p>
					<el-form-item label="废止日期" prop="annulmentDate">
						<date-picker :default-date="false" v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.annulmentDate" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.annulmentDate)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="废止信息" prop="annulment">
						<iv-input :value.sync="mainModel.vo.annulment" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					
					
				
					
					
				
					
				
					
					
					
					
					
					
				</el-form>
			</simple-card>
			
			<div style="width: 800px;" v-show='mainModel.isReadOnly' id="scDetail">

				<simple-card class="fip-content-item">
					<p slot="title"><i class="basicPng"></i><span>其他信息</span></p>

					<div class="lr-layout" style="padding: 0;margin-right:20px ;">
						<div id='detail' class="lr-layout-l legal-regulation-type-box"
							style="margin-right: 0px;width: 240px;overflow-x: hidden;">
							<div
								style="display:flex;justify-content:left;width: 240px;border: rgb(233, 233, 233) solid 1px;margin-top: 22px;">
								<Icon type="edit" @click="doUpdateType"
									style="margin:10px  20px;font-size: 16px;cursor: pointer;"></Icon>
								<Icon type="plus-round" @click="doCreateType"
									style="margin:10px  20px;font-size: 16px;cursor: pointer;">
								</Icon>
								<Icon type="trash-a" @click="doDeleteType"
									style="margin:10px 20px;font-size: 16px;cursor: pointer;"></Icon>
							</div>
							<iv-tree :show-icon-plus="true"
								style="height: 442px;overflow-y:auto;border: rgb(233, 233, 233) solid 1px;padding: 15px;"
								id-attr="id" pid-attr="parentId" display-attr="name" :model="chapterTypes"
								:selected-datas.sync="treeSelectData" :show-checkbox="false" :single-select="true"
								:trigger-parent-event="true" @on-tree-node-click="doTreeNodeClick"></iv-tree>
						</div>
						<div class="lr-layout-r" style="padding: 0;">
							<p style="text-align: right;"> <span @click='doShowregulationContentFormModal4Create'
									class="link-ele">新增</span></p>

							<vue-bootstrap-table style="margin-left:5px;height: 480px;"
								:setting="tableModel.regulationContentTableModel" @on-del-row="doRemoveregulationContent"
								@on-edit-row="doShowregulationContentFormModal4Update" :lazy-load="true"
								v-ref:regulation-content-table>
							</vue-bootstrap-table>

						</div>
					</div>

				</simple-card>
			</div>

		<!-- 无需附件上传请删除此段代码 -->
		<!--
			<file-list-simple-card title="附件列表" class="fip-content-item" :data="fileModel.file.data" :config="fileModel.file.cfg"> </file-list-simple-card>
		-->
			</div>

			
		</div>
	
	<div class="few-info-sider pull-right">
		<iv-button v-if="hasAuth('revise') && mainModel.isReadOnly && mainModel.vo.isRevise == 0" type="ghost"
			@click="doRevise" icon="android-document">
			修订</iv-button>
		<iv-button v-if="!mainModel.isReadOnly && !isReviseStatus" type="ghost" @click="doSave" icon="android-document">
			{{$t('gb.comnon.save')}}</iv-button>
		<iv-button v-if="!mainModel.isReadOnly &&  isReviseStatus" type="ghost" @click="doSaveRevise"
			icon="android-document">
			{{$t('gb.comnon.save')}}</iv-button>
		<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" @click="cancel"
			icon="ios-information-outline ">{{$t("gb.common.cancel")}}
		</vi-button>
		<vi-button v-if="!mainModel.isReadOnly &&  isReviseStatus" type="ghost" @click="doReviseCancel"
			icon="ios-information-outline ">{{$t("gb.common.cancel")}}
		</vi-button>
		<iv-button v-if="mainModel.isReadOnly && hasAuth('edit')" type="ghost" @click.stop="edit"
			icon="android-document">{{$t('gb.common.edition')}}</iv-button>
		<iv-button
			v-if="mainModel.isReadOnly && mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('delete')"
			type="ghost" @click="doDelete" icon="trash-a">{{$t("gb.common.del")}}</iv-button>
		<iv-button type="ghost" icon="close-round" @click.stop="doClose">{{$t("gb.common.close")}}</iv-button>
	</div>
</div>



<Modal :visible.sync='resiveInfo.visible' width='500' title="附加修订简述" @on-ok="doOk" @on-cancel="cancel"
	:footer-hide="true">
	<div style="background-color: white;">
		<el-form :model="resiveInfo.vo" :rules="resiveInfo.rules" v-ref:modalruleform>
			<el-form-item label="修订简述" prop='revise' style="margin-bottom: 20px;position: relative;">
				<iv-textarea :value.sync="resiveInfo.vo.revise"></iv-textarea>
			</el-form-item>
		</el-form>
		<div class="epc-footer">
			<vi-button type="primary" @click="doOk" class="pull-right">{{$t("gb.comnon.save")}}</vi-button>
			<!--<vi-button type="primary" @click="doCancel" class="pull-right">{{$t("gb.common.cancel")}}</vi-button>-->
		</div>
	</div>
</Modal>
<type-form-modal-detail :spare-id="'detail'" :visible.sync="typeForm.visible" :lists="chapterTypes"
	@do-tree-save="doSaveType"></type-form-modal-detail>

<regulation-content-form-modal :chapter='treeSelectData' :visible.sync="formModel.regulationContentFormModel.show"
	@do-save="doSaveregulationContent" @do-update="doUpdateregulationContent"
	:query-url="formModel.regulationContentFormModel.queryUrl"
	:hidden-fields="formModel.regulationContentFormModel.hiddenFields" v-ref:regulation-content-form-modal>
</regulation-content-form-modal>