<Modal :visible.sync="visible"  :title="mainModel.title" :footer-hide="true">
    <div class="edit-pop-container">
        <div class="epc-content">
            <el-form :model="mainModel.vo" :rules="mainModel.rules" v-ref:ruleform>
                <el-form-item prop="relId" label="签发角色" >
                    <i-select class="select-color" :model.sync="mainModel.vo.relId"
                              :list="selectRoleModel.list" placeholder="请选择签发角色"
                              @on-change="changeTypeOfRange">
                        <i-option v-for="item in selectRoleModel.list" :value="item.value" >{{ item.label }}</i-option>
                    </i-select>
                </el-form-item>
                <el-form-item prop="principals" label="委托人">
                    <multiple-input-select
                            :selected-multiple.sync="mainModel.vo.principals"
                            @on-remove="removeAttr2"
                            @on-click="showUser('attr2')"
                    ></multiple-input-select>
                </el-form-item>
                <el-form-item  label="委托理由" prop="auditOpinion">
                    <span v-if="!modify">{{mainModel.vo.unit}}</span>
                    <iv-input type="textarea" :rows="6" v-else :value.sync="mainModel.vo.auditOpinion" :textonly="mainModel.isReadOnly"></iv-input>
                </el-form-item>
            </el-form>
        </div>
        <div class="epc-footer">
            <vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
            <!--<vi-button type="primary" @click="doClose" class="pull-right">{{$t("gb.common.close")}}</vi-button>-->
        </div>
    </div>
</Modal>
<user-select-modal :single-select="true" :visible.sync="showUserSelectModal.show" @do-save="doSaveUser"></user-select-modal>

