<div class="detail-container">

	<div class="few-info-panel pull-left">

		<div class="fip-header">
			<Icon type="ios-photos"></Icon>
			<span>{{mainModel.title}}</span>
		</div>

		<div class="fip-content">
			<!-- 模型基础信息 -->
			<simple-card class="fip-content-item">
				<p slot="title"><i class="basicPng"></i><span>{{$t('gb.common.basicInfo')}}</span></p>
				<el-form class="fip-content-item-form" :model="mainModel.vo"
						 :rules="mainModel.isReadOnly ? mainModel.emptyRules : mainModel.rules" v-ref:ruleform>
					<el-form-item  label="角色编码" prop="code">
						<iv-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="检查项名称" prop="name">
						<iv-input :value.sync="mainModel.vo.name" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="所属公司" prop="compId">
						<company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.compId)['compName']" textonly></iv-input>
					</el-form-item>
					<el-form-item  label="所属部门" prop="orgId">
						<department-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.orgId" :comp-id.sync ="mainModel.vo.compId"></department-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.orgId)['deptName']" textonly></iv-input>
					</el-form-item>
					<el-form-item  label="发证日期" prop="awardDate">
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.awardDate"></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.awardDate" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item  label="检查项来源标识" prop="category">
						<iv-input :value.sync="mainModel.vo.category" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="是否禁用" prop="disable">
						<iv-input :value.sync="mainModel.vo.disable" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="设备设施id" prop="equipmentId">
						<input-select :value="mainModel.vo.tpaEquipment" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" @click="(!mainModel.isReadOnly) && (doShowTpaEquipmentSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item  label="是否被使用" prop="isUse">
						<iv-input :value.sync="mainModel.vo.isUse" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="证书类别" prop="itemType">
						<iv-input :value.sync="mainModel.vo.itemType" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="中间校验" prop="periodDate">
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.periodDate"></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.periodDate" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item  label="备注" prop="remarks">
						<iv-input :value.sync="mainModel.vo.remarks" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="分类id" prop="riskTypeId">
						<iv-input :value.sync="mainModel.vo.riskTypeId" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="类型" prop="type">
						<iv-input :value.sync="mainModel.vo.type" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item  label="有效日期" prop="validDate">
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.validDate"></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.validDate" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item  label="年度检验" prop="yearDate">
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.yearDate"></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.yearDate" textonly class="inp"></iv-input>
					</el-form-item>
				</el-form>
			</simple-card>
			
			<simple-card class="fip-content-item">
				<p slot="title"><i class="basicPng"></i><span>事故案例</span></p>
				<a slot="extra" v-show="mainModel.opType != 'create'" @click.prevent="doShowAccidentCaseSelectModal()" >
					<span><Icon type="plus"></Icon>添加</span>
				</a>
				<vue-bootstrap-table
					:url="tableModel.accidentCaseTableModel.url"
					:columns="tableModel.accidentCaseTableModel.columns"
					:show-empty-row="false"
					:use-default-global-filter="false"
					:lazy-load="true"
					@on-del-row="doRemoveAccidentCases"
					v-ref:accidentcase-table
					>
				</vue-bootstrap-table>
			</simple-card>


			
		</div>
	</div>
	<div class="few-info-sider pull-right">
		<iv-button v-if="mainModel.isReadOnly" type="ghost" @click.stop="mainModel.isReadOnly = false" icon="android-document">{{$t('gb.common.edition')}}</iv-button>
		<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave" icon="android-document">{{$t('gb.comnon.save')}}</iv-button>
		<iv-button v-if="mainModel.opType != 'create'" type="ghost" @click="doDelete" icon="trash-a">{{$t("gb.common.del")}}</iv-button>
		<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" class="mp-header-item-btn" @click="doCancel" icon="ios-information-outline ">{{$t("gb.common.cancel")}}</vi-button>
		<iv-button type="ghost"icon="close-round" @click.stop="doClose" >{{$t("gb.common.close")}}</iv-button>
	</div>
</div>

<tpaequipment-select-modal :visible.sync="selectModel.tpaEquipmentSelectModel.visible" :filter-data="selectModel.tpaEquipmentSelectModel.filterData"  @do-save="doSaveTpaEquipment"></tpaequipment-select-modal>
<accidentcase-select-modal :visible.sync="selectModel.accidentCaseSelectModel.visible" :filter-data="selectModel.accidentCaseSelectModel.filterData"  @do-save="doSaveAccidentCases"></accidentcase-select-modal>

