<div class="reportChartMain">
    <div class="mp-header formTitle" style="margin-left: 10px;">
        <div class="basic">{{mainModel.title}}</div>
    </div>
    <div class="report-qry-head">
        <el-form :model="qryModel" :rules="mainModel.qryRules" is-label-vertical v-ref:ruleform>
            <iv-row>
                <iv-col span="3">
                    <el-form-item prop="sourceInfo" style="width:100%;overflow: inherit;" class="select-color">
                        <i-select class="select-color" :model.sync="qryModel.sourceInfo" style="width:100%;font-size: 12px" v-ref:select
                                    :list="mainModel.sourceInfos">
                            <i-option v-for="item in mainModel.sourceInfos" :value="item.value" >{{ item.label }}</i-option>
                        </i-select>
                    </el-form-item>
                </iv-col>
                <iv-col span="5">
                    <el-form-item prop="dateRange" style="width:100%;overflow: inherit;">
                        <vi-date-picker type="daterange" :options="mainModel.datePickOpts" :value.sync="qryModel.dateRange" placeholder="选择日期范围" style="width:100%"></vi-date-picker>
                    </el-form-item>
                </iv-col>
                <iv-col span="3">
                    <el-form-item prop="typeOfRange" style="width:100%;overflow: inherit;" class="select-range-color" placement="left">
                        <i-select class="select-color" :model.sync="qryModel.typeOfRange" clearable  style="width:100%;font-size: 12px" v-ref:select
                                    :list="mainModel.typeOfRanges" placeholder="请选择对象范围"
                                    @on-change="changeTypeOfRange">
                            <i-option v-for="item in mainModel.typeOfRanges" :value="item.value" >{{ item.label }}</i-option>
                        </i-select>
                    </el-form-item>
                </iv-col>
                <iv-col span="7">
                    <el-form-item prop="objRange" style="width:100%;overflow: inherit;" class="select-type-color">
                        <obj-select :type="qryModel.typeOfRange" :values.sync="qryModel.objRange"
                                    :disabled="qryModel.typeOfRange == null || qryModel.typeOfRange == ''"></obj-select>
                    </el-form-item>
                </iv-col>
                <iv-col span="4" style="padding-top: 6px;">
                    <iv-button @click="doQry()">查询</iv-button>
                </iv-col>
                <iv-col span="2" style="padding-top: 6px;">
                	<iv-button @click="doExport" >导出</iv-button>
            	</iv-col>
            </iv-row>
        </el-form>
    </div>
    <div class="reportChart" v-el:chart-box>
        <vuecharts :options="mainModel.scatterChartOpt" v-ref:chart></vuecharts>
        <hover-layer v-show="showLayer" :values="chartEventData" v-ref:hover-layer></hover-layer>
    </div>
    <detail-modal :visible.sync="detailModel.visible" :values="chartEventData" @on-change="onLayerChange" v-ref:click-layer></detail-modal>
</div>
