<div style="width:100%;height: 100%;" v-if='!showPicMap && !compMap'>
    <!--<risk-area v-ref:risk-pic :comp-id='compId' :img-src="imgSrc" :picture-id='picId' :obj-arr="objArr" :draw-org-id="drawOrgId" @change-back="showPicMap=!showPicMap"></risk-area>-->
    <risk-area :org-name="orgName" v-ref:risk-pic :conf="conf" :org-id='orgId' :comp-id='compId' :img-src="imgSrc" :picture-id='picId' :obj-arr="objArr" :draw-org-id="drawOrgId" @change-back="showPicMap=!showPicMap"></risk-area>
</div>


<div style="width:100%;height: 100%;" v-if='!showPicMap && compMap'>
    <!--<risk-area v-ref:risk-pic :comp-id='compId' :img-src="imgSrc" :picture-id='picId' :obj-arr="objArr" :draw-org-id="drawOrgId" @change-back="showPicMap=!showPicMap"></risk-area>-->
    <risk-map-area :picture-id="pictureId" show-return="1" :option-obj="optionObj"  @back="back"></risk-map-area>
</div>

<div style="height: 100%;" v-show="showPicMap">
    <div style="height: 100%;" id="allmap"></div>

    <div class="sw-risk-overview-legend">
        <div v-for="item in mainModel.riskPojos" class="sw-risk-overview-legend-item" :data-level="item.level" @click="filterByLevel">
            <span :style="renderPictureLegend(item.color)" class="sw-risk-overview-legend-block"></span>
            <span>{{item.label}}</span>
        </div>
    </div>
    <div style="position: absolute;z-index:6;right: 30px;top: 20px;">
        <button class="ivu-btn" type="button" v-show="!compMap" style="padding: 4px 15px 3px;"  title="刷新" @click="refreshData">刷新</button>
        <div style="margin-top: 20px;">
            <div style="text-align: right;">
                <button class="ivu-btn" type="button" style="padding: 4px 10px 3px;" title="放大" @click="doZoom('in')"><Icon type="plus-round"></Icon></button>
            </div>
            <div style="text-align: right;">
                <button class="ivu-btn" type="button" style="padding: 4px 10px 3px;" title="缩小" @click="doZoom('out')"><Icon type="minus-round"></Icon></button>
            </div>
        </div>
    </div>

    <detail-modal v-ref:detail-component></detail-modal>

</div>