<div class="sw-risk-map" id="riskMap" style="overflow: hidden;" v-el:container xmlns:v-el="http://www.w3.org/1999/xhtml">

    <div class="sw-risk-overview-legend" id="legendMsak">
        <div v-for="item in modalModel.riskPojos" class="sw-risk-overview-legend-item" :data-level="item.level">
            <span :style="renderPictureLegend(item.color)" class="sw-risk-overview-legend-block"></span>
            <span>{{item.label}}</span>
        </div>
    </div>

    <div style="height: 100%;position: absolute;z-index: 5;width: 100%;user-select: none;opacity: 0;"
         @mousedown="onmousedown" @click="onMaskClick" v-el:mask></div>

    <div style="will-change: transform; width: 1920px; height: 1080px;position: relative;" v-el:box>
        <canvas width="1920" height="1080" v-el:canvas class="front-canvas"></canvas>
    </div>
    <!--按钮-->
    <div  class="btnPosition" :style="btnsStyle">
        <button class="ivu-btn" :class="{'ivu-btn-primary': riskType === 'static'}" type="button" @click="doChangeMode('static')">固有风险</button>
        <button class="ivu-btn" :class="{'ivu-btn-primary': riskType === 'dynamic'}" type="button" @click="doChangeMode('dynamic')">动态风险</button>


        <!--<button class="ivu-btn"  type="button" @click="changeBack">返回</button>-->
    </div>

    <img :src='imageURL' style="opacity:0;"  v-el:img-one />

</div>

<Modal :visible.sync="tableModel.visible" :footer-hide="true" width="900" title="详情" class-name="risk-map-box-modal">
    <div class="edit-pop-container">
        <div>
            <div style="background: #fff;padding:15px;" v-if="riskType === 'dynamic'">
                <div style="display: flex;">
                    <div v-for="item in tableModel.levelList" @click="changelevelList(item)" class="sw-risk-overview-legend-item" :data-level="item.level">
                        <span :style="getLevelColor(item)" class="sw-risk-overview-legend-block"></span>
                        <span>{{item.value}} （ {{getLevelNum(item)}} ）</span>
                    </div>
                </div>
                <vue-bootstrap-table
                        :columns="tableModel.columns"
                        :values="tableModel.cureList"
                        lazy-load
                        resizeable
                        show-column-picker
                ></vue-bootstrap-table>
            </div>
            <div style="background: #fff;padding:15px;" v-else>
                <div style="display: flex;">
                    <div v-for="item in tableModel2.levelList" @click="changelevelList2(item)" class="sw-risk-overview-legend-item" :data-level="item.level">
                        <span :style="getLevelColor2(item)" class="sw-risk-overview-legend-block"></span>
                        <span>{{item.value}} （ {{getLevelNum2(item)}} ）</span>
                    </div>
                </div>
                <vue-bootstrap-table
                        :columns="tableModel2.columns"
                        :values="tableModel2.cureList"
                        lazy-load
                        resizeable
                        show-column-picker
                ></vue-bootstrap-table>
            </div>
        </div>
        <!--<div class="epc-footer">-->
            <!--&lt;!&ndash;            <vi-button type="primary" @click="doSaveCopy" class="pull-right">取消</vi-button>&ndash;&gt;-->
            <!--<vi-button type="primary" @click="tableModel.visible=false" class="pull-right">确定</vi-button>-->
        <!--</div>-->
    </div>
    <!--<div style="width:100%;height:100%;background: #fff;padding:15px;">-->
        <!--<div class="sw-risk-map-modal">-->
            <!--<div style="display: flex;">-->
                <!--<div v-for="item in tableModel.levelList" @click="changelevelList(item)" class="sw-risk-overview-legend-item" :data-level="item.level">-->
                    <!--<span :style="getLevelColor(item)" class="sw-risk-overview-legend-block"></span>-->
                    <!--<span>{{item.value}} （ {{getLevelNum(item)}} ）</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<lite-table-->
                    <!--:columns="tableModel.columns"-->
                    <!--:values="tableModel.cureList"-->
            <!--&gt;</lite-table>-->
        <!--</div>-->
    <!--</div>-->


</Modal>


<style>
    @media screen and (max-width: 1800px){
        .btnPosition{
            position: absolute;z-index:6;top: 20px;
        }
    }
    @media screen and (min-width: 1800px){
        .btnPosition{
            position: absolute;z-index:6;top: 20px;
        }
    }
</style>

