<div class="detail-container">

	<div class="few-info-panel pull-left">

		<div class="fip-header">
			<Icon type="ios-photos"></Icon>
			<span>{{mainModel.title}}</span>
		</div>

		<div class="fip-content">
			<!-- 模型基础信息 -->
			<simple-card class="fip-content-item">
				<p slot="title"><i class="basicPng"></i><span>{{$t('gb.common.basicInfo')}}</span></p>
				<el-form class="fip-content-item-form" :model="mainModel.vo"
						 :rules="mainModel.isReadOnly ? mainModel.emptyRules : mainModel.rules" v-ref:ruleform>
					<el-form-item :label="$t('gb.common.ownedComp')" prop="compId" label-width="150px">
						<company-tree-select  v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.compId)['compName']" textonly></iv-input>
					</el-form-item>
					<el-form-item  label="练习试卷" prop="examPaper.id" label-width="150px">
						<input-select :value="mainModel.vo.examPaper" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" @click="(!mainModel.isReadOnly) && (doShowExamPaperSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item :label="$t('gb.common.remarks')" label-width="150px">
						<iv-input :value.sync="mainModel.vo.remarks" type="textarea" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
				</el-form>
			</simple-card>
			<simple-card class="fip-content-item" filter :filter-when="mainModel.opType !== 'create'">
				<p slot="title"><i class="basicPng"></i><span>{{$t('gb.common.personnelTest')}}</span></p>
				<a slot="extra" v-show="mainModel.opType != 'create'&& mainModel.vo.disable === '1' && hasAuth('edit')" @click.prevent="doShowUserSelectModel" >
					<span><Icon type="plus"></Icon>{{$t("bc.ria.append")}}</span>
				</a>
				<vue-bootstrap-table
						:url="tableModel.userTableModel.url"
						:columns="tableModel.userTableModel.columns"
						:show-empty-row="false"
						:use-default-global-filter="false"
						:lazy-load="true"
						@on-del-row="doRemoveUsers"
						v-ref:user-table
				>
				</vue-bootstrap-table>
			</simple-card>
		</div>
	</div>
	<div class="few-info-sider pull-right">
		<iv-button type="ghost" icon="close-round" @click.stop="doClose" >{{$t("gb.common.close")}}</iv-button>
		<iv-button v-if="mainModel.vo.disable !== '0' && mainModel.isReadOnly && hasAuth('edit')" type="ghost" @click.stop="doEdit" icon="android-document">{{$t('gb.common.edition')}}</iv-button>
		<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave" icon="android-document">{{$t('gb.comnon.save')}}</iv-button>
		<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" class="mp-header-item-btn" @click="doCancel" icon="ios-information-outline ">{{$t("gb.common.cancel")}}</vi-button>
		<iv-button v-if="mainModel.vo.disable === '0' && mainModel.isReadOnly && hasAuth('cancelPublish')"  type="ghost" @click="doConfirmCallback('doCancelPublish', '取消发布选中数据')" icon="paper-airplane">取消发布</iv-button>
		<iv-button v-if="mainModel.vo.disable === '1' && mainModel.isReadOnly && hasAuth('publish')"  type="ghost" @click="doConfirmCallback('doPublish', '发布选中数据?')" icon="paper-airplane">{{$t('gb.common.release')}}</iv-button>
		<iv-button v-if="mainModel.isReadOnly && hasAuth('delete') && mainModel.vo.disable = '1'" type="ghost" @click="doDelete" icon="trash-a">{{$t("gb.common.del")}}</iv-button>
	</div>
</div>

<exam-paper-select-modal
		single-select
		:visible.sync="selectModel.examPaperSelectModel.visible"
		:filter-data="selectModel.examPaperSelectModel.filterData"
		@do-preview="doPreview"
		@do-save="doSaveExamPaper"
></exam-paper-select-modal>

<user-select-modal
		:visible.sync="selectModel.showUserSelectModel.visible"
		:filter-data="selectModel.showUserSelectModel.filterData"
		@do-save="doSaveUsers"
></user-select-modal>

