<!-- 左浮动框 -->
<div class="detail-large-container  checkRecord-detail-container">
  <div class="base-info-panel">
    <div class="bip-header">
      <div class="bip-header-title">
        <i class="recordPng"></i><span>{{$t("gb.common.basicInfo")}}</span>
      </div>
      <div class="bip-header-btn-group">
        <iv-button type="ghost" @click="doSave" v-if="!mainModel.isReadOnly">{{$t("gb.comnon.save")}}</iv-button>
        <vi-button type="ghost" v-if="hasAuth('exportPdf') && mainModel.isReadOnly" @click="doExportPdf">
          {{$t("gb.common.printDetail")}}</vi-button>
        <vi-button type="ghost" v-if="hasAuth('delete') && mainModel.isReadOnly" @click="doDelete"
          style="margin-right: 10px;">{{$t("gb.common.del")}}</vi-button>
        <iv-button type="ghost" @click="doClose">{{$t("gb.common.close")}}</iv-button>
      </div>
    </div>
    <div class="bip-content">

      <!--非计划检查-->
      <el-form class="bip-content-form" :model="mainModel.vo" is-label-vertical
        :rules="mainModel.isReadOnly ? emptyRules : rules" v-ref:ruleform>

        <iv-row class="bip-content-item">
          <el-form-item class="small-info-box" :label="$t('gb.common.type')">
            <iv-input v-if="!mainModel.isReadOnly" value="非计划检查" disabled></iv-input>
            <span v-else>{{getDataDic('checkTable_type',mainModel.vo.type)}}</span>
          </el-form-item>

          <el-form-item :label="$t('gb.common.checkUser')" prop="checkUser.username" class="small-info-box">
            <input-select :value="mainModel.vo.checkUser" id-field="id" display-field="username"
              :textonly="mainModel.isReadOnly" @click="(!mainModel.isReadOnly) && doShowUserSelectModal(0)">
            </input-select>
          </el-form-item>

          <el-form-item label="检查开始时间" class="small-info-box" prop="checkBeginDate">
            <date-picker type="datetime" format=" yyyy-MM-dd HH:mm:ss" v-if="!mainModel.isReadOnly"
              :selected-date.sync="mainModel.vo.checkBeginDate"></date-picker>
            <iv-input v-else :value="mainModel.vo.checkBeginDate" textonly class="inp"></iv-input>
          </el-form-item>
          <el-form-item label="检查结束时间" class="small-info-box" prop="checkEndDate">
            <date-picker type="datetime" format="yyyy-MM-dd HH:mm:ss" v-if="!mainModel.isReadOnly"
              :selected-date.sync="mainModel.vo.checkEndDate" :begin="mainModel.vo.checkBeginDate"></date-picker>
            <iv-input v-else :value="mainModel.vo.checkEndDate" textonly class="inp"></iv-input>
          </el-form-item>
        </iv-row>

        <iv-row class="bip-content-item">

          <el-form-item label="检查对象" prop="checkObj.id" class="small-info-box">
            <input-select :value="mainModel.vo.checkObj" id-field="id" display-field="name"
              @click="doShowCheckObjSelectModal" v-if="!mainModel.isReadOnly"></input-select>
            <span v-else>{{mainModel.vo.checkObjectName}}</span>
          </el-form-item>

          <el-form-item :label="$t('gb.common.check')" prop="checkTable.name" class="small-info-box">
            <iv-input v-if="!mainModel.isReadOnly" :value="mainModel.vo.checkTable.name" disabled></iv-input>
            <span v-else>{{mainModel.vo.checkTable.name}}</span>
          </el-form-item>
          <el-form-item :label="$t('gb.common.ownedComp')" prop="compId" class="small-info-box">
            <iv-input v-if="!mainModel.isReadOnly" :value="getDataDic('org', mainModel.vo.compId)['compName']" disabled>
            </iv-input>
            <span v-else>{{getDataDic('org', mainModel.vo.compId)['compName']}}</span>
          </el-form-item>

          <el-form-item :label="$t('gb.common.ownedDept')" prop="orgId" class="small-info-box">
            <iv-input v-if="!mainModel.isReadOnly" :value="getDataDic('org', mainModel.vo.orgId)['deptName']" disabled>
            </iv-input>
            <span v-else>{{getDataDic('org', mainModel.vo.orgId)['deptName']}}</span>
          </el-form-item>
        </iv-row>
        <iv-row class="bip-content-item">
          <el-form-item v-if="enableCheckLevel" label="检查级别" prop="checkLevel" class="small-info-box">
            <i-select v-if="!mainModel.isReadOnly" :model.sync="mainModel.vo.checkLevel"
              :list="getDataDicList('checkLevel')" clearable>
              <i-option v-for="type in getDataDicList('checkLevel')" :value="type.id">{{type.value}}</i-option>
            </i-select>
            <span v-if="mainModel.isReadOnly">{{getDataDic('checkLevel', mainModel.vo.checkLevel)}}</span>
          </el-form-item>
          <el-form-item label="协同检查人员" class="small-info-box">
            <multiple-input-select v-if="!mainModel.isReadOnly" :selected-multiple.sync="mainModel.vo.collaborators"
              :textonly="mainModel.isReadOnly" @on-click="(!mainModel.isReadOnly) && doShowUserSelectModal(1)">
            </multiple-input-select>
            <span v-for="(index, item) in mainModel.vo.collaborators" v-else>
              {{index == 0 ? item.username : "," + item.username}}
            </span>
          </el-form-item>
        </iv-row>

      </el-form>
    </div>
  </div>

  <div class="rel-info-panel" v-if="mainModel.isReadOnly">
    <div class="rip-item rip-tableFirst">
      <simple-card class="fip-content-item">
        <p slot="title"><i class="basicPng"></i><span>检查现场情况</span></p>
        <div class="rel-info-panel-content-tabs">
          <el-tabs active-key="relTab">
            <el-tab-pane label="备注说明">
              <div class="rip-item">
                <simple-card>
                  <span
                    style="overflow: hidden;white-space: normal;text-overflow: ellipsis;">{{mainModel.vo.remarks}}</span>
                </simple-card>
              </div>
            </el-tab-pane>
            <el-tab-pane label="电子签名">
              <div class="rip-item">
                <simple-card>
                  <image-view :show-close="false" :images="signatureImgs"></image-view>
                </simple-card>
              </div>
            </el-tab-pane>
            <el-tab-pane label="现场图片">
              <div class="rip-item">
                <simple-card>
                  <image-view :show-close="false" :images="picFiles"></image-view>
                </simple-card>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
      </simple-card>
    </div>
  </div>

  <div class="rel-info-panel" v-if="mainModel.isReadOnly">
    <div class="rip-item">
      <simple-card
        :class="{ 'fip-content-item': true,  'fixed-table-card': true, 'checkRecord-simple-card': true, 'no-check-way': !(enableTrajectoryMap&&hasTrajectoryMap) }"
        :filter="true" :filter-when="mainModel.opType !== 'create'" :custom-filter="true" @do-filter="filterTaskGroup">
        <p slot="title" style="width: 100%">
          <i class="itemPng"></i>
          <span>任务明细</span>
          <span v-if="enableTrajectoryMap&&hasTrajectoryMap" style="cursor: pointer;margin-left: 30px;"
            class="right btn-link" @click="doTrajectoryMap">查看巡检轨迹</span>
          <span class="right" style="margin-left:15px;">
            <iv-checkbox :checked.sync="itemSelectModel[2]">不涉及</iv-checkbox>
          </span>
          <span class="right" style="margin-left:15px;">
            <iv-checkbox :checked.sync="itemSelectModel[1]">不合格</iv-checkbox>
          </span>
          <span class="right" style="margin-left:15px;">
            <iv-checkbox :checked.sync="itemSelectModel[0]">合格</iv-checkbox>
          </span>
        </p>

        <simple-card class="bip-content-sub-item" v-for="group in mainModel.checkRecordDetailVoList">
          <!--                    <span slot="title">{{group.groupName}}</span>-->
          <div slot="title" style="width: 100%;font-weight: 600;color: #666;font-size: 13px;">{{group.groupName}} <span
              v-if="group.checkStartDate" style="float: right;">检查时间:{{group.checkStartDate}}</span></div>
          <vue-bootstrap-table :columns="itemColumns" :show-filter="false" :show-column-picker="false"
            :show-pager="true" :values="group.itemList" @on-click-cell="doViewDetail" :show-empty-row="false"
            :show-seq="true" cursor="pointer">
          </vue-bootstrap-table>
        </simple-card>
      </simple-card>
    </div>
  </div>

  <div class="rel-info-panel" v-if="!mainModel.isReadOnly">
    <div class="rip-item">
      <simple-card>
        <p slot="title">
          <i class="itemPng"></i>
          <span>{{$t('bd.hal.checkItem')}}</span>
        </p>
        <simple-card class="bip-content-sub-item" v-for="group in checkObjModel.items">
          <span slot="title">{{group.groupName}}</span>
          <vue-bootstrap-table :columns="itemColumns1" :show-filter="false" :show-column-picker="false"
            :show-pager="true" :values="group.itemList" @on-click-cell="editDetail" :show-empty-row="false"
            :show-seq="true">
          </vue-bootstrap-table>
        </simple-card>
      </simple-card>
    </div>
  </div>
</div>

<!-- 编辑检查结果弹框 -->
<Modal :visible.sync="viewDetailModel1.show" :title="viewDetailModel1.title" width="520" :footer-hide="true">
  <view-Edit-Component></view-Edit-Component>
</Modal>

<Modal :visible.sync="viewDetailModel.show" :title="viewDetailModel.title" width="720" :footer-hide="true">
  <viewDetailComponent></viewDetailComponent>
</Modal>


<user-select-modal :single-select="selectModal.userSelectModal.singleSelect"
  :visible.sync="selectModal.userSelectModal.visible" :filter-data="selectModal.userSelectModal.filterData"
  @do-save="doSaveUser"></user-select-modal>

<!--选择检查对象-->
<check-object-select :visible.sync="selectModal.taskSelectModel.visible" :comp-id="mainModel.vo.checkUser.compId"
  table-type="0" @do-save="doSaveCheckObj" :is-single-check="true" :is-comp-disable="false" :is-show-area-label="false"
   show-dependency-tree
></check-object-select>

<!--选择检查对象个体-->
<check-object-unity-select :visible.sync="selectModal.checkObjectSelectModel.visible"
  :co-type="selectModal.checkObjectSelectModel.checkObjectType" :co-id="selectModal.checkObjectSelectModel.checkObjId"
  :comp-id="mainModel.vo.compId" @do-save="doSaveCheckObjUnity"
></check-object-unity-select>
<Modal :visible.sync="exportModel.visible" :title="exportModel.title" :footer-hide="true">
  <div class="edit-pop-container">
    <div class="epc-content">
      <iv-radio-group :model.sync="exportModel.exportType">
        <iv-radio value="3">全部数据</iv-radio>
        <iv-radio value="0">只包含"不合格"项</iv-radio>
        <iv-radio value="1">只包含"合格"项</iv-radio>
      </iv-radio-group>
    </div>
    <div class="epc-footer">
      <!--            <vi-button type="primary" @click="doSaveCopy" class="pull-right">取消</vi-button>-->
      <vi-button type="primary" @click="doExport" class="pull-right">确定</vi-button>
    </div>
  </div>
</Modal>
<style>
  .checkRecord-detail-container .checkRecord-simple-card {
    position: relative;
  }

  .checkRecord-detail-container .checkRecord-simple-card .simple-card-extra {
    position: absolute;
    right: 371px;
    top: 0.5px;
  }

  .checkRecord-detail-container .no-check-way .simple-card-extra {
    right: 245px;
  }
</style>