<style>
	.el-tabs .el-tabs__header .el-tabs__item.is-closable .ivu-icon-android-remove-circle{
		opacity: 0;
	}
	.el-tabs .el-tabs__header .el-tabs__item.is-closable:hover .ivu-icon-android-remove-circle{
		opacity: 0.7;
		color: red;
		cursor: pointer;
	}
	.el-tabs .el-tabs__header .el-tabs__item.is-closable .ivu-icon-edit{
		opacity: 0;
	}
	.el-tabs .el-tabs__header .el-tabs__item.is-closable:hover .ivu-icon-edit{
		opacity: 0.7;
		/*color: red;*/
		cursor: pointer;
	}
</style>

<div class="detail-container">

	<div class="few-info-panel pull-left">

		<div class="fip-header">
			<Icon type="ios-photos"></Icon>
			<span v-if="mainModel.addeditshow">{{$t("gb.common.add")}}</span>
			<span v-else>
				<span v-if="isReadOnly">{{$t("gb.common.detail")}}</span>
				<span v-else>{{$t("gb.common.detail")}}</span>
			</span>
		</div>
		<div class="fip-content">
			<!-- 模型基础信息 -->
			<simple-card class="fip-content-item">
				<p slot="title"><i class="basicPng"></i><span>{{$t("gb.common.basicInfo")}}</span></p>
				<el-form class="fip-content-item-form" :model="mainModel.vo"
					:rules="mainModel.isReadOnly ? emptyRules : formRules" v-ref:ruleform>
					<el-form-item :label="$t('gb.common.code')" prop="code" class="small-info-box" v-if="mainModel.opType == 'view'">
						<code-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
						<el-form-item :label="$t('gb.common.ownedComp')" prop="compId">
							<company-tree-select  :id.sync="mainModel.vo.compId" v-if="!mainModel.isReadOnly"></company-tree-select>
							<iv-input v-else :value="getDataDic('org',this.mainModel.vo.compId)['compName']" textonly></iv-input>
						</el-form-item>
						<el-form-item :label="$t('gb.common.evaluationName')" prop="name">
							<iv-input :value.sync="mainModel.vo.name" :textonly="mainModel.isReadOnly"></iv-input>
							<!--<input type="text" v-model="mainModel.vo.name" :readonly="isReadOnly"> -->
						</el-form-item>
						<el-form-item :label="$t('gb.common.state')" prop="state">
							<!--<iv-input :value.sync="mainModel.vo.disable" textonly></iv-input>-->
							<!--<span>{{mainModel.vo.disable==1?"启用":"停用"}}</span>-->
							<!--<span>{{disableLabel}}</span>-->
							<disable-select :value.sync="mainModel.vo.disable" :read-only=true"></disable-select>

							<!--<i-select :model.sync="mainModel.vo.disable" :list="getDataDicList('disable')" v-else>-->
								<!--<i-option v-for="item in getDataDicList('disable')" :value="item.id">{{ item.value }}</i-option>-->
							<!--</i-select>-->
						</el-form-item>
						<el-form-item :label="$t('gb.common.describe')" prop="description">
							<!--<textarea v-model="mainModel.vo.description" :readonly="isReadOnly"></textarea> -->
							<iv-input  type="textarea" :value.sync="mainModel.vo.description" :textonly="mainModel.isReadOnly"></iv-input>
						</el-form-item>
				</el-form>
			</simple-card>

			<!-- 评定纬度 -->
			<simple-card class="fip-content-item"
				:show-content.sync="isShowCardContent">
				<p slot="title">
					<i class="basicPng"></i><span>{{$t("bd.ria.evaluatDimensInfo")}}</span>
				</p>
				<a slot="extra" @click.prevent="doAddGradeLat" v-show="hasAuth('edit') && !(isReadOnly || mainModel.isDataReferenced) && mainModel.vo.id">
					<Icon type="plus"></Icon><span>{{$t("bc.ria.append")}}</span>
				</a>
				<vue-bootstrap-table :columns="gradeLatTableModelColumns"
					:show-pager="false" :values="gradeLatEditModel.riskGradeLats"
					@on-view-row="doViewGradeLat" @on-edit-row="doEditGradeLat"
					:url-delete.sync="tableModel.gradeLatTableModel.urlDelete"
					@on-del-row="doDeleteGradeLat" :show-empty-row="false">
				</vue-bootstrap-table>
			</simple-card>

			<!-- 运算规则 -->

			<simple-card class="fip-content-item"
				:show-content.sync="isShowCardContent">
				<p slot="title">
					<i class="basicPng"></i><span>{{$t("bd.ria.operatInfoRule")}}</span>
				</p>
				<a slot="extra" @click="doEditRules" v-show="hasAuth('edit') && !(isReadOnly || mainModel.isDataReferenced) && gradeLatEditModel.riskGradeLats.length">
					<Icon type="edit"></Icon><span>{{$t("gb.common.setUp")}}</span>
				</a>
				<div class="ruleGradeLats">
					<label class="lableRule">
						<vi-button v-for="(index,label) in ruleLabels" track-by="$index">
							<a class='removeThis'>{{label}}</a>
						</vi-button>
					</label>
				</div>
				<!--<label>{{calcRuleLable}}</label>-->
			</simple-card>

			<!-- 模型结果集列表 -->
			<simple-card class="fip-content-item"
				:show-content.sync="isShowCardContent">
				<p slot="title">
					<i class="basicPng"></i><span>{{$t("bd.ria.result")}}</span>
				</p>
				<a slot="extra" @click="doEditRange" v-show="hasAuth('edit') && !isReadOnly && ruleLabels.length > 0">
					<Icon type="edit"></Icon><span>{{$t("gb.common.setUp")}}</span>
				</a>
				<table id="sample-table-2" class="table table-hover">
					<thead>
						<tr class="remindTh4">
							<th class="remindTh4"><div>{{$t("bd.ria.scoreRange")}}</div></th>
							<th class="remindTh4"><div class="riskTitle">{{$t("gb.common.riskLevel")}}</div></th>
							<!--{{$t("bd.ria.colorCoding")}}-->
							<th class="remindTh4"><div>色彩</div></th>
							<th class="remindTh4"><div>{{$t("bd.ria.operatSuggestInfo")}}</div></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="latRange in rangeEditModel.gradeLatRanges">
							<td><div title={{latRange.minScore}}~{{latRange.maxScore}}>{{latRange.minScore}} ~ {{latRange.maxScore}}</div></td>
							<td><div title={{latRange.level}}>{{latRange.level}}</div></td>
							<!--:value="latRange.colorMark"-->
							<td><div><input :value="" disabled="disabled"
								:style="rangeStyle(latRange.colorMark)" /></div></td>
							<td><div title={{latRange.suggest}}>{{latRange.suggest}}</div></td>
						</tr>
					</tbody>
				</table>
			</simple-card>
		</div>
	</div>
	<div class="few-info-sider pull-right">
		<iv-button type="ghost" @click="doClose" icon="close-round">{{$t("gb.common.close")}}</iv-button>
		<iv-button v-if="mainModel.isReadOnly && hasAuth('edit')" icon="android-document"  @click.stop="doEdit"  type="ghost">{{$t('gb.common.edition')}}</iv-button>
		<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave" icon="android-document">{{$t("bd.ria.preservation")}}</iv-button>
		<vi-button v-if="hasAuth('enable')" v-show="mainModel.isReadOnly" type="ghost" icon="ios-minus-outline" @click="doEnableDisable">{{$t("gb.common.EnableDisable")}}</vi-button>
		<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" class="mp-header-item-btn" @click="doCancel" icon="ios-information-outline ">{{$t("gb.common.cancel")}}</vi-button>
		<iv-button v-if="!mainModel.isDataReferenced && mainModel.isReadOnly && mainModel.vo.id && hasAuth('delete')"
			type="ghost" @click="doDelete" icon="trash-a">{{$t("gb.common.del")}}</iv-button>
	</div>
</div>

<Modal :visible.sync="gradeLatEditModel.show"
	:title="gradeLatEditModel.title" width="600" :footer-hide="true">
<grade-lat-edit-component @do-edit-grade-lat-finshed="doEditGradeLatFinshed"></grade-lat-edit-component> </Modal>
<Modal :visible.sync="rulesEditModel.show" :title="rulesEditModel.title"
	width="800" :footer-hide="true"> <rules-edit-component
	:risk-model-id="mainModel.vo.id"
	:calculating-formula="mainModel.vo.calculatingFormula" @do-edit-rules-finshed="doEditRulesFinshed"></rules-edit-component>
</Modal>
<Modal :visible.sync="rangeEditModel.show" :title="rangeEditModel.title" width="700"
	:footer-hide="true"> <range-edit-component @do-edit-range-finshed="doEditRangeFinshed"></range-edit-component>
</Modal>
<Modal :visible.sync="refreshRiskModel.show" :title="refreshRiskModel.title" width="640" :footer-hide="true">
	<refresh-risk-model-component @do-edit-referenced-finshed="doEditReferencedFinshed"></refresh-risk-model-component>
</Modal>

