<Modal :visible.sync="visible"  :title="mainModel.title" :footer-hide="true">
	<div class="edit-pop-container">
		<div class="epc-content">
			<el-form :model="mainModel.vo" :rules="mainModel.rules" v-ref:ruleform>
					<el-form-item v-if="(hiddenFields.indexOf('code') == -1)" :label="$t('gb.common.code')" prop="code">
						<code-input :value.sync="mainModel.vo.code" :disabled="(disabledFields.indexOf('code') != -1)" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workCatalogId') == -1)" label="作业类型" prop="workCatalog.id">
						<input-select :value="mainModel.vo.workCatalog" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('workCatalog') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowWorkCatalogSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('permitEndTime') == -1)" label="作业时限结束时间" prop="permitEndTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.permitEndTime" :disabled="(disabledFields.indexOf('permitEndTime') != -1)" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.permitEndTime)" :disabled="(disabledFields.indexOf('permitEndTime') != -1)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('permitStartTime') == -1)" label="作业时限开始时间" prop="permitStartTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.permitStartTime" :disabled="(disabledFields.indexOf('permitStartTime') != -1)" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.permitStartTime)" :disabled="(disabledFields.indexOf('permitStartTime') != -1)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workPlace') == -1)" label="作业地点" prop="workPlace">
						<iv-input :value.sync="mainModel.vo.workPlace" :disabled="(disabledFields.indexOf('workPlace') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workContent') == -1)" label="作业内容" prop="workContent">
						<iv-input :value.sync="mainModel.vo.workContent" :disabled="(disabledFields.indexOf('workContent') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('applUnitId') == -1)" label="申请单位" prop="applUnitId">
						<iv-input :value.sync="mainModel.vo.applUnitId" :disabled="(disabledFields.indexOf('applUnitId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('cardTplId') == -1)" label="作业票模板" prop="cardTpl.id">
						<input-select :value="mainModel.vo.cardTpl" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('cardTpl') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowCardTplSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableDeptPrin') == -1)" label="是否需要主管部门负责人" prop="enableDeptPrin">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_dept_prin', mainModel.vo.enableDeptPrin) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableDeptPrin" :list="getDataDicList('iptw_work_permit_enable_dept_prin')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableElectricIsolation') == -1)" label="是否启用电气隔离" prop="enableElectricIsolation">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_electric_isolation', mainModel.vo.enableElectricIsolation) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableElectricIsolation" :list="getDataDicList('iptw_work_permit_enable_electric_isolation')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableGasDetection') == -1)" label="是否启用气体检测" prop="enableGasDetection">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_gas_detection', mainModel.vo.enableGasDetection) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableGasDetection" :list="getDataDicList('iptw_work_permit_enable_gas_detection')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableMechanicalIsolation') == -1)" label="是否启用机械隔离" prop="enableMechanicalIsolation">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_mechanical_isolation', mainModel.vo.enableMechanicalIsolation) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableMechanicalIsolation" :list="getDataDicList('iptw_work_permit_enable_mechanical_isolation')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableProcessIsolation') == -1)" label="是否启用工艺隔离" prop="enableProcessIsolation">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_process_isolation', mainModel.vo.enableProcessIsolation) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableProcessIsolation" :list="getDataDicList('iptw_work_permit_enable_process_isolation')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableProdPrin') == -1)" label="是否需要生产单位现场负责人" prop="enableProdPrin">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_prod_prin', mainModel.vo.enableProdPrin) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableProdPrin" :list="getDataDicList('iptw_work_permit_enable_prod_prin')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableRelPin') == -1)" label="是否需要相关方负责人" prop="enableRelPin">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_rel_pin', mainModel.vo.enableRelPin) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableRelPin" :list="getDataDicList('iptw_work_permit_enable_rel_pin')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableSafetyEducator') == -1)" label="是否需要安全教育人" prop="enableSafetyEducator">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_safety_educator', mainModel.vo.enableSafetyEducator) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableSafetyEducator" :list="getDataDicList('iptw_work_permit_enable_safety_educator')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableSecurityPrin') == -1)" label="是否需要安全部门负责人" prop="enableSecurityPrin">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_security_prin', mainModel.vo.enableSecurityPrin) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableSecurityPrin" :list="getDataDicList('iptw_work_permit_enable_security_prin')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableSupervisor') == -1)" label="是否需要监护人员" prop="enableSupervisor">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_supervisor', mainModel.vo.enableSupervisor) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableSupervisor" :list="getDataDicList('iptw_work_permit_enable_supervisor')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('enableSystemMask') == -1)" label="是否启用系统屏蔽" prop="enableSystemMask">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_enable_system_mask', mainModel.vo.enableSystemMask) }}</span>
						<i-select v-else :model.sync="mainModel.vo.enableSystemMask" :list="getDataDicList('iptw_work_permit_enable_system_mask')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('gasCheckType') == -1)" label="作业中气体检测模式" prop="gasCheckType">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_gas_check_type', mainModel.vo.gasCheckType) }}</span>
						<i-select v-else :model.sync="mainModel.vo.gasCheckType" :list="getDataDicList('iptw_work_permit_gas_check_type')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('gasInspectorId') == -1)" label="授权气体检测员" prop="gasInspector.id">
						<input-select :value="mainModel.vo.gasInspector" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('gasInspector') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowGasInspectorSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('jsaMasterId') == -1)" label="工作安全分析" prop="jsaMaster.id">
						<input-select :value="mainModel.vo.jsaMaster" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('jsaMaster') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowJsaMasterSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('permitCode') == -1)" label="许可证编号" prop="permitCode">
						<iv-input :value.sync="mainModel.vo.permitCode" :disabled="(disabledFields.indexOf('permitCode') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('ppeCatalogSetting') == -1)" label="启用的个人防护设备类型id串" prop="ppeCatalogSetting">
						<iv-input :value.sync="mainModel.vo.ppeCatalogSetting" :disabled="(disabledFields.indexOf('ppeCatalogSetting') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('prodUnitId') == -1)" label="生产单位" prop="prodUnitId">
						<iv-input :value.sync="mainModel.vo.prodUnitId" :disabled="(disabledFields.indexOf('prodUnitId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('remark') == -1)" :label="$t('gb.common.remarks')" prop="remark" full-width>
						<iv-textarea :rows="4" :value.sync="mainModel.vo.remark" :readonly="mainModel.isReadOnly"></iv-textarea>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('result') == -1)" label="作业结果" prop="result">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_result', mainModel.vo.result) }}</span>
						<i-select v-else :model.sync="mainModel.vo.result" :list="getDataDicList('iptw_work_permit_result')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('serialNum') == -1)" label="序号（续签时重置，重新填报时更新）" prop="serialNum">
						<iv-input :value.sync="mainModel.vo.serialNum" :disabled="(disabledFields.indexOf('serialNum') != -1)" type="number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('status') == -1)" label="状态" prop="status">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('iptw_work_permit_status', mainModel.vo.status) }}</span>
						<i-select v-else :model.sync="mainModel.vo.status" :list="getDataDicList('iptw_work_permit_status')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('validityEndTime') == -1)" label="作业许可有效期结束时间" prop="validityEndTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.validityEndTime" :disabled="(disabledFields.indexOf('validityEndTime') != -1)" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.validityEndTime)" :disabled="(disabledFields.indexOf('validityEndTime') != -1)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('validityStartTime') == -1)" label="作业许可有效期开始时间" prop="validityStartTime">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.validityStartTime" :disabled="(disabledFields.indexOf('validityStartTime') != -1)" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.validityStartTime)" :disabled="(disabledFields.indexOf('validityStartTime') != -1)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('versionNum') == -1)" label="版本号（续签时更新）" prop="versionNum">
						<iv-input :value.sync="mainModel.vo.versionNum" :disabled="(disabledFields.indexOf('versionNum') != -1)" type="number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workCardId') == -1)" label="作业票" prop="workCard.id">
						<input-select :value="mainModel.vo.workCard" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('workCard') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowWorkCardSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workEquipment') == -1)" label="作业所在设备" prop="workEquipment">
						<iv-input :value.sync="mainModel.vo.workEquipment" :disabled="(disabledFields.indexOf('workEquipment') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workLevelId') == -1)" label="作业分级" prop="workLevelId">
						<iv-input :value.sync="mainModel.vo.workLevelId" :disabled="(disabledFields.indexOf('workLevelId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('workUnitId') == -1)" label="作业单位" prop="workUnitId">
						<iv-input :value.sync="mainModel.vo.workUnitId" :disabled="(disabledFields.indexOf('workUnitId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
			</el-form>
		</div>
		<div class="epc-footer">
			<vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
		</div>
	</div>
</Modal>

<member-select-modal :visible.sync="selectModel.gasInspectorSelectModel.visible" :filter-data="selectModel.gasInspectorSelectModel.filterData" single-select @do-save="doSaveGasInspector"></member-select-modal>
<ptwcatalog-select-modal :visible.sync="selectModel.workCatalogSelectModel.visible" :filter-data="selectModel.workCatalogSelectModel.filterData" single-select @do-save="doSaveWorkCatalog"></ptwcatalog-select-modal>
<ptwcardtpl-select-modal :visible.sync="selectModel.cardTplSelectModel.visible" :filter-data="selectModel.cardTplSelectModel.filterData" single-select @do-save="doSaveCardTpl"></ptwcardtpl-select-modal>
<ptwworkcard-select-modal :visible.sync="selectModel.workCardSelectModel.visible" :filter-data="selectModel.workCardSelectModel.filterData" single-select @do-save="doSaveWorkCard"></ptwworkcard-select-modal>
<ptwjsamaster-select-modal :visible.sync="selectModel.jsaMasterSelectModel.visible" :filter-data="selectModel.jsaMasterSelectModel.filterData" single-select @do-save="doSaveJsaMaster"></ptwjsamaster-select-modal>
