<simple-card style="width:750px;" class="el-form-item__label-padding-0" >
    <p slot="title" class="ptw-title">能量隔离</p>
    <div class="mb50" style="padding-left:10px;" v-if="model.enableProcessIsolation==1">
        <p class="flex-layout-between base-border-bottom">
            <span>工艺隔离</span>
            <!--<span>-->
                 <!--<span><label class="mr10">隔离实施人</label>{{process.isolator.name}}</span>-->
                <!--<span><label class="ml20 mr10">解除隔离实施人</label>{{process.disisolator.name}}</span>-->
            <!--</span>-->
        </p>
        <div class="pad-form-item el-form-item__label-light">
            <el-form class="width-auto-ipt">
                <el-form-item label="工艺管道">
                    <span>{{process.facility}}</span>
                </el-form-item>
                <el-form-item label="隔离点">
                    <span>{{process.position}}</span>
                </el-form-item>
                <el-form-item label="隔离方法">
                    <div class=" ul-style-none">
                        <ul class="ul-inside">
                            <li v-for="item of geliffList" style="margin-bottom: 5px;">
                                <input type="checkbox" disabled :checked="item.checkResult=='2'" class="width-auto" />
                                {{item.content || item.name}}
                            </li>
                        </ul>
                    </div>
                    <!--<span>{{gelifunName}}</span>-->
                </el-form-item>
                <el-form-item label="挂牌上锁">
                    <!--<iv-checkbox style="font-size: 14px;" disabled true-value="1" false-value="0" :checked.sync="mechanical.enableLoto">是（需要）-->
                    <!--</iv-checkbox>-->
                    <input style="width:14px;" :checked="process.enableLoto=='1'" type="checkbox" disabled /> 是（需要）
                </el-form-item>
                <el-form-item label="隔离位置示意图">
                    <a v-for="item in getFilesNormal(process.cloudFiles,dataType.view)" :href="convertFilePath(item)" target="_blank" style="display: block;width:auto;" class="text-ellipsis link" >{{item.orginalName}}</a>
                    <image-view  :images="getFileImgs(process.cloudFiles,dataType.view)" :show-close="false"></image-view>
                    <lite-box v-for="video in getFileVideos(process.cloudFiles,dataType.view)" :show-close="false" @click="doPlay(video)">
                        <img :src="convertPath(video.id)">
                    </lite-box>
                </el-form-item>
                <el-form-item label="隔离实施人">
                    <div class="flex-layout">
                        <span style="display: inline-block;width:90px;">{{process.isolator.name}}</span>
                        <span class="color-item-999" style="display: inline-block;width:110px;">隔离时间</span>
                        <span style="display: inline-block;width:140px;">{{process.isolateTime}}</span>
                        <span class="ml40 mr10 w9em color-item-999" style="width:4em;">签名</span>
                        <span class="lite-box-21">
                            <!--<a class="link-btn-color">查看签名</a>-->
                             <image-view  :image-style="imageStyle" :images="getFiles(process.cloudFiles,dataType.isolate)" :show-close="false"></image-view>
                        </span>
                    </div>
                </el-form-item>
                <el-form-item label="解除隔离实施人">
                    <div class="flex-layout">
                        <span style="display: inline-block;width:90px;">{{process.disisolator.name}}</span>
                        <span class="color-item-999" style="display: inline-block;width:110px;">解除隔离时间</span>
                        <span  style="display: inline-block;width:140px;">{{process.disisolateTime}}</span>
                        <span class="ml40 mr10 w9em color-item-999"  style="width:4em;">签名</span>
                        <span class="lite-box-21">
                            <!--<a class="link-btn-color">查看签名</a>-->
                             <image-view  :image-style="imageStyle" :images="getFiles(process.cloudFiles,dataType.disisolate)" :show-close="false"></image-view>
                        </span>
                    </div>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <div class="mb50 pl10" v-if="model.enableMechanicalIsolation==1">
        <p class="flex-layout-between base-border-bottom">
            <span>机械隔离</span>
            <!--<span>-->
                <!--<span><label class="mr10">隔离实施人</label>{{mechanical.isolator.name}}</span>-->
                <!--<span><label class="mr10 ml20">解除隔离实施人</label>{{mechanical.disisolator.name}}</span>-->
            <!--</span>-->
        </p>
        <div class="pad-form-item">
            <el-form class="width-auto-ipt">
                <el-form-item label="设施设备">
                    <span>{{mechanical.facility}}</span>
                </el-form-item>
                <el-form-item label="机械隔离部位 ">
                    <span>{{mechanical.position}}</span>
                </el-form-item>
                <el-form-item label="挂牌上锁">
                    <!--<iv-checkbox disabled true-value="1" false-value="0" :checked.sync="mechanical.enableLoto">是（需要）-->
                    <!--</iv-checkbox>-->
                    <input style="width:14px;" :checked="mechanical.enableLoto=='1'" type="checkbox" disabled /> 是（需要）

                </el-form-item>
                <el-form-item label="隔离实施人">
                    <div class="flex-layout">
                        <span style="display: inline-block;width:90px;">{{mechanical.isolator.name}}</span>
                        <span class="color-item-999" style="display: inline-block;width:110px;">隔离时间</span>
                        <span style="display: inline-block;width:140px;">{{mechanical.isolateTime}}</span>
                        <span class="ml40 mr10 w9em color-item-999" style="width:4em;">签名</span>
                        <span>
                            <!--<a class="link-btn-color">查看签名</a>-->
                            <image-view  :image-style="imageStyle" :images="getFiles(mechanical.cloudFiles,dataType.isolate)" :show-close="false"></image-view>
                        </span>
                    </div>
                </el-form-item>
                <el-form-item label="解除隔离实施人">
                    <div class="flex-layout">
                        <!--<span>{{mechanical.disisolateTime}}</span>-->
                        <!--<span  class="ml40 mr10 w9em">解除隔离实施人签名</span>-->
                        <!--<span >-->
                             <!--<image-view  :images="getFiles(mechanical.cloudFiles,dataType.disisolate)" :show-close="false"></image-view>-->
                        <!--</span>-->

                        <span style="display: inline-block;width:90px;">{{mechanical.disisolator.name}}</span>
                        <span class="color-item-999" style="display: inline-block;width:110px;;">隔离时间</span>
                        <span style="display: inline-block;width:140px;">{{mechanical.disisolateTime}}</span>
                        <span class="ml40 mr10 w9em color-item-999" style="width:4em;">签名</span>
                        <span>
                            <!--<a class="link-btn-color">查看签名</a>-->
                            <image-view  :image-style="imageStyle" :images="getFiles(mechanical.cloudFiles,dataType.disisolate)" :show-close="false"></image-view>
                        </span>
                    </div>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <div class="mb50 pl10" v-if="model.enableElectricIsolation==1">
        <p class="flex-layout-between base-border-bottom">
            <span>电气隔离</span>
            <!--<span>-->
                <!--<span><label class="mr10">隔离实施人</label>{{electric.isolator.name}}</span>-->
                <!--<span><label class="ml20 mr10">签名</label>{{electric.disisolator.name}}</span>-->
            <!--</span>-->
        </p>
        <el-form class="width-auto-ipt pad-form-item el-form-item__label-light">
            <el-form-item label="电气设施设备">
                <div class="">
                    {{electric.facility}}
                </div>
            </el-form-item>
            <el-form-item label="机械隔离部位">
                <div class="el-form-item__content">
                    {{electric.position}}
                </div>
            </el-form-item>
            <el-form-item label="挂牌上锁">
                <!--<iv-checkbox disabled true-value="1" false-value="0" :checked.sync="electric.enableLoto">是（需要）-->
                <!--</iv-checkbox>-->
                <input style="width:14px;" :checked="electric.enableLoto=='1'" type="checkbox" disabled /> 是（需要）

            </el-form-item>
            </el-form-item>
            <!--<el-form-item label="隔离时间">-->
                <!--<div class="flex-layout">-->
                    <!--<span>{{electric.isolateTime}}</span>-->
                    <!--<span class="color-item-999" class="ml40 mr10 w9em" style="width:4em;">签名</span>-->
                    <!--<span>-->
                             <!--<image-view :image-style="imageStyle" style="height:30px"  :images="getFiles(electric.cloudFiles,dataType.isolate)" :show-close="false"></image-view>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</el-form-item>-->
            <!--<el-form-item label="解除隔离时间">-->
                <!--<div class="flex-layout">-->
                    <!--<span>{{electric.disisolateTime}}</span>-->
                    <!--<span  class="ml40 mr10 w9em">解除隔离实施人签名</span>-->
                     <!--<span>-->
                        <!--<image-view  :images="getFiles(electric.cloudFiles,dataType.disisolate)" :show-close="false"></image-view>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</el-form-item>-->
            <!--<el-form-item label="隔离实施人">-->
                <!--<div class="flex-layout">-->
                    <!--<span style="display: inline-block;width:90px;">{{process.isolator.name}}</span>-->
                    <!--<span style="display: inline-block;width:110px;">隔离时间</span>-->
                    <!--<span style="display: inline-block;width:140px;">{{process.isolateTime}}</span>-->
                    <!--<span class="ml40 mr10 w9em">隔离实施人签名</span>-->
                    <!--<span>-->
                            <!--<a class="link-btn-color">查看签名</a>-->
                        <!--&lt;!&ndash;<image-view  :images="getFiles(process.cloudFiles,dataType.isolate)" :show-close="false"></image-view>&ndash;&gt;-->
                        <!--</span>-->
                <!--</div>-->
            <!--</el-form-item>-->
            <el-form-item label="隔离实施人">
                <div class="flex-layout">
                    <span style="display: inline-block;width:90px;">{{electric.isolator.name}}</span>
                    <span style="display: inline-block;width:110px;">隔离时间</span>
                    <span style="display: inline-block;width:140px;">{{electric.isolateTime}}</span>
                    <span class="ml40 mr10 w9em color-item-999" style="width:4em;">签名</span>
                    <span class="lite-box-21">
                            <!--<a class="link-btn-color">查看签名</a>-->
                        <image-view  :image-style="imageStyle" :images="getFiles(electric.cloudFiles,dataType.isolate)" :show-close="false"></image-view>
                        </span>
                </div>
            </el-form-item>
            <el-form-item label="解除隔离实施人">
                <div class="flex-layout">
                    <span style="display: inline-block;width:90px;">{{electric.disisolator.name}}</span>
                    <span class="color-item-999" style="display: inline-block;width:110px;">解除隔离时间</span>
                    <span style="display: inline-block;width:140px;">{{electric.disisolateTime}}</span>
                    <span class="ml40 mr10 w9em color-item-999" style="width:4em;">签名</span>
                    <span class="lite-box-21">
                            <!--<a class="link-btn-color">查看签名</a>-->
                        <image-view  :image-style="imageStyle" :images="getFiles(electric.cloudFiles,dataType.disisolate)" :show-close="false"></image-view>
                    </span>
                </div>
            </el-form-item>

        </el-form>
    </div>
    <div class="mb50 pl10" v-if="model.enableSystemMask==1">
        <p class="flex-layout-between base-border-bottom">
            <span>系统屏蔽</span>
            <!--<span>-->
                <!--<span><label class="mr10">隔离实施人</label>{{systemMask.isolator.name}}</span>-->
                <!--<span><label class="ml20 mr10" style="width:4em;font-size: 12px;color:#5e6d82;">签名</label>{{systemMask.disisolator.name}}</span>-->
            <!--</span>-->
        </p>
        <el-form class="width-auto-ipt pad-form-item el-form-item__label-light">
            <el-form-item label="保护系统">
                <div>
                    {{systemMask.facility}}
                </div>
            </el-form-item>
            <el-form-item label="保护系统子件名称">
                <div class="el-form-item__content">
                    {{systemMask.position}}
                </div>
            </el-form-item>
            <el-form-item label="挂牌上锁">
                <!--<iv-checkbox disabled true-value="1" false-value="0" :checked.sync="systemMask.enableLoto">是（需要）-->
                <!--</iv-checkbox>-->
                <input style="width:14px;"  disabled type="checkbox" :checked="systemMask.enableLoto=='1'" />是（需要）
            </el-form-item>
            <!--<el-form-item label="隔离时间">-->
                <!--<div class="flex-layout">-->
                    <!--<span>{{systemMask.isolateTime}}</span>-->
                    <!--<span  class="ml40 mr10 w9em">隔离实施人签名</span>-->
                    <!--<span >-->
                             <!--<image-view  :images="getFiles(systemMask.cloudFiles,dataType.isolate)" :show-close="false"></image-view>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</el-form-item>-->
            <!--<el-form-item label="解除隔离时间">-->
                <!--<div class="flex-layout">-->
                    <!--<span>{{systemMask.disisolateTime}}</span>-->
                    <!--<span class="ml40 mr10 w9em">解除隔离实施人签名</span>-->
                    <!--<span >-->
                             <!--<image-view  :images="getFiles(systemMask.cloudFiles,dataType.disisolate)" :show-close="false"></image-view>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</el-form-item>-->
            <el-form-item label="隔离实施人">
                <div class="flex-layout">
                    <span style="display: inline-block;width:90px;">{{systemMask.isolator.name}}</span>
                    <span class="color-item-999" style="display: inline-block;width:110px;">隔离时间</span>
                    <span style="display: inline-block;width:140px;">{{systemMask.isolateTime}}</span>
                    <span  class="ml40 mr10 w9em color-item-999" style="width:4em;">签名</span>
                    <span class="lite-box-21">
                            <!--<a class="link-btn-color">查看签名</a>-->
                        <image-view  :image-style="imageStyle" :images="getFiles(systemMask.cloudFiles,dataType.isolate)" :show-close="false"></image-view>
                        </span>
                </div>
            </el-form-item>
            <el-form-item label="解除隔离实施人">
                <div class="flex-layout">
                    <span style="display: inline-block;width:90px;">{{systemMask.disisolator.name}}</span>
                    <span class="color-item-999" style="display: inline-block;width:110px;">解除隔离时间</span>
                    <span style="display: inline-block;width:140px;">{{systemMask.disisolateTime}}</span>
                    <span  class="ml40 mr10 w9em color-item-999" style="width:4em;">签名</span>
                    <span class="lite-box-21">
                            <!--<a class="link-btn-color">查看签名</a>-->
                        <image-view  :image-style="imageStyle" :images="getFiles(systemMask.cloudFiles,dataType.disisolate)" :show-close="false"></image-view>
                    </span>
                </div>
            </el-form-item>
        </el-form>
    </div>
</simple-card>

<Modal :visible.sync="playModel.show" width="450" class="type-video" :footer-hide="true">
    <div v-if="playModel.show" style="height: 700px;" id="player"></div>
</Modal>


