<div class="detail-large-container">
	<div class="base-info-panel">
		<div class="bip-header">
			<div class="bip-header-title">
				<i class="recordPng"></i><span>{{mainModel.title}}</span>
			</div>
			<div class="bip-header-btn-group">
			<iv-button v-if="hasAuth('edit')" type="ghost" @click.stop="doShowIraRiskJudgmentFormModal4Update">{{$t('gb.common.edition')}}</iv-button>
<!-- 				<iv-button v-if="mainModel.isReadOnly" type="ghost" @click.stop="mainModel.isReadOnly = false">{{$t('gb.common.edition')}}</iv-button> -->
<!-- 				<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave">{{$t('gb.comnon.save')}}</iv-button> -->
				<iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click.stop="doAdd4Copy">复制</iv-button>
				<vi-button v-if="mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('enable')" type="ghost"  @click="doEnableDisable">{{$t("gb.common.EnableDisable")}}</vi-button>
				<iv-button v-if="mainModel.isReadOnly && mainModel.opType != 'create' && hasAuth('delete')" type="ghost" @click="doDelete">{{$t("gb.common.del")}}</iv-button>
				<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" @click="doCancel">{{$t("gb.common.cancel")}}</vi-button>
				<iv-button type="ghost" @click="doClose">{{$t("gb.common.close")}}</iv-button>
			</div>
		</div>
		<div class="bip-content">
			<el-form class="bip-content-form" :model="mainModel.vo" is-label-vertical :rules="baseRules"  v-ref:ruleform>
				<iv-row class="bip-content-item">
					<el-form-item label="状态0-待执行；1-已结束" prop="status" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.status" type="number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.state')" prop="disable" class="small-info-box" >
						<disable-select :value.sync="mainModel.vo.disable" :read-only="mainModel.isReadOnly" :show-input="mainModel.opType === 'update'"></disable-select>
					</el-form-item>
					<el-form-item label="风险研判内容" prop="content" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.content" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="作业区域" prop="operationArea" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.operationArea" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
				</iv-row>
<!--
				<iv-row class="bip-content-item">
					<el-form-item label="作业结束时间" prop="operationEndDate" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.operationEndDate" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.operationEndDate)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="作业名称" prop="operationName" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.operationName" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="作业开始时间" prop="operationStartDate" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.operationStartDate" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.operationStartDate)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="作业分类" prop="operationType" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.operationType" type="number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
-->
			</el-form>
		</div>
	</div>

	<div class="rel-info-panel">
		<div class="rel-info-panel-content-tabs">
			<el-tabs active-key="relTab">
				<el-tab-pane label="相关" key="relTab">

				</el-tab-pane>
				<el-tab-pane label="资料" key="basTab">
					<div class="rip-item">
						<el-form :model="mainModel.vo" class="rip-item-form">
							<div class="rip-item-form-card">
								<p class="rip-item-form-card-title">基本信息</p>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('状态0-待执行；1-已结束')">
											<span>{{mainModel.vo.status}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('状态')">
											<span>{{mainModel.vo.disable}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('风险研判内容')">
											<span>{{mainModel.vo.content}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('作业区域')">
											<span>{{mainModel.vo.operationArea}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
							</div>
							<div class="rip-item-form-card">
								<p class="rip-item-form-card-title">详细信息</p>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('作业结束时间')">
											<span>{{mainModel.vo.operationEndDate}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('作业名称')">
											<span>{{mainModel.vo.operationName}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('作业开始时间')">
											<span>{{mainModel.vo.operationStartDate}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('作业分类')">
											<span>{{mainModel.vo.operationType}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
							</div>			
						</el-form>
					</div>	
				</el-tab-pane>
			</el-tabs>
		</div>

		<!-- 无需附件上传请删除此段代码 -->
		<!--
			<div class="rip-item">
				<file-list-simple-card title="附件列表" :data="fileModel.default.data" :config="fileModel.default.cfg"> </file-list-simple-card>
			</div>
        -->
	</div>

</div>


<irariskjudgment-form-modal
		:visible.sync="formModel.iraRiskJudgmentFormModel.show"
		@do-update="doUpdateIraRiskJudgment"
		:query-url="formModel.iraRiskJudgmentFormModel.queryUrl"
		v-ref:irariskjudgment-form-modal>
</irariskjudgment-form-modal>

