<div class="detail-container">
	<div class="few-info-panel pull-left">
		<div class="fip-header">
			<Icon type="ios-photos"></Icon>
			<span>{{mainModel.title}}</span>
		</div>
		<div class="fip-content">
			<!-- 模型基础信息 -->
			<simple-card class="fip-content-item">
				<p slot="title"><i class="basicPng"></i><span>{{$t('gb.common.basicInfo')}}</span></p>
				<el-form class="fip-content-item-form" :model="mainModel.vo" :rules="baseRules" v-ref:ruleform>

					<el-form-item :label="$t('gb.common.name')" prop="name">
						<input-select :value.sync="chemical" v-if="!mainModel.isReadOnly" id-field="name"
							display-field="name" :textonly="mainModel.isReadOnly" clearable
							@click="(!mainModel.isReadOnly) && (doSelectGroup())"></input-select>
						<iv-input v-else :value.sync="mainModel.vo.name" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<!--<el-form-item label="会议名称" prop="unit">-->
					<!--<iv-input :value.sync="mainModel.vo.name" :textonly="mainModel.isReadOnly"></iv-input>-->
					<!--</el-form-item>-->
					<el-form-item label="用量" prop="dosage">
						<span v-if="mainModel.isReadOnly">{{mainModel.vo.dosage+mainModel.vo.attr1}}</span>
						<iv-input v-else :value.sync="mainModel.vo.dosage" style="width: 150px;" type="number" >
							<span  slot="append" style="width: 50px;display: block;">{{mainModel.vo.attr1}}</span></iv-input>

					</el-form-item>
					<el-form-item label="剩余贮量" prop="residue">
						<span v-if="mainModel.isReadOnly">{{mainModel.vo.residue+mainModel.vo.attr1}}</span>
						<iv-input v-else :value.sync="mainModel.vo.residue" style="width: 150px;" type="number">
							<span  slot="append" style="width: 50px;display: block;">{{mainModel.vo.attr1}}</span></iv-input>

					</el-form-item>
					<el-form-item  label="核定存量" prop="attr2">
						<span v-if="mainModel.isReadOnly">{{mainModel.vo.attr2+mainModel.vo.attr1}}</span>
						<iv-input v-else :value.sync="mainModel.vo.attr2" style="width: 150px;" type="number">
							<span  slot="append" style="width: 50px;display: block;">{{mainModel.vo.attr1}}</span></iv-input>
						
						<!-- <iv-input :value.sync="mainModel.vo.attr2" textonly  style="width: 120px;"></iv-input>
						<iv-input  :value.sync="mainModel.vo.attr1" textonly  style="width: 80px;" placeholder="单位"></iv-input> -->
					</el-form-item>
					<el-form-item  label="易制爆" prop="attr3" >
						<!--<company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>-->
						<!--<iv-input v-else :value="mainModel.vo.company" textonly></iv-input>-->
						<iv-checkbox :checked.sync="mainModel.vo.attr3 == 1"  disabled></iv-checkbox>
					</el-form-item>

					<el-form-item  label="易制毒" prop="attr4" >
						<!--<company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>-->
						<!--<iv-input v-else :value="mainModel.vo.company" textonly></iv-input>-->
						<iv-checkbox :checked.sync="mainModel.vo.attr4 == 1"  disabled></iv-checkbox>
					</el-form-item>
					<el-form-item label="月份" prop="month">
						<!--<iv-input :value.sync="mainModel.vo.month" :textonly="mainModel.isReadOnly"></iv-input>-->
						<vi-date-picker v-if="!mainModel.isReadOnly" type="month" :value="mainModel.vo.month"
							@on-change="changeQryYear"></vi-date-picker>
						<iv-input v-else :value="mainModel.vo.month" textonly class="inp"></iv-input>
					</el-form-item>

					<el-form-item label="存放部位" prop="location">
						<iv-input :value.sync="mainModel.vo.location" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="专管人员" prop="userId">
						<input-select :value.sync="user" id-field="id" display-field="name"
							:textonly="mainModel.isReadOnly" clearable
							@click="(!mainModel.isReadOnly) && (doSelectUser())"></input-select>
					</el-form-item>
					<el-form-item label="主要用途" prop="purpose">
						<iv-input :value.sync="mainModel.vo.purpose" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>

					<!--<el-form-item  label="会议内容" prop="content">-->
					<!--<iv-textarea :rows="8" :value.sync="mainModel.vo.content" :width="450" :readonly="mainModel.isReadOnly"></iv-textarea>-->
					<!--</el-form-item>-->
					<el-form-item :label="$t('gb.common.ownedComp')" prop="compId">
						<company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId">
						</company-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.compId)['compName']" textonly>
						</iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.ownedDept')" prop="orgId">
						<department-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.orgId"
							:comp-id.sync="mainModel.vo.compId" clearable></department-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.orgId)['deptName']" textonly></iv-input>
					</el-form-item>
				</el-form>
			</simple-card>


		</div>
	</div>
	<div class="few-info-sider pull-right">
		<iv-button type="ghost" icon="close-round" @click.stop="doClose">{{$t("gb.common.close")}}</iv-button>
		<iv-button v-if="mainModel.isReadOnly && hasAuth('edit')" type="ghost" @click.stop="doEdit"
			icon="android-document">{{$t('gb.common.edition')}}</iv-button>
		<!--<iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click="doAdd4Copy" icon="android-document">发布</iv-button>-->
		<!--<iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click="doAdd4Copy" icon="android-document">提交</iv-button>-->
		<!--<iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click="doAdd4Copy" icon="android-document">审批</iv-button>-->
		<!-- <iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click="doAdd4Copy" icon="android-document">复制</iv-button>
		<vi-button v-if="mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('enable')" type="ghost" icon="ios-minus-outline" @click="doEnableDisable">{{$t("gb.common.EnableDisable")}}</vi-button> -->
		<iv-button
			v-if="mainModel.isReadOnly && mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('delete')"
			type="ghost" @click="doDelete" icon="trash-a">{{$t("gb.common.del")}}</iv-button>
		<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave" icon="android-document">
			{{$t('gb.comnon.save')}}</iv-button>
		<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" class="mp-header-item-btn"
			@click="doCancel" icon="ios-information-outline ">{{$t("gb.common.cancel")}}</vi-button>
	</div>
</div>


<user-select-modal :visible.sync="selectModel.userSelectModel.visible" :is-show-concator="false" @do-save="doSaveUsers"
	:filter-data="selectModel.userSelectModel.filterData" single-select>
</user-select-modal>
<select-group :visible.sync="selectGroup.show" @do-save='doSaveName'>

</select-group>