<Modal :visible.sync="visible" :title="mainModel.title" :footer-hide="true">
  <div class="edit-pop-container">
    <div class="epc-content">
      <el-form :model="mainModel.vo" :rules="mainModel.rules" v-ref:ruleform>
        <el-form-item v-if="(hiddenFields.indexOf('name') == -1) && !isShowEquipInspection" label="检查项内容" prop="name">
          <iv-input type="textarea" :rows="3" :value.sync="mainModel.vo.name"
            :disabled="(disabledFields.indexOf('name') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
        </el-form-item>
        <el-form-item v-if="(hiddenFields.indexOf('type') == -1)" :label="$t('gb.common.type')" prop="type">
          <i-select :model.sync="mainModel.vo.type" :list="getDataDicList('pool_type')">
            <i-option v-for="item in getDataDicList('pool_type')" :value="item.id">{{item.value}}</i-option>
          </i-select>
        </el-form-item>
        <!--<el-form-item  :label="$t('gb.common.state')" prop="disable" class="small-info-box" >-->
        <!--<span v-if="mainModel.isReadOnly">{{mainModel.vo.disable==0?"启用":"停用"}}</span>-->
        <!--<i-select :model.sync="mainModel.vo.disable" :list="getDataDicList('disable')" v-else>-->
        <!--<i-option v-for="item in getDataDicList('disable')" :value="item.id">{{ item.value }}</i-option>-->
        <!--</i-select>-->
        <!--</el-form-item>-->

        <el-form-item v-if="(hiddenFields.indexOf('compId') == -1) && !!mainModel.opType"
          :label="$t('gb.common.ownedComp')" prop="compId">
          <company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>
          <iv-input v-else :value="getDataDic('org', mainModel.vo.compId)['compName']" textonly></iv-input>
        </el-form-item>

        <el-form-item v-if="(hiddenFields.indexOf('riskType.id') == -1)" :label="$t('gb.common.checkItemClass')"
          class="small-info-box" prop="riskTypeId" v-if="!mainModel.isReadOnly">
          <iv-tree-select :model.sync="mainModel.vo.riskType.id" :list="riskTypeList" id-attr="id" clearable
            display-attr="name">
            <iv-tree :model="riskTypeList" :selected-datas.sync="selectedDatas" :serch-filterable="true" id-attr="id"
              pid-attr="parentId" display-attr="name" :single-select="true" :allow-parent-checked="true"></iv-tree>
          </iv-tree-select>
        </el-form-item>
        <el-form-item v-if="(hiddenFields.indexOf('remarks') == -1)" :label="$t('gb.common.describe')" prop="remarks"
          class="small-info-box">
          <iv-input :value.sync="mainModel.vo.remarks" :textonly="mainModel.isReadOnly"></iv-input>
        </el-form-item>
        <el-form-item :label="$t('gb.common.riskGrade')" prop="riskModel" class="small-info-box">
          <risk-model :model.sync="mainModel.riskModel"></risk-model>
        </el-form-item>

        <el-form-item v-if="isShowEquipInspection" label="检查对象名称" prop="checkObjName" class="small-info-box">
          <iv-input :value.sync="mainModel.vo.checkObjName" :textonly="mainModel.isReadOnly"></iv-input>
        </el-form-item>
        <el-form-item v-if="isShowEquipInspection" label="检查标准" prop="checkStd" class="small-info-box">
          <iv-input :value.sync="mainModel.vo.checkStd" :textonly="mainModel.isReadOnly"></iv-input>
        </el-form-item>
        <!--				<el-form-item :label="$t('gb.common.equipmentAndFacilities')" v-if="isShowEquipInspection">-->
        <!--					<input-select :value.sync="mainModel.vo.equipment" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" @click="(!mainModel.isReadOnly) && (doShowEquipmentSelectModal())" ></input-select>-->
        <!--				</el-form-item>-->

        <el-form-item label="是否关联设备">
          <iv-checkbox :checked.sync="isRelationEquipment" @on-change="doChangeRelationEquipment"
            style="margin-top: 3px"></iv-checkbox>
        </el-form-item>
        <el-form-item v-if="mainModel.showEquipmentFormItem" label="关联方式">
          <iv-radio-group :model.sync="mainModel.isRelationEquiVal" @on-change="doChangeRelationEquiType">
            <iv-radio value="1">关联设备类型</iv-radio>
            <iv-radio value="2">关联设备设施</iv-radio>
          </iv-radio-group>
        </el-form-item>
        <el-form-item :label="$t('gb.common.equipmentAndFacilities')"
          v-if="mainModel.showEquipmentFormItem && mainModel.isRelationEquiVal == 1">
          <!--					<iv-tree-select-->
          <!--							:model.sync="mainModel.vo.equipmentType.id"-->
          <!--							:list="typeList"-->
          <!--							id-attr="id"-->
          <!--							display-attr="name"-->
          <!--							v-else-->
          <!--					>-->
          <!--						<iv-tree-->
          <!--								:model="typeList"-->
          <!--								:selected-datas.sync="mainModel.selectedDatas4Tree"-->
          <!--								serch-filterable-->
          <!--								id-attr="id"-->
          <!--								pid-attr="parentId"-->
          <!--								display-attr="name"-->
          <!--								single-select-->
          <!--								show-checkbox-->
          <!--								allow-parent-checked>-->
          <!--						</iv-tree>-->
          <!--					</iv-tree-select>-->
          <span style="display: inline-block;white-space: normal;word-break: break-all;font-size: 12px;padding-top: 3px"
            v-if="mainModel.vo.equipmentType.id">{{displayTypeName}}</span>
          <input-select :value.sync="mainModel.vo.equipmentType" id-field="id" @do-clear-input="doClearLeader"
            display-field="name" :textonly="mainModel.isReadOnly"
            @click="(!mainModel.isReadOnly) && (doShowEquipmentTypeModal())"></input-select>
        </el-form-item>
        <el-form-item :label="$t('gb.common.equipmentAndFacilities')"
          v-if="mainModel.showEquipmentFormItem && mainModel.isRelationEquiVal == 2">
          <input-select :value.sync="mainModel.vo.equipment" id-field="id" display-field="name"
            :textonly="mainModel.isReadOnly" @click="(!mainModel.isReadOnly) && (doShowEquipmentSelectModal())">
          </input-select>
        </el-form-item>

        <el-form-item label="是否读数">
          <iv-checkbox :checked.sync="isDigital" @on-change="doChangeDigital" style="margin-top: 3px"></iv-checkbox>
        </el-form-item>
        <el-form-item v-if="mainModel.showDigitalFormItem" label="读数方式" prop="isDigital">
          <iv-radio-group :model.sync="mainModel.vo.isDigital">
            <iv-radio value="1">人工读数</iv-radio>
            <iv-radio value="2">设备读数</iv-radio>
          </iv-radio-group>
        </el-form-item>
        <el-form-item v-if="mainModel.showDigitalFormItem" label="读数最大值" prop="maximum" class="small-info-box">
          <iv-input-number :value.sync="mainModel.vo.maximum" v-if="!mainModel.isReadOnly"></iv-input-number>
          <span v-else>{{mainModel.vo.maximum}}</span>
        </el-form-item>
        <el-form-item v-if="mainModel.showDigitalFormItem" label="读数最小值" prop="minimum" class="small-info-box">
          <iv-input-number :value.sync="mainModel.vo.minimum" v-if="!mainModel.isReadOnly"></iv-input-number>
          <span v-else>{{mainModel.vo.minimum}}</span>
        </el-form-item>
        <el-form-item v-if="mainModel.showDigitalFormItem" label="读数类型" prop="digitalType">
          <i-select :placement="computerAsyncPlacement" :model.sync="mainModel.vo.digitalType"
            :list="getDataDicList('digital_type')" @on-change="doChangeDigitalType">
            <i-option v-for="item in getDataDicList('digital_type')" :value="item.id">{{item.value}}</i-option>
          </i-select>
        </el-form-item>
        <el-form-item v-if="mainModel.showDigitalFormItem" label="读数单位">
          <iv-input :value.sync="mainModel.vo.digitalUnit" :textonly="mainModel.isReadOnly"></iv-input>
        </el-form-item>
      </el-form>
    </div>
    <div class="epc-footer">
      <vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
    </div>
  </div>
</Modal>
<!--设备设施-->
<equipment-select-modal single-select :visible.sync="mainModel.showEquipmentSelectModal" @do-save="doSaveEquipment">
</equipment-select-modal>
<!--<risktype-select-modal single-select :visible.sync="mainModel.showRisktypeSelectModal"  @do-save="doSaveRisktype"></risktype-select-modal>-->
<equipment-type-select-modal :visible.sync="selectModel.equipmentTypeSelectModel.visible"
  @do-save="doSaveEquipmentType"></equipment-type-select-modal>