<Modal :visible.sync="visible"  :title="mainModel.title" :footer-hide="true">
	<div class="edit-pop-container">
		<div class="epc-content">
			<el-form :model="mainModel.vo" :rules="mainModel.rules" v-ref:ruleform>
					<!--<el-form-item v-if="(hiddenFields.indexOf('code') == -1)" :label="$t('gb.common.code')" prop="code">-->
						<!--<code-input :value.sync="mainModel.vo.code" :disabled="(disabledFields.indexOf('code') != -1)" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>-->
					<!--</el-form-item>-->
					<el-form-item v-if="(hiddenFields.indexOf('name') == -1)" label="姓名" prop="name">
						<iv-input :value.sync="mainModel.vo.name" :disabled="(disabledFields.indexOf('name') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<!--<el-form-item v-if="(hiddenFields.indexOf('exerciseSchemeId') == -1)" label="演练方案" prop="exerciseScheme.id">-->
						<!--<input-select :value="mainModel.vo.exerciseScheme" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('exerciseScheme') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowExerciseSchemeSelectModal())" ></input-select>-->
					<!--</el-form-item>-->
					<!--<el-form-item v-if="(hiddenFields.indexOf('isInsider') == -1)" label="是否内部人员" prop="isInsider">-->
						<!--<span v-if="mainModel.isReadOnly">{{ getDataDic('iem_exercise_participant_is_insider', mainModel.vo.isInsider) }}</span>-->
						<!--<i-select v-else :model.sync="mainModel.vo.isInsider" :list="getDataDicList('iem_exercise_participant_is_insider')" clearable></i-select>-->
					<!--</el-form-item>-->
					<!--<el-form-item v-if="(hiddenFields.indexOf('type') == -1)" label="人员类型" prop="type">-->
						<!--<span v-if="mainModel.isReadOnly">{{ getDataDic('iem_exercise_participant_type', mainModel.vo.type) }}</span>-->
						<!--<i-select v-else :model.sync="mainModel.vo.type" :list="getDataDicList('iem_exercise_participant_type')" clearable></i-select>-->
					<!--</el-form-item>-->
					<el-form-item v-if="(hiddenFields.indexOf('mobile') == -1)" label="联系方式" prop="mobile">
						<iv-input :value.sync="mainModel.vo.mobile" :disabled="(disabledFields.indexOf('mobile') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('organization') == -1)" label="机构" prop="organization">
						<iv-input :value.sync="mainModel.vo.organization" :disabled="(disabledFields.indexOf('organization') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<!--<el-form-item v-if="(hiddenFields.indexOf('participantId') == -1)" label="内部人员" prop="participant.id">-->
						<!--<input-select :value="mainModel.vo.user" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('user') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowUserSelectModal())" ></input-select>-->
					<!--</el-form-item>-->
					<el-form-item v-if="(hiddenFields.indexOf('position') == -1)" label="职务" prop="position">
						<iv-input :value.sync="mainModel.vo.position" :disabled="(disabledFields.indexOf('position') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
			</el-form>
		</div>
		<div class="epc-footer">
			<vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
		</div>
	</div>
</Modal>

<user-select-modal :visible.sync="selectModel.userSelectModel.visible" :filter-data="selectModel.userSelectModel.filterData" single-select @do-save="doSaveUser"></user-select-modal>
<exercisescheme-select-modal :visible.sync="selectModel.exerciseSchemeSelectModel.visible" :filter-data="selectModel.exerciseSchemeSelectModel.filterData" single-select @do-save="doSaveExerciseScheme"></exercisescheme-select-modal>
