<Modal :visible.sync="visible"  :title="mainModel.title" :footer-hide="true">
	<div class="edit-pop-container">
		<div class="epc-content">
			<el-form :model="mainModel.vo" :rules="mainModel.rules" v-ref:ruleform>
					<el-form-item v-if="(hiddenFields.indexOf('code') == -1)" :label="$t('gb.common.code')" prop="code">
						<code-input :value.sync="mainModel.vo.code" :disabled="(disabledFields.indexOf('code') != -1)" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('name') == -1)" :label="$t('gb.common.name')" prop="name">
						<iv-input :value.sync="mainModel.vo.name" :disabled="(disabledFields.indexOf('name') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('discernId') == -1)" label="用来标识标准规范(方便记录修订信息)" prop="discernId">
						<iv-input :value.sync="mainModel.vo.discernId" :disabled="(disabledFields.indexOf('discernId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('regulationId') == -1)" label="Hse制度" prop="regulationId">
						<iv-input :value.sync="mainModel.vo.regulationId" :disabled="(disabledFields.indexOf('regulationId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('revise') == -1)" label="修订信息" prop="revise">
						<iv-input :value.sync="mainModel.vo.revise" :disabled="(disabledFields.indexOf('revise') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('reviseDate') == -1)" label="修订时间" prop="reviseDate">
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.reviseDate" :disabled="(disabledFields.indexOf('reviseDate') != -1)" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.reviseDate)" :disabled="(disabledFields.indexOf('reviseDate') != -1)" textonly class="inp"></iv-input>
					</el-form-item>
			</el-form>
		</div>
		<div class="epc-footer">
			<vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
		</div>
	</div>
</Modal>

