<Modal :visible.sync="visible"  :title="mainModel.title" :footer-hide="true">
	<div class="edit-pop-container">
		<div class="epc-content">
			<el-form :model="mainModel.vo" :rules="mainModel.rules" v-ref:ruleform>
					<el-form-item v-if="(hiddenFields.indexOf('code') == -1)" label="角色编码" prop="code">
						<iv-input :value.sync="mainModel.vo.code" :disabled="(disabledFields.indexOf('code') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('name') == -1)" label="分类名称" prop="name">
						<iv-input :value.sync="mainModel.vo.name" :disabled="(disabledFields.indexOf('name') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('orderNo') == -1)" label="排序" prop="orderNo">
						<iv-input :value.sync="mainModel.vo.orderNo" :disabled="(disabledFields.indexOf('orderNo') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('description') == -1)" label="描述说明" prop="description">
						<iv-input :value.sync="mainModel.vo.description" :disabled="(disabledFields.indexOf('description') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('disable') == -1)" label="是否禁用，0启用，1禁用" prop="disable">
						<iv-input :value.sync="mainModel.vo.disable" :disabled="(disabledFields.indexOf('disable') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('parentId') == -1)" label="父分类ID" prop="parentId">
						<iv-input :value.sync="mainModel.vo.parentId" :disabled="(disabledFields.indexOf('parentId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('remarks') == -1)" label="备注" prop="remarks">
						<iv-input :value.sync="mainModel.vo.remarks" :disabled="(disabledFields.indexOf('remarks') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
			</el-form>
		</div>
		<div class="epc-footer">
			<vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
		</div>
	</div>
</Modal>

