<Modal :visible.sync="visible"  :title="mainModel.title" :footer-hide="true">
	<div class="edit-pop-container">
		<div class="epc-content">
			<el-form :model="mainModel.vo" :rules="mainModel.rules" v-ref:ruleform>
					<el-form-item v-if="(hiddenFields.indexOf('code') == -1)" :label="$t('gb.common.code')" prop="code">
						<code-input :value.sync="mainModel.vo.code" :disabled="(disabledFields.indexOf('code') != -1)" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('name') == -1)" :label="$t('gb.common.name')" prop="name">
						<iv-input :value.sync="mainModel.vo.name" :disabled="(disabledFields.indexOf('name') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('riskJudgmentId') == -1)" label="风险研判" prop="riskJudgmentId">
						<iv-input :value.sync="mainModel.vo.riskJudgmentId" :disabled="(disabledFields.indexOf('riskJudgmentId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('allExclude') == -1)" label="是否全部排出" prop="allExclude">
						<span v-if="mainModel.isReadOnly">{{ getDataDic('isr_risk_judgment_group_all_exclude', mainModel.vo.allExclude) }}</span>
						<i-select v-else :model.sync="mainModel.vo.allExclude" :list="getDataDicList('isr_risk_judgment_group_all_exclude')" clearable></i-select>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('itemContent') == -1)" label="项内容" prop="itemContent">
						<iv-input :value.sync="mainModel.vo.itemContent" :disabled="(disabledFields.indexOf('itemContent') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('lastTemplateConId') == -1)" label="模板" prop="lastTemplateConId">
						<iv-input :value.sync="mainModel.vo.lastTemplateConId" :disabled="(disabledFields.indexOf('lastTemplateConId') != -1)" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item v-if="(hiddenFields.indexOf('riskJudgmentLevelId') == -1)" label="管控层级" prop="riskJudgmentLevel.id">
						<input-select :value="mainModel.vo.riskJudgmentLevel" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" :disabled="(disabledFields.indexOf('riskJudgmentLevel') != -1)" clearable @click="(!mainModel.isReadOnly) && (doShowRiskJudgmentLevelSelectModal())" ></input-select>
					</el-form-item>
			</el-form>
		</div>
		<div class="epc-footer">
			<vi-button type="primary" @click="doSave" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
		</div>
	</div>
</Modal>
