<div style="height: 100%">
    <div class="mp-header formTitle" style="margin-left: 10px;">
        <div class="basic">{{qryInfoModel.title}}</div>
    </div>
    <div class="report-qry-head">
        <el-form :model="qryInfoModel.vo" :rules="qryInfoModel.rules" is-label-vertical v-ref:ruleform>
            <iv-row>
                <iv-col span="5">
                    <el-form-item prop="dateRange" style="width:100%;overflow: inherit;">
                        <vi-date-picker type="daterange" :options="datePickModel.options" :value.sync="qryInfoModel.vo.dateRange" placeholder="选择日期范围" style="width:100%"></vi-date-picker>
                    </el-form-item>
                </iv-col>

                <iv-col span="5">
                    <el-form-item prop="typeOfRange" style="width:100%;overflow: inherit;">
                        <i-select :model.sync="qryInfoModel.vo.typeOfRange" v-ref:select :list="typeOfRanges" @on-change="changeTypeOfRange">
                            <i-option v-for="item in typeOfRanges" :value="item.value" >{{ item.label }}</i-option>
                        </i-select>
                    </el-form-item>
                </iv-col>

                <iv-col span="7">
                    <el-form-item prop="objRange" style="width:100%;overflow: inherit;">
                        <obj-select :type="qryInfoModel.vo.typeOfRange" :values.sync="qryInfoModel.vo.objRange"></obj-select>
                    </el-form-item>
                </iv-col>
                <iv-col span="2" style="padding-top: 5px;">
                    <iv-button @click="doQry()">查询</iv-button>
                </iv-col>
                <iv-col span="2" style="padding-top: 5px;">
                    <iv-button @click="doRefresh()">清除缓存</iv-button>
                </iv-col>
                <iv-col span="2" style="padding-top: 5px;">
                    <iv-button @click="doExport()">导出</iv-button>
                </iv-col>
            </iv-row>
        </el-form>
    </div>
    <div class="reportChart">
        <!--左侧-->
        <div style="overflow-x: auto;height: 100%;width: 95%;margin-left: 20px;display: flex;flex-direction: column;border-top: 2px solid #33a6ff;">
            <!--头部-->
            <div>
                <table class="matirx-table" :style="tableWidth">
                    <colgroup>
                        <col style="width: 130px;">
                        <col style="width: 130px;">
                        <col v-for="n in headers.length">
                    </colgroup>
                    <thead>
                    <tr>
                        <td colspan="2"><p v-if="headers.length == 0">{{tips}}</p></td>
                        <td v-for="header in headers" class="text-ellipsis" :title="header.name">{{header.name}}</td>
                    </tr>
                    <tr v-for="(index, row) in cellList">
                        <td colspan="2">{{row[0]}}</td> <!--row[1][org.id].value-->
                        <td  v-for="header in headers" class="text-ellipsis">{{getCellValue(row[1], header.id)}}</td>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>