<div>
    <!--图标区域-->
    <div></div>
    <!--角色显示区域-->
    <div style="padding:20px 0 0 14px;" class="my-ivu-timeline-item-content">
        <timeline>
            <timeline-item v-for="(index,item) of signRoles">
                <span class="ptw-timeline-serialnumber" style="width:1.8em;height:1.8em;" slot="dot">{{item.signStep}}</span>
                <div class="flex-v-center ptwfill-license-rolebox ">
                    <div class="flex-noshrink">{{item.signCatalog.name}}</div>
                    <div class="flex-grow1  ml20">
                        <div class="ptw-combine-box" v-for="(userIndex,user) of item.users">
                            <div class="ptw-combine-enable">{{user.name}}</div>
                            <div class="ptw-combine-close"  @click="doRemoveUser(userIndex,item)">X</div>
                        </div>
                    </div>
                    <div class="link-ele flex-noshrink" @click="doShowSelectUserModal(item)">添加人员</div>
                </div>
            </timeline-item>
        </timeline>
    </div>
</div>
<user-select-modal :single-select="false" :visible.sync="userSelectModel.show" @do-save="doSaveUser"></user-select-modal>

<style>

</style>