
<div>
    <el-form  style="width:580px;padding-bottom: 20px" class="pdt10">
        <div class="el-form-item__content">
            <div class="base-border-bottom mb10" style="width: 100px" v-show="weihaibsList.length"><iv-checkbox :checked.sync="selAll" @on-change="doChangeAll">全选</iv-checkbox></div>
            <div  class="group-vertical ivu-checkbox-group" >
                <iv-checkbox v-for="(index,item) of weihaibsList"  :checked.sync="item.attr1" true-value="1" false-value="0"
                             style="display: flex" :class="{'flex-v-center':weihaibsList.length==index+1}">
                    <span>{{item.name}}</span>
                    <span v-if="item.isExtra==1" style="width: 300px">
                        <iv-input  class="ml5" :value.sync="item.content"  size="small"></iv-input>
                    </span>
                </iv-checkbox>
            </div>
        </div>
    </el-form>
</div>