<div class="review-container">
    <!-- 要素树 -->
    <div class="review-left">
        <div class="title text-ellipsis" :title="auditTableName">{{auditTableName}}</div>
        <div class="tree-box">
            <iv-button type="ghost" :long="true" icon="plus" @click="addFactor" v-show="isCreator">添加要素</iv-button>
            <ul class="member-select-left-tree" style="margin-top: 5px;height: calc(100% - 40px);" v-show="treeModel.data.length > 0">
                <iv-tree :model="treeModel.data" :selected-datas.sync="treeModel.selectedData" :show-checkbox="false" :single-select="true" :trigger-parent-event="true" @on-tree-node-click="doTreeNodeClick"></iv-tree>
            </ul>
        </div>
    </div>

    <!-- 要素 -->
    <div v-if="showRight === 'factor'" class="review-right" v-show="treeModel.data.length > 0">
        <div class="top-head">
            <ul style="display: inline-flex;">
                <li class="s-result-item checked">详情</li>
            </ul>
            <div class="right">
                <iv-button type="ghost" @click="doAddFactorGroup" v-if="isCreator">添加要素组</iv-button>
                <iv-button type="ghost" @click.stop="doEdit" v-if="isCreator">{{$t('gb.common.edition')}}</iv-button>
                <iv-button type="ghost" @click="doDelete" v-if="isCreator">{{$t("gb.common.del")}}</iv-button>
                <iv-button type="ghost" @click="doClose">{{$t("gb.common.close")}}</iv-button>
            </div>
        </div>
        <div class="top-body">
            <el-form class="clearfix" :model="factorModel.vo">
                <el-form-item prop="code" v-show="factorVo.code" class="small-info-box" :label="$t('gb.common.code')">
                    <span>{{factorVo.code}}</span>
                </el-form-item>
                <el-form-item prop="name" class="small-info-box" label="要素名称">
                    <span>{{factorVo.name}}</span>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <div v-if="showRight === 'factor'" class="review-right" v-show="treeModel.data.length === 0">
        <p class="empty-tip">请点击左侧"添加要素"按钮添加要素</p>
    </div>


    <!-- 审核项 -->
    <div v-if="showRight === 'checkItem'" class="review-right">
        <div class="top-head">
            <ul style="display: inline-flex;">
                <li @click="doChangeKey('1')" :class="{'checked': tabKey === '1'}" class="s-result-item">详情</li>
                <li @click="doChangeKey('0')" :class="{'checked': tabKey === '0'}" class="s-result-item">附件</li>
            </ul>
            <div class="right" v-show="tabKey === '1'">
                <iv-button type="ghost" @click.stop="doEdit" v-if="isCreator">{{$t('gb.common.edition')}}</iv-button>
                <iv-button type="ghost" @click="doDelete" v-if="isCreator">{{$t("gb.common.del")}}</iv-button>
                <iv-button type="ghost" @click="doClose">{{$t("gb.common.close")}}</iv-button>
            </div>
            <div class="right" v-show="tabKey === '0'">
                <iv-button type="ghost" @click.stop="setRecordId()" v-if="isCreator">上传文件</iv-button>
                <iv-button type="ghost" @click.stop="createFolder" v-if="isCreator">新建文件夹</iv-button>
                <iv-button type="ghost" @click="doClose">{{$t("gb.common.close")}}</iv-button>
            </div>

        </div>
        <div class="top-body"  v-el:right-content v-show="tabKey === '1'">
            <el-form class="clearfix" :model="factorGroupModel.vo">
                <el-form-item prop="code" v-show="factorGroupVo.code" class="small-info-box" :label="$t('gb.common.code')">
                    <span>{{factorGroupVo.code}}</span>
                </el-form-item>
                <el-form-item prop="name" class="small-info-box" label="要素组名称">
                    <span>{{factorGroupVo.name}}</span>
                </el-form-item>
                <el-form-item prop="auditElement.name" class="small-info-box" label="上级分类">
                    <span>{{factorGroupVo.auditElement.name}}</span>
                </el-form-item>
            </el-form>
            <div class="top-head" style="line-height: 26px;padding: 10px 0;">
                <i class="basicPng"></i>
                <span>审核项</span>
                <div class="right">
                    <a @click="addItemGroup" style="margin-right: 10px;" v-if="isCreator">
                        <Icon type="android-add-circle" style="margin-right: 4px;"></Icon>添加分组</a>
                    <a @click="showItemInfo = !showItemInfo">
                        <Icon style="margin-right: 4px;" :type="showItemInfo ? 'arrow-up-b' : 'arrow-down-b'"></Icon>{{showItemInfo ? '收起' : '展开'}}</a>
                </div>

            </div>
            <div class="table-box">
                <div v-for="(index,item) in groups" class="review-item" v-show="showItemInfo">
                    <div class="review-item-title">
                        <span style="margin-right: 10px">{{item.name}}</span>
                        <iv-button v-if="isCreator" @click="doSort('up',groups,item,index)" type="text" icon="arrow-up-a"></iv-button>
                        <iv-button v-if="isCreator" @click="doSort('down',groups,item,index)" type="text" icon="arrow-down-a" style="margin-top:1px;"></iv-button>
                        <iv-button v-if="isCreator" @click="doEditItemGroup(item)" type="text" icon="compose"></iv-button>
                        <iv-button v-if="isCreator" @click="doDelete(item,index)" class="right" type="text" icon="trash-a">删除</iv-button>
                        <iv-button v-if="isCreator" @click="addItem(item, index)" class="right" type="text" icon="android-add-circle" style="margin-right: 5px;">增加</iv-button>
                    </div>
                    <table class="layout-table">
                        <colgroup>
                            <col style="width: 50px;">
                            <col>
                            <col style="width: 300px;">
                            <col style="width: 100px;">
                            <col style="width: 80px;">
                            <col style="width: 120px;" v-if="isCreator">
                        </colgroup>
                        <thead>
                        <tr class="layout-table-tr">
                            <th class="text-center">编码</th>
                            <th>审核项内容</th>
                            <th>评分说明</th>
                            <th>评分标准</th>
                            <th class="text-center">分值</th>
                            <th v-if="isCreator"></th>
                        </tr>
                        </thead>
                        <tbody v-for="(idx, groupItem) in item.children">
                        <tr class="layout-table-tr">
                            <td class="text-center">{{idx + 1}}</td>
                            <td>{{{replaceReturnKey(groupItem.name)}}}</td>
                            <td>{{{replaceReturnKey(groupItem.remark)}}}</td>
                            <td>{{displayCriterion(groupItem.auditCriterion)}}</td>
                            <td class="text-center">{{groupItem.score}}</td>
                            <td style="white-space: normal;" v-if="isCreator">
                                <div style="display: flex;justify-content: space-around">
                                    <iv-button @click="addItem(groupItem, idx, true)" type="text" icon="android-add-circle"></iv-button>
                                    <iv-button @click="doSort('up',item,groupItem,idx)" type="text" icon="arrow-up-a"></iv-button>
                                    <iv-button @click="doSort('down',item,groupItem,idx)" type="text" icon="arrow-down-a"></iv-button>
                                    <iv-button @click="doEditItem(item,groupItem,idx)" type="text" icon="compose"></iv-button>
                                    <iv-button @click="doDelete(groupItem,index)" type="text" icon="trash-a"></iv-button>
                                </div>

                            </td>
                        </tr>
                        <tr class="layout-table-tr sub-item-tr" v-for="(i, itemSet) in groupItem.children">
                            <td></td>
                            <td>-&nbsp;{{{replaceReturnKey(itemSet.name)}}}</td>
                            <td>{{{replaceReturnKey(itemSet.remark)}}}</td>
                            <td>{{displayCriterion(itemSet.auditCriterion)}}</td>
                            <td class="text-center">{{itemSet.score}}</td>
                            <td style="white-space: normal;" v-if="isCreator">
                                <div style="display: flex;justify-content: space-around">
                                    <iv-button @click="doSort('up',groupItem,itemSet,i)" type="text" icon="arrow-up-a" style="padding-bottom:1px;"></iv-button>
                                    <iv-button @click="doSort('down',groupItem,itemSet,i)" type="text" icon="arrow-down-a" style="padding-top:2px;"></iv-button>
                                    <iv-button @click="doEditItem(groupItem,itemSet,i)" type="text" icon="compose"></iv-button>
                                    <iv-button @click="doDelete(itemSet,index)" type="text" icon="trash-a"></iv-button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="top-body"  v-el:right-content v-show="tabKey === '0'">

            <div v-for="(no, list) in fileList" class="c-audit-file-box">
                <div class="c-audit-folder">
                    <Icon :type="arrowIconType(list)" style="width: 15px;" @click="toggleFolder(list)"></Icon>
                    <file-icon size="24" ext="folder"></file-icon>
                    <div class="c-audit-folder-name">{{list.name}}<span style="padding: 1px 6px;background-color: #f0f0f0;margin-left: 5px;">{{list.files.length}}</span></div>
                    <span class="c-audit-folder-hz">频率： {{displayHzName(list.frequencyType)}}</span>
                    <a href="javascript:;" v-if="isCreator" class="c-audit-folder-hzs" @click="setFolderHz(list)">编辑</a>

                    <a href="javascript:void(0);" v-if="isCreator" @click="setRecordId(list.id)">上传文件</a>

                    <iv-dropdown trigger="click" placement="bottom-end" v-if="isCreator">
                        <iv-button type="text" icon="ios-more"></iv-button>
                        <iv-dropdown-menu slot="list">
                            <iv-dropdown-item @click="doFolderMove(-1, no, list)">上移</iv-dropdown-item>
                            <iv-dropdown-item @click="doFolderMove(1, no, list)">下移</iv-dropdown-item>
                            <iv-dropdown-item @click="doDeleteAuditFile(list, no)">删除</iv-dropdown-item>
                        </iv-dropdown-menu>
                    </iv-dropdown>
                </div>

                <ul class="c-audit-file-lb" v-show="list.show">
                    <li v-for="(index, f) in list.files" class="c-audit-file-item">
                        <file-icon size="20" :ext="f.fileExt"></file-icon>
                        <div class="c-audit-file-name" @click="doFileClick(f)">{{f.name}}</div>
                        <a href="javascript:;" class="caf-preview" @click="doPreview(f)">预览</a>
                        <a href="javascript:;" class="caf-preview" v-if="isCreator" @click="uploadPreview(f.fileId)" style="margin-left: 15px;">上传预览文件</a>
                        <span class="c-audit-file-createAt">{{f.time}}</span>
                        <Icon type="close-circled" v-if="isCreator" @click.stop.prevent="doDeleteFile(f.fileId, index, no)"></Icon>
                    </li>
                </ul>
            </div>



            <ul class="c-audit-file-lb" style="padding-left: 0;margin-top: 30px;">
                <li v-for="(index, f) in elementFiles" class="c-audit-file-item">
                    <file-icon size="20" :ext="f.fileExt"></file-icon>
                    <div class="c-audit-file-name" @click="doFileClick(f)">{{f.name}}</div>
                    <a href="javascript:;" class="caf-preview" @click="doPreview(f)">预览</a>
                    <a href="javascript:;" class="caf-preview" v-if="isCreator" @click="uploadPreview(f.fileId)" style="margin-left: 15px;">上传预览文件</a>
                    <span class="c-audit-file-createAt">{{f.time}}</span>
                    <Icon type="close-circled" v-if="isCreator" @click.stop.prevent="doDeleteFile(f.fileId, index)"></Icon>
                </li>
            </ul>

            <!--<div style="height: 30px;line-height: 30px;color: #999;font-size:12px;border-bottom: 1px solid #e9e9e9; margin-bottom:20px;">-->
                <!--<p><strong>上传文件</strong>（文件支持 word、excel、pdf格式; 单个文件大小最大支持10MB）</p>-->
            <!--</div>-->

        </div>

        <vue-file-upload
                v-if="isCreator"
                @on-success-upload="onUploadSuccess"
                @on-upload-complete="onUploadComplete"
                @on-before-upload="onBeforeUpload"
                @on-error-upload="onUploadComplete"
                :params="fileModel.params"
                :filters="fileModel.filters"
                class="file_upload"
                v-ref:upload
                style="display: none;"
        >
        </vue-file-upload>
        <vue-file-upload
                v-if="isCreator"
                @on-success-upload="onUploadSuccess"
                @on-upload-complete="onUploadComplete"
                @on-before-upload="onBeforeUpload"
                @on-error-upload="onUploadComplete"
                :params="filePreviewModel.params"
                :filters="filePreviewModel.filters"
                class="file_upload"
                v-ref:upload-preview
                style="display: none;"
        >
        </vue-file-upload>
    </div>

    <Modal :visible.sync="displayModel.itemGroupModalVisible" title="添加审核项分组" width="500" :footer-hide="true" class="userSelectModal">

        <div class="edit-pop-container ">
            <div class="epc-content riskAddCon">
                <el-form :model="itemGroupModel.vo" :rules="itemGroupModel.rules" v-ref:itemgroupform>
                    <el-form-item label="分组名称" prop="name">
                        <iv-input :value.sync="itemGroupModel.vo.name"></iv-input>
                    </el-form-item>
                    <div class="form-group h30"></div>
                </el-form>
            </div>
            <div class="epc-footer">
                <vi-button type="primary" @click="doSaveItemGroup" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
            </div>
        </div>
    </Modal>

    <Modal :visible.sync="displayModel.itemModalVisible" title="新增" width="750" :footer-hide="true" class="userSelectModal">

        <div class="edit-pop-container ">
            <div class="epc-content riskAddCon">
                <el-form :model="itemModel.vo" :rules="itemModel.rules" v-ref:itemform style="width:670px;">
                    <!--<el-form-item label="编码" prop="code">-->
                    <!--<iv-input :value.sync="itemModel.vo.code"></iv-input>-->
                    <!--</el-form-item>-->
                    <el-form-item label="审核项内容" prop="name">
                        <iv-input :rows="3" type="textarea" :value.sync="itemModel.vo.name"></iv-input>
                    </el-form-item>
                    <el-form-item label="评分说明" prop="remark">
                        <iv-input :rows="5" type="textarea" :value.sync="itemModel.vo.remark"></iv-input>
                    </el-form-item>
                    <el-form-item label="评分标准" prop="auditCriterion">
                        <i-select :list="itemModel.criterionList" :model.sync="itemModel.vo.auditCriterion" :disabled="itemModel.vo.disabled">
                            <i-option v-for="item in itemModel.criterionList" :value="item.id">{{ item.name }}</i-option>
                        </i-select>
                    </el-form-item>
                    <el-form-item label="分值" prop="score">
                        <iv-input :value.sync="itemModel.vo.score" type="number" style="width:260px;"></iv-input>
                    </el-form-item>
                    <div class="form-group h30"></div>
                </el-form>
            </div>
            <div class="epc-footer">
                <vi-button type="primary" @click="doSaveItem" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
            </div>
        </div>
    </Modal>

    <Modal :visible.sync="displayModel.factorModalVisible" @on-cancel="doCancel" title="编辑要素" width="500" :footer-hide="true" class="userSelectModal">
        <div class="edit-pop-container ">
            <div class="epc-content riskAddCon">
                <el-form :model="factorModel.vo" :rules="factorModel.rules" v-ref:factorform>
                    <el-form-item label="要素名称" prop="name">
                        <iv-input :value.sync="factorModel.vo.name"></iv-input>
                    </el-form-item>
                    <div class="form-group h30"></div>
                </el-form>
            </div>
            <div class="epc-footer">
                <vi-button type="primary" @click="doSaveFactor" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
            </div>
        </div>
    </Modal>

    <Modal :visible.sync="displayModel.factorGroupModalVisible" title="编辑要素分组" width="500" :footer-hide="true" class="userSelectModal">

        <div class="edit-pop-container ">
            <div class="epc-content riskAddCon">
                <el-form :model="factorGroupModel.vo" :rules="factorGroupModel.rules" v-ref:factorgroupform>
                    <el-form-item label="要素分组名称" prop="name">
                        <iv-input :value.sync="factorGroupModel.vo.name"></iv-input>
                    </el-form-item>
                    <div class="form-group h30"></div>
                </el-form>
            </div>
            <div class="epc-footer">
                <vi-button type="primary" @click="doSaveFactorGroup" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
            </div>
        </div>
    </Modal>

    <Modal :visible.sync="folderModel.visible" title="编辑文件夹" width="500" :footer-hide="true" class="userSelectModal">

        <div class="edit-pop-container ">
            <div class="epc-content riskAddCon">
                <el-form :model="folderModel.vo" :rules="folderModel.rules" v-ref:folderform>
                    <el-form-item label="文件夹名称" prop="name">
                        <iv-input :value.sync="folderModel.vo.name"></iv-input>
                    </el-form-item>
                    <el-form-item label="频率" prop="name">
                        <i-select :list="hzList" :model.sync="folderModel.vo.frequencyType">
                            <i-option v-for="item in hzList" :value="item.id">{{ item.value }}</i-option>
                        </i-select>
                    </el-form-item>
                    <div class="form-group h30"></div>
                </el-form>
            </div>
            <div class="epc-footer">
                <vi-button type="primary" @click="doSaveFolderName" class="pull-right">{{$t("gb.common.ok")}}</vi-button>
            </div>
        </div>
    </Modal>

    <div class="userSelectModal ivu-modal-wrap" v-show="isUploading">
        <div class="ivu-modal-mask" style="display: flex;align-items: center;justify-content: center;">
            <div style="height: 100px;width: 450px;background-color: #fff;border-radius: 3px;padding: 20px 10px; line-height: 30px;">
                <p>已上传： {{successLength}} / {{totalLength}}</p>
                <Progress :percent="uploadPercent" status="active" :stroke-width="16" hide-info></Progress>
            </div>
        </div>
    </div>
</div>