<div class="report train-chart">
    <div class="train-content">
        <div class="train-tit">{{qryInfoModel.title}}</div>
        <div class="train-filter">
            <div class="train-obj-select" style="top: 0;">
                <i-select :model.sync="qryParam.typeOfRange" v-ref:select :list="typeOfRanges" @on-change="changeTypeOfRange">
                    <i-option v-for="item in typeOfRanges" :value="item.value" >{{ item.label }}</i-option>
                </i-select>
            </div>

            <div class="train-obj-select">
                <obj-select :type="qryParam.typeOfRange" :values.sync="qryParam.objRange"></obj-select>
            </div>

            <iv-button type="primary" @click="doQuery">查询</iv-button>
        </div>

        <div class="reportChart" style="margin-left: 0px;">
            <a @click="doExportData()" style="float: right;padding-bottom: 6px">导出</a>
            <!--左侧-->
            <div style="overflow-x: auto;height: 100%;width: 100%;display: flex;flex-direction: column;border-top: 2px solid #33a6ff;">
                <!--头部-->
                <div>
                    <table class="matirx-table" :style="tableWidth">
                        <colgroup>
                            <col style="width: 150px;">
                            <col style="width: 150px;" v-if="type === '2'">
                            <col style="width: 150px;">
                            <col style="width: 120px;">
                            <col style="width: 120px;">
                            <col style="width: 120px;">
                            <col style="width: 120px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <td >所属公司</td>
                            <td v-if="type === '2'">所属部门</td>
                            <td >待提交</td>
                            <td >审核中</td>
                            <td >已审核</td>
                            <td >启用</td>
                            <td >停用</td>
                        </tr>
                        <tr v-for="(index, row) in dataList">
                            <td >{{showCompName(row.compId)}}</td>
                            <td v-if="type === '2'">{{showOrgName(row.orgId)}}</td>
                            <td >{{row.submit}}</td>
                            <td >{{row.audit}}</td>
                            <td >{{row.audited}}</td>
                            <td >{{row.enable}}</td>
                            <td >{{row.disable}}</td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 撰取 -->
    <Modal v-if="drillModel.show" :visible.sync="drillModel.show" mask-closable :title="drillModel.title" width="900"
           :footer-hide="true" class="userSelectModal">
        <div class="edit-pop-container" style="width: 900px">
            <div class="epc-header" style="background-color: #eaf0f5;text-align: right;padding: 10px 20px 0;">
                <iv-button @click="doExportData">导出</iv-button>
            </div>
            <div class="epc-content integral-table" style="padding-top: 10px;">
                <vue-bootstrap-table
                        :columns="drillModel.table.columns"
                        :url="drillModel.table.url"
                        :default-filter-value="drillModel.table.qryParam"
                        :show-filter="false"
                        :filter-column="drillModel.table.filterColumns"
                        :show-column-picker="false"
                        :show-pager="true"
                        resizeable
                        v-ref:rpt-details-table>
                </vue-bootstrap-table>
            </div>
        </div>
    </Modal>
</div>