<div class="detail-large-container">
	<div class="base-info-panel">
		<div class="bip-header">
			<div class="bip-header-title">
				<i class="recordPng"></i><span>{{mainModel.title}}</span>
			</div>
			<div class="bip-header-btn-group">
				<iv-button v-if="mainModel.isReadOnly && hasAuth('edit')" type="ghost" @click.stop="doEdit">{{$t('gb.common.edition')}}</iv-button>
				<iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click.stop="doAdd4Copy">复制</iv-button>
				<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave">{{$t('gb.comnon.save')}}</iv-button>
				<!--<vi-button v-if="mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('enable')" type="ghost"  @click="doEnableDisable">{{$t("gb.common.EnableDisable")}}</vi-button>-->
				<iv-button v-if="mainModel.isReadOnly && mainModel.opType != 'create' && hasAuth('delete')" type="ghost" @click="doDelete">{{$t("gb.common.del")}}</iv-button>
				<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" @click="doCancel">{{$t("gb.common.cancel")}}</vi-button>
				<iv-button type="ghost" @click="doClose">{{$t("gb.common.close")}}</iv-button>
			</div>
		</div>
		<div class="bip-content">
			<el-form class="bip-content-form" style="height:200px;"  :model="mainModel.vo" is-label-vertical :rules="baseRules"  v-ref:ruleform>
				<iv-row class="bip-content-item">
					<el-form-item :label="$t('gb.common.code')" prop="code" class="small-info-box" >
						<code-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item label="劳保用品" prop="supply.id" class="small-info-box" >
						<input-select :value="mainModel.vo.sup" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" clearable @click="(!mainModel.isReadOnly) && (doShowSupSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item :label="$t('gb.common.state')" prop="disable" class="small-info-box" >
						<disable-select :value.sync="mainModel.vo.disable" :read-only="mainModel.isReadOnly" :show-input="mainModel.opType === 'update'"></disable-select>
					</el-form-item>
					<el-form-item label="领用人" prop="receiver.id" class="small-info-box" >
						<input-select :value="mainModel.vo.receiver" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" clearable @click="(!mainModel.isReadOnly) && (doShowReceiverSelectModal())" ></input-select>
					</el-form-item>
				</iv-row>
				<iv-row class="bip-content-item">
					<el-form-item label="领用日期" prop="receiverDate" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.receiverDate" clearable></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.receiverDate" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="领用数量" prop="quantity" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.quantity" type="number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.ownedComp')" prop="compId" class="small-info-box" >
						<company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.compId)['compName']" textonly></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.ownedDept')" prop="orgId" class="small-info-box" >
						<department-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.orgId" :comp-id.sync ="mainModel.vo.compId" clearable></department-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.orgId)['deptName']" textonly></iv-input>
					</el-form-item>
			</el-form>
		</div>
	</div>

			<div class="rel-info-panel" :class="{'rel-info-panel-mask': showPanelMask}">
		<!-- 无需附件上传请删除此段代码 -->
		<!--
		<div class="rip-item">
			<file-list-simple-card title="附件列表" :data="fileModel.file.data" :config="fileModel.file.cfg"> </file-list-simple-card>
		</div>
		-->
		<!-- tab页签式 - 无需附件上传请删除此段代码 -->
		<!--
		<div class="rip-item">
			<simple-card class="fip-content-item">
				<p slot="title"><i class="basicPng"></i><span>附件参考</span></p>
				<div class="rel-info-panel-content-tabs">
					<el-tabs active-key="relTab">
						<el-tab-pane :label="'文件(' + fileModel.file.data.length + ')'" key="fileTab">
							<file-list-simple-card  :data="fileModel.file.data" :config="fileModel.file.cfg"></file-list-simple-card>
						</el-tab-pane>
						<el-tab-pane :label="'图片(' + fileModel.pic.data.length + ')'" key="picTab">
							<image-list-simple-card  :data="fileModel.pic.data" :config="fileModel.pic.cfg"></image-list-simple-card>
						</el-tab-pane>
						<el-tab-pane :label="'视频(' + fileModel.video.data.length + ')'" key="videoTab">
							<video-list-simple-card  :data="fileModel.video.data" :config="fileModel.video.cfg"></video-list-simple-card>
						</el-tab-pane>
					</el-tabs>
				</div>
			</simple-card>
		</div>
		-->
	</div>


</div>

<ltlpsup-select-modal :visible.sync="selectModel.supSelectModel.visible" :filter-data="selectModel.supSelectModel.filterData" single-select @do-save="doSaveSup"></ltlpsup-select-modal>
<member-select-modal :visible.sync="selectModel.receiverSelectModel.visible" :filter-data="selectModel.receiverSelectModel.filterData" single-select @do-save="doSaveReceiver"></member-select-modal>



