<div class="detail-large-container">
	<div class="base-info-panel">
		<div class="bip-header">
			<div class="bip-header-title">
				<i class="recordPng"></i><span>{{mainModel.title}}</span>
			</div>
			<div class="bip-header-btn-group">
			<iv-button v-if="hasAuth('edit')" type="ghost" @click.stop="doShowLtLpSupDeliveryFormModal4Update">{{$t('gb.common.edition')}}</iv-button>
<!-- 				<iv-button v-if="mainModel.isReadOnly" type="ghost" @click.stop="mainModel.isReadOnly = false">{{$t('gb.common.edition')}}</iv-button> -->
<!-- 				<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave">{{$t('gb.comnon.save')}}</iv-button> -->
				<iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click.stop="doAdd4Copy">复制</iv-button>
				<vi-button v-if="mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('enable')" type="ghost"  @click="doEnableDisable">{{$t("gb.common.EnableDisable")}}</vi-button>
				<iv-button v-if="mainModel.isReadOnly && mainModel.opType != 'create' && hasAuth('delete')" type="ghost" @click="doConfirmCallback('doDelete')">{{$t("gb.common.del")}}</iv-button>
				<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" @click="doCancel">{{$t("gb.common.cancel")}}</vi-button>
				<iv-button type="ghost" @click="doClose">{{$t("gb.common.close")}}</iv-button>
			</div>
		</div>
		<div class="bip-content">
			<el-form class="bip-content-form" :model="mainModel.vo" is-label-vertical :rules="baseRules"  v-ref:ruleform>
				<iv-row class="bip-content-item">
					<el-form-item :label="$t('gb.common.code')" prop="code" class="small-info-box" >
						<code-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item label="劳保用品" prop="supply.id" class="small-info-box" >
						<input-select :value="mainModel.vo.sup" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" clearable @click="(!mainModel.isReadOnly) && (doShowSupSelectModal())" ></input-select>
					</el-form-item>
					<el-form-item :label="$t('gb.common.state')" prop="disable" class="small-info-box" >
						<disable-select :value.sync="mainModel.vo.disable" :read-only="mainModel.isReadOnly" :show-input="mainModel.opType === 'update'"></disable-select>
					</el-form-item>
					<el-form-item label="领用人" prop="receiver.id" class="small-info-box" >
						<input-select :value="mainModel.vo.receiver" id-field="id" display-field="name" :textonly="mainModel.isReadOnly" clearable @click="(!mainModel.isReadOnly) && (doShowReceiverSelectModal())" ></input-select>
					</el-form-item>
				</iv-row>
<!--
				<iv-row class="bip-content-item">
					<el-form-item label="领用日期" prop="receiverDate" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" :selected-date.sync="mainModel.vo.receiverDate" clearable></date-picker>
						<iv-input v-else :value.sync="mainModel.vo.receiverDate" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="领用数量" prop="quantity" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.quantity" type="number" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.ownedComp')" prop="compId" class="small-info-box" >
						<company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.compId)['compName']" textonly></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.ownedDept')" prop="orgId" class="small-info-box" >
						<department-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.orgId" :comp-id.sync ="mainModel.vo.compId" clearable></department-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.orgId)['deptName']" textonly></iv-input>
					</el-form-item>
-->
			</el-form>
		</div>
	</div>

	<div class="rel-info-panel">
		<div class="rel-info-panel-content-tabs">
			<el-tabs active-key="relTab">
				<el-tab-pane label="相关" key="relTab">
							<div class="rel-info-panel" :class="{'rel-info-panel-mask': showPanelMask}">
			</div>

				</el-tab-pane>
				<el-tab-pane label="资料" key="basTab">
					<div class="rip-item">
						<el-form :model="mainModel.vo" class="rip-item-form">
							<div class="rip-item-form-card">
								<p class="rip-item-form-card-title">基本信息</p>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('编号')">
											<span>{{mainModel.vo.code}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('劳保用品')">
											<span>{{mainModel.vo.supplyId}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('状态')">
											<span>{{mainModel.vo.disable}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('领用人')">
											<span>{{mainModel.vo.receiverId}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
							</div>
							<div class="rip-item-form-card">
								<p class="rip-item-form-card-title">详细信息</p>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('领用日期')">
											<span>{{mainModel.vo.receiverDate}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('领用数量')">
											<span>{{mainModel.vo.quantity}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('所属公司')">
											<span>{{mainModel.vo.compId}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('所属部门')">
											<span>{{mainModel.vo.orgId}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
							</div>			
						</el-form>
					</div>	
				</el-tab-pane>
			</el-tabs>
		</div>

		<!-- 无需附件上传请删除此段代码 -->
		<!--
			<div class="rip-item">
				<file-list-simple-card title="附件列表" :data="fileModel.default.data" :config="fileModel.default.cfg"> </file-list-simple-card>
			</div>
        -->
	</div>

</div>

<ltlpsup-select-modal :visible.sync="selectModel.supSelectModel.visible" :filter-data="selectModel.supSelectModel.filterData" single-select @do-save="doSaveSup"></ltlpsup-select-modal>
<member-select-modal :visible.sync="selectModel.receiverSelectModel.visible" :filter-data="selectModel.receiverSelectModel.filterData" single-select @do-save="doSaveReceiver"></member-select-modal>

<ltlpsupdelivery-form-modal
		:visible.sync="formModel.ltLpSupDeliveryFormModel.show"
		@do-update="doUpdateLtLpSupDelivery"
		:query-url="formModel.ltLpSupDeliveryFormModel.queryUrl"
		v-ref:ltlpsupdelivery-form-modal>
</ltlpsupdelivery-form-modal>

