<div class="detail-large-container">
	<div class="base-info-panel">
		<div class="bip-header">
			<div class="bip-header-title">
				<i class="recordPng"></i><span>{{mainModel.title}}</span>
			</div>
			<div class="bip-header-btn-group">
			<iv-button v-if="hasAuth('edit')" type="ghost" @click.stop="doShowLtTsProjectFormModal4Update">{{$t('gb.common.edition')}}</iv-button>
<!-- 				<iv-button v-if="mainModel.isReadOnly" type="ghost" @click.stop="mainModel.isReadOnly = false">{{$t('gb.common.edition')}}</iv-button> -->
<!-- 				<iv-button v-if="!mainModel.isReadOnly" type="ghost" @click="doSave">{{$t('gb.comnon.save')}}</iv-button> -->
				<iv-button v-if="mainModel.isReadOnly && hasAuth('copy')" type="ghost" @click.stop="doAdd4Copy">复制</iv-button>
				<vi-button v-if="mainModel.opType != 'create' && mainModel.isReadOnly && hasAuth('enable')" type="ghost"  @click="doEnableDisable">{{$t("gb.common.EnableDisable")}}</vi-button>
				<iv-button v-if="mainModel.isReadOnly && mainModel.opType != 'create' && hasAuth('delete')" type="ghost" @click="doDelete">{{$t("gb.common.del")}}</iv-button>
				<vi-button v-if="!mainModel.isReadOnly && isEditStatus" type="ghost" @click="doCancel">{{$t("gb.common.cancel")}}</vi-button>
				<iv-button type="ghost" @click="doClose">{{$t("gb.common.close")}}</iv-button>
			</div>
		</div>
		<div class="bip-content">
			<el-form class="bip-content-form" :model="mainModel.vo" is-label-vertical :rules="baseRules"  v-ref:ruleform>
				<iv-row class="bip-content-item">
					<el-form-item :label="$t('gb.common.code')" prop="code" class="small-info-box" >
						<code-input :value.sync="mainModel.vo.code" :textonly="mainModel.isReadOnly" :allow-empty="allowEmpty" v-ref:code-input></code-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.name')" prop="name" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.name" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="建设单位负责人" prop="constructionOwnerName" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.constructionOwnerName" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.state')" prop="disable" class="small-info-box" >
						<disable-select :value.sync="mainModel.vo.disable" :read-only="mainModel.isReadOnly" :show-input="mainModel.opType === 'update'"></disable-select>
					</el-form-item>
				</iv-row>
<!--
				<iv-row class="bip-content-item">
					<el-form-item label="施工单位负责人" prop="builderOwnerName" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.builderOwnerName" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="施工单位" prop="builderName" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.builderName" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="建设单位负责人联系电话" prop="constructionOwnerMobile" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.constructionOwnerMobile" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="监管单位负责人联系电话" prop="supervisionOwnerMobile" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.supervisionOwnerMobile" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
				</iv-row>
				<iv-row class="bip-content-item">
					<el-form-item label="施工单位负责人联系电话" prop="builderOwnerMobile" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.builderOwnerMobile" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="监管单位负责人" prop="supervisionOwnerName" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.supervisionOwnerName" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="建设单位" prop="constructionName" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.constructionName" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item label="项目负责人" prop="ownerName" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.ownerName" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
				</iv-row>
				<iv-row class="bip-content-item">
					<el-form-item label="监管单位" prop="supervisionName" class="small-info-box" >
						<iv-input :value.sync="mainModel.vo.supervisionName" :textonly="mainModel.isReadOnly"></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.ownedComp')" prop="compId" class="small-info-box" >
						<company-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.compId"></company-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.compId)['compName']" textonly></iv-input>
					</el-form-item>
					<el-form-item :label="$t('gb.common.ownedDept')" prop="orgId" class="small-info-box" >
						<department-tree-select v-if="!mainModel.isReadOnly" :id.sync="mainModel.vo.orgId" :comp-id.sync ="mainModel.vo.compId" clearable></department-tree-select>
						<iv-input v-else :value="getDataDic('org', mainModel.vo.orgId)['deptName']" textonly></iv-input>
					</el-form-item>
					<el-form-item label="申请日期" prop="applyDate" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.applyDate" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.applyDate)" textonly class="inp"></iv-input>
					</el-form-item>
				</iv-row>
				<iv-row class="bip-content-item">
					<el-form-item label="批准日期" prop="approveDate" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.approveDate" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.approveDate)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="预计完成日期" prop="jobEndDate" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.jobEndDate" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.jobEndDate)" textonly class="inp"></iv-input>
					</el-form-item>
					<el-form-item label="开工日期" prop="jobStartDate" class="small-info-box" >
						<date-picker v-if="!mainModel.isReadOnly" format="yyyy-MM-dd" data-format="yyyy-MM-dd 00:00:00" :selected-date.sync="mainModel.vo.jobStartDate" clearable></date-picker>
						<iv-input v-else :value="formatYMD(mainModel.vo.jobStartDate)" textonly class="inp"></iv-input>
					</el-form-item>
-->
			</el-form>
		</div>
	</div>

	<div class="rel-info-panel">
		<div class="rel-info-panel-content-tabs">
			<el-tabs active-key="relTab">
				<el-tab-pane label="相关" key="relTab">

				</el-tab-pane>
				<el-tab-pane label="资料" key="basTab">
					<div class="rip-item">
						<el-form :model="mainModel.vo" class="rip-item-form">
							<div class="rip-item-form-card">
								<p class="rip-item-form-card-title">基本信息</p>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('编号')">
											<span>{{mainModel.vo.code}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('项目名称')">
											<span>{{mainModel.vo.name}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('建设单位负责人')">
											<span>{{mainModel.vo.constructionOwnerName}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('状态')">
											<span>{{mainModel.vo.disable}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
							</div>
							<div class="rip-item-form-card">
								<p class="rip-item-form-card-title">详细信息</p>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('施工单位负责人')">
											<span>{{mainModel.vo.builderOwnerName}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('施工单位')">
											<span>{{mainModel.vo.builderName}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('建设单位负责人联系电话')">
											<span>{{mainModel.vo.constructionOwnerMobile}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('监管单位负责人联系电话')">
											<span>{{mainModel.vo.supervisionOwnerMobile}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('施工单位负责人联系电话')">
											<span>{{mainModel.vo.builderOwnerMobile}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('监管单位负责人')">
											<span>{{mainModel.vo.supervisionOwnerName}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('建设单位')">
											<span>{{mainModel.vo.constructionName}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('项目负责人')">
											<span>{{mainModel.vo.ownerName}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('监管单位')">
											<span>{{mainModel.vo.supervisionName}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('所属公司')">
											<span>{{mainModel.vo.compId}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('所属部门')">
											<span>{{mainModel.vo.orgId}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('申请日期')">
											<span>{{mainModel.vo.applyDate}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('批准日期')">
											<span>{{mainModel.vo.approveDate}}</span>
										</el-form-item>
									</iv-col>
									<iv-col span="12">
										<el-form-item :label="$t('预计完成日期')">
											<span>{{mainModel.vo.jobEndDate}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
								<iv-row>
									<iv-col span="12">
										<el-form-item :label="$t('开工日期')">
											<span>{{mainModel.vo.jobStartDate}}</span>
										</el-form-item>
									</iv-col>
								</iv-row>
							</div>			
						</el-form>
					</div>	
				</el-tab-pane>
			</el-tabs>
		</div>

		<!-- 无需附件上传请删除此段代码 -->
		<!--
			<div class="rip-item">
				<file-list-simple-card title="附件列表" :data="fileModel.default.data" :config="fileModel.default.cfg"> </file-list-simple-card>
			</div>
        -->
	</div>

</div>


<lttsproject-form-modal
		:visible.sync="formModel.ltTsProjectFormModel.show"
		@do-update="doUpdateLtTsProject"
		:query-url="formModel.ltTsProjectFormModel.queryUrl"
		v-ref:lttsproject-form-modal>
</lttsproject-form-modal>

